<style>
    .mat-table {
        overflow: auto;
        max-height: 400px;
    }
</style>
<mat-card>
    <mat-card-content>
        <mat-card-title>Payroll</mat-card-title>
        <mat-tab-group (selectedTabChange)="onTabChanged($event)">
            <mat-tab label="Payroll Report">
                <run-payroll #ref="hideIfUnauthorized" [hideIfUnauthorized]="'ACCESS_PAYROLL'"></run-payroll>
                <div class="row" *ngIf="!ref.hide" style="margin-top: 30px;text-align: center;">
                    <div class="alert-warning m-20 p-20">You haven't been granted permissions to this module.</div>
                </div>
            </mat-tab>
            <mat-tab label="Payroll Settings">
                <div class="row col-md-12 col-lg-12">
                    <div class="row vertical-center">
                        <div class="col-md-5 col-lg-5">
                            Weekly Time Limits
                        </div>
                        <div class="col-md-7 col-lg-7">
                            Recurring Weekly Limits
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <form (ngSubmit)="onUpdateweeklyLimitSetting(weeklyLimitSettings)"
                        [formGroup]="weeklyLimitSettings">
                        <div class="row" style="min-height: 10vh !important; padding-top: 10px;">
                            <div class="col-md-5 col-lg-5">
                                Current Weekly Limit: {{!weeklyLimitSettings.getRawValue().isWeeklyLimitApplicable ? weeklyLimitSettings.getRawValue().weeklyHourLimit:
                                ''}} {{!weeklyLimitSettings.getRawValue().isWeeklyLimitApplicable ? 'hours per week': 'There
                                is no weekly limit.'}}
                            </div>
                            <div class="col-md-2 col-lg-2">
                                <mat-form-field>
                                    <input matInput formControlName="weeklyHourLimit" type="number"
                                        placeholder="Maximum Weekly Hours">
                                </mat-form-field>
                                <br>
                                <mat-checkbox formControlName="isWeeklyLimitApplicable">No weekly limit</mat-checkbox>
                            </div>
                            <div class="col-md-5 col-lg-5" style="text-align: right;">
                                <button mat-raised-button type="submit" style="background-color: #04C0BF">Save</button>
                                <button mat-raised-button type="button" (click)="onEditHourLimit()"
                                    style="margin-left:3px;background-color: #C3DEF1">Edit</button>
                                <button mat-raised-button type="button"
                                    style="margin-left:3px;background-color: #FFCB97">Remove</button>
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="row vertical-center" style="min-height: 10vh !important;">
                            <div class="col-md-2 col-lg-2">
                                <mat-checkbox formControlName="isDeductOnBreak">Deduct lunch break</mat-checkbox>
                            </div>
                            <div class="col-md-2 col-lg-2">
                                <mat-form-field>
                                    <mat-select formControlName="deductAfterTime" placeholder="Time">
                                        <mat-option value="1">30 Minutes</mat-option>
                                        <mat-option value="2">1 Hour</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </form>
                </div>
            </mat-tab>
            <mat-tab label="Payrates">
                <payRate-details #reference="hideIfUnauthorized" [hideIfUnauthorized]="'ACCESS_PAYRATES'">
                </payRate-details>
                <div class="row" *ngIf="!reference.hide" style="margin-top: 30px;text-align: center;">
                    <div class="alert-warning m-20 p-20">You haven't been granted permissions to this module.</div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>