<mat-card>
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <mat-card-title>Audit Log</mat-card-title>
      <form [formGroup]="auditLogFilter">
        <div class="row">
          <div>
            <mat-form-field class="col-md-2">
              <input matInput placeholder="Search Employee Name" formControlName="searchEmployeeName">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="col-md-2">
              <input matInput placeholder="Date Range" [satDatepicker]="picker2" formControlName="date">
              <sat-datepicker #picker2 [rangeMode]="true">
              </sat-datepicker>
              <sat-datepicker-toggle matSuffix [for]="picker2"></sat-datepicker-toggle>
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <button mat-raised-button class="btn btn-success" style="background: #3CCCD1;color: white" type="submit"
              (click)="getAuditLog()">Search</button>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <ngx-datatable class="material" [rows]="auditLog" [columnMode]="'standard'" [headerHeight]="40"
            [footerHeight]="50" [rowHeight]="'auto'" [limit]="9">
            <ngx-datatable-column [width]="300" name="Date" [flexGrow]="2" cellClass="middle" [draggable]="false">
              <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
                <div class="ellipsis" [title]="value">
                  <span>{{row['occurredOn'] | date:'MMM d, hh:mm a'}}</span>
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [width]="300" name="User" prop="user" [flexGrow]="2" cellClass="middle"
              [draggable]="false">
              <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
                <div class="ellipsis">
                  <span>{{value}}</span>
                </div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [width]="640" name="Event" prop="event" [flexGrow]="2" cellClass="middle"
              [draggable]="false">
              <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
                <div class="ellipsis">
                  <span>{{value}}</span>
                </div>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</mat-card>