<div class="row" style="background-color: rgba(209,196,233,.3);padding:20px">
    <div class="row" style="padding-top:24px">
        <div class="col-md-10 col-xs-10 col-md-offset-1 col-xs-offset-1" style="font-size: 20px"> Search your employee, substitutes and reports</div>
    </div>
    <form class="row">
        <mat-form-field class="col-md-10 col-xs-10 col-md-offset-1 col-xs-offset-1">
            <input type="tel" matInput placeholder="Search your employee, substitutes and reports">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </form>
    <div class="row">
        <div class="col-md-10 col-xs-10 col-md-offset-1 col-xs-offset-1">
            <div class="col-md-2 col-xs-2" style="padding-left: 0px">
                <i style="font-size:75px" class="material-icons">
                    image_search
                </i>
            </div>
            <div class="col-md-10 col-xs-10" style="padding-top: 15px">
                   Search for <b>employee</b>, <b>substitutes</b> or <b>reports</b> . <br> 
                   Search by <b>name</b>, <b>Job#</b>, <b>date</b>(MM/DD/YYYY) and more.
            </div>
        </div>
    </div>

</div>