<div class="row" style="background-color: rgba(209,196,233,.3);padding:20px">
    <div class="row" style="padding-top:24px">
        <div class="col-md-10 col-xs-10 col-md-offset-1 col-xs-offset-1" style="font-size: 20px"> Search your employee, substitutes and reports</div>
    </div>
    <form class="row">
        <mat-form-field class="col-md-10 col-xs-10 col-md-offset-1 col-xs-offset-1">
            <input type="tel" #inputName matInput placeholder="Search your employee, substitutes and reports">
            
        </mat-form-field>
        <button mat-icon-button class="col-md-2 col-xs-2 col-md-offset-1 col-xs-offset-1" (click)="Search(inputName.value)">
            <mat-icon matSuffix >search</mat-icon>
        </button>
    </form>
    <div class="row">
        <div class="col-md-10 col-xs-10 col-md-offset-1 col-xs-offset-1">
            <div class="col-md-2 col-xs-2" style="padding-left: 0px">
                <i style="font-size:75px" class="material-icons">
                    image_search
                </i>
            </div>
            <div class="col-md-10 col-xs-10" style="padding-top: 15px">
                   Search for <b>employee</b>, <b>substitutes</b> or <b>reports</b> . <br> 
                   Search by <b>name</b>, <b>Job#</b>, <b>date</b>(MM/DD/YYYY) and more.
            </div>
        </div>
    </div>
    <div class="row" class="search-div">
        <mat-table #table [dataSource]="dataSource" matSort>
            <!-- Position Column -->
            <ng-container matColumnDef="firstName">
              <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
              <mat-cell *matCellDef="let iEmployee" >{{iEmployee.firstName}}</mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="LastName">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
              <mat-cell *matCellDef="let iEmployee" >{{iEmployee.lastName}} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="Email">
              <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
              <mat-cell *matCellDef="let iEmployee" >{{iEmployee.email}} </mat-cell>
            </ng-container>
    
            <ng-container matColumnDef="Type">
              <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
              <mat-cell *matCellDef="let iEmployee" >{{iEmployee.roleId == 4 ? 'Substitute' : iEmployee.roleId == 3 ? 'Teacher' : 'Admin' }} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
    </div>

</div>