.heading-div {
    margin-top: 6px;
    height: 26px;
    background-color: rgba(209,196,233,.3);
    width: 100%;
    padding-top: 15px;
    padding-bottom: 40px;
}

.notification-div {
    padding: 10px;
    padding-right: -272px;
    width: 45%;
    margin-top: 15px;
}

.categories-div {
    padding: 10px;
    padding-right: -272px;
    width: 50%;
    margin-top: 15px;
}

.school-div {
    padding: 10px;
    padding-right: -272px;
    width: 40%;
    margin-top: 15px;
}

.school-save-btn {
    text-align: center;
    width: 75%;
    margin-top: 20px;
}

.categories-save-btn {
    text-align: center;
    width: 85%;
    margin-top: 50px;
}

.notification-save-btn {
    text-align: center;
    width: 75%;
    margin-top: 20px;
}