<style>
    ::ng-deep .mat-checkbox .mat-checkbox-frame {
        border-color: #76C598;
    }

    ::ng-deep .mat-checkbox-checked .mat-checkbox-background {
        background-color: #3CCCD1 !important;
    }

    ::ng-deep .mat-pseudo-checkbox {
        color: #76C598;
    }

    ::ng-deep .mat-primary .mat-pseudo-checkbox-checked,
    .mat-primary .mat-pseudo-checkbox-indeterminate {
        background: #3CCCD1;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <mat-card>
                <mat-card-title style="padding-left: 10px">My Settings</mat-card-title>
                <mat-card-content>
                    <mat-tab-group class="demo-tab-group">
                        <mat-tab *ngIf='UserRole != 4' label="Substitute Preferences">
                            <form (ngSubmit)="SaveSubstitutePreference()" [formGroup]="PreferencesFormGroup">
                                <div style="padding-top: 10px; min-height:500px"
                                    class=" col-md-10 col-md-offset-1 shadow">
                                    <div style="font-size: 15px" class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <b> Favorite Substitutes </b>
                                                <br> Remaining choices: {{5 - FavoriteSubstututes.length}}
                                            </div>
                                            <div class="col-md-7">
                                                <mat-form-field class="col-md-8 col-lg-8">
                                                    <input type="text" placeholder="Search Substitute here"
                                                        aria-label="Number"
                                                        (input)="SearchSubstitutes($event.target.value)" matInput
                                                        [matAutocomplete]="autoCom">
                                                    <mat-autocomplete #autoCom="matAutocomplete">
                                                        <mat-option
                                                            (onSelectionChange)="SelectToAddInPreferredSubstitute(user)"
                                                            *ngFor="let user of SubstituteList | async" [value]="">
                                                            <img class="img-circle"
                                                                [src]="getImage(user.profilePicture)" width="25"
                                                                height="25">
                                                            {{user.firstName}}
                                                        </mat-option>
                                                    </mat-autocomplete>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div style="height:175px" class="col-md-12">
                                        <div *ngIf='FavoriteSubstututes && FavoriteSubstututes.length'>
                                            <a *ngFor="let Substitute of FavoriteSubstututes">
                                                <mat-icon style="cursor: pointer;" #tooltip="matTooltip"
                                                    (click)="FavoriteSubstututes.splice($index,1)"
                                                    matTooltip="Remove Substitute" matTooltipPosition="left">cancel
                                                </mat-icon>{{Substitute.firstName}}
                                                <br>
                                            </a>
                                        </div>
                                    </div>
                                    <div style="font-size: 15px" class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <b> Blocked Substitutes </b>
                                                <br> Remaining choices: {{5 - BlockedSubstitutes.length}}
                                            </div>
                                            <div class="col-md-7">
                                                <mat-form-field class="col-md-8 col-lg-8">
                                                    <input type="text" placeholder="Search Substitute here"
                                                        aria-label="Number"
                                                        (input)="SearchSubstitutes($event.target.value)" matInput
                                                        [matAutocomplete]="auto">
                                                    <mat-autocomplete #auto="matAutocomplete">
                                                        <mat-option (onSelectionChange)="SelectToBlockSubstitite(user)"
                                                            *ngFor="let user of SubstituteList | async" [value]="">
                                                            <img class="img-circle"
                                                                [src]="getImage(user.profilePicture)" width="25"
                                                                height="25">
                                                            {{user.firstName}}
                                                        </mat-option>
                                                    </mat-autocomplete>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div style="height:175px;" class="col-md-12">
                                        <div *ngIf='BlockedSubstitutes && BlockedSubstitutes.length'>
                                            <a *ngFor="let Substitute of BlockedSubstitutes">
                                                <mat-icon style="cursor: pointer;" #tooltip="matTooltip"
                                                    (click)="BlockedSubstitutes.splice($index,1)"
                                                    matTooltip="Remove Substitute" matTooltipPosition="left">cancel
                                                </mat-icon>{{Substitute.firstName}}
                                                <br>
                                            </a>

                                        </div>
                                    </div>
                                    <div style="text-align: center" class="col-md-12">
                                        <button mat-raised-button style="color:white; background-color: #04c0be;"
                                            type="submit">Save</button>
                                    </div>
                                </div>
                            </form>
                        </mat-tab>
                        <mat-tab *ngIf='isSubstitute' label="School Settings">
                            <div class="row col-md-8 col-md-offset-2 mat-elevation-z8 school-div">
                                <div class="col-md-8 heading-div">
                                    <p>
                                        <b> Select Schools against which you want to get notifications.</b>
                                    </p>
                                </div>
                                <div class="col-md-8" style="height:400px; width:100%">
                                    <!-- <mat-selection-list #EnabledSchools>
                                        <mat-list-option *ngFor="let school of PreferredSchools"
                                            [value]="school.organizationId" [selected]="school.isEnabled">
                                            {{school.organizationName}}
                                        </mat-list-option>
                                    </mat-selection-list> -->
                                    <table mat-table style="width: 100%" [dataSource]="schoolsForNotification">

                                        <ng-container matColumnDef="school">
                                            <th mat-header-cell *matHeaderCellDef> School </th>
                                            <td mat-cell *matCellDef="let row"> {{row.organizationName}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="notification">
                                            <th style="padding-left: 70px;" mat-header-cell *matHeaderCellDef>Get
                                                Notification</th>
                                            <td mat-cell style="padding-left: 100px;"
                                                *matCellDef="let row ;let i = index;">
                                                <mat-checkbox color="primary" (change)="onChangeSchool(row)"
                                                    [checked]="row.isEnabled">
                                                </mat-checkbox>
                                            </td>
                                        </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="displayedColumnsForSchools"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumnsForSchools;"></tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-8 school-save-btn">
                                <button style="background-color: #04c0be; color: white;" mat-raised-button
                                    (click)="SavePreferredSchoolSettings(schoolsForNotification)">Save</button>
                            </div>
                            <!-- <div class="col-md-8" style="text-align: center; width: 85%; margin-top: 20px;">
                                    <button style="background-color: #04c0be; color: white;" mat-raised-button
                                        (click)="SavePreferredSchoolSettings(EnabledSchools)">Save</button>
                                </div> -->
                        </mat-tab>
                        <mat-tab *ngIf='isSubstitute' label="Categories Settings">

                            <div class="row col-md-8 col-md-offset-2 mat-elevation-z8 categories-div">
                                <div class="col-md-8" style="height:565px; width: 100%; margin-top: 10px;">
                                    <!-- <mat-selection-list #Category>
                                        <mat-list-option *ngFor="let category of Categories" [value]="category.id"
                                            [selected]="category.isNotificationSend">
                                            {{category.title}}
                                        </mat-list-option>
                                    </mat-selection-list> -->
                                    <mat-tab-group>
                                        <mat-tab label="Category">
                                            <div class="col-md-8 heading-div">
                                                <p>
                                                    <b> Select Categories for which you want to get notifications.</b>
                                                </p>
                                            </div>
                                            <div class="col-md-8"
                                                style="overflow-y: scroll; height:400px; width: 100%; margin-top: 10px;">
                                                <table mat-table style="width: 100%"
                                                    [dataSource]="categoriesForNotification">

                                                    <ng-container matColumnDef="category">
                                                        <th mat-header-cell *matHeaderCellDef> Category </th>
                                                        <td mat-cell *matCellDef="let row"> {{row.title}} </td>
                                                    </ng-container>

                                                    <ng-container matColumnDef="notification">
                                                        <th style="padding-left: 70px;" mat-header-cell
                                                            *matHeaderCellDef>Get
                                                            Notification</th>
                                                        <td mat-cell style="padding-left: 100px;"
                                                            *matCellDef="let row ;let i = index;">
                                                            <mat-checkbox color="primary"
                                                                (change)="onChangeCategory(row)"
                                                                [checked]="row.isNotificationSend">
                                                            </mat-checkbox>
                                                        </td>
                                                    </ng-container>
                                                    <tr mat-header-row *matHeaderRowDef="displayedColumnsForCategories">
                                                    </tr>
                                                    <tr mat-row
                                                        *matRowDef="let row; columns: displayedColumnsForCategories;">
                                                    </tr>
                                                </table>
                                            </div>

                                            <div class="categories-save-btn">
                                                <button style="background-color: #04c0be; color: white;"
                                                    mat-raised-button
                                                    (click)="SaveCategories(categoriesForNotification)">Save</button>
                                            </div>
                                        </mat-tab>
                                        <mat-tab label="Grade Level">
                                            <div class="col-md-8 heading-div">
                                                <p>
                                                    <b> Select Grade Level for which you want to get notifications.</b>
                                                </p>
                                            </div>
                                            <div class="col-md-8"
                                                style="overflow-y: scroll; height:400px; width: 100%; margin-top: 10px;">
                                                <table mat-table style="width: 100%"
                                                    [dataSource]="gradeLevelsForNotification">

                                                    <ng-container matColumnDef="grade">
                                                        <th mat-header-cell *matHeaderCellDef> Grade Level </th>
                                                        <td mat-cell *matCellDef="let row"> {{row.gradeName}}</td>
                                                    </ng-container>

                                                    <ng-container matColumnDef="notification">
                                                        <th style="padding-left: 220px;" mat-header-cell
                                                            *matHeaderCellDef>Get
                                                            Notification</th>
                                                        <td mat-cell style="padding-left: 250px;"
                                                            *matCellDef="let row ;let i = index;">
                                                            <mat-checkbox color="primary" (change)="onChangeGrade(row)"
                                                                [checked]="row.gradeNotification">
                                                            </mat-checkbox>
                                                        </td>
                                                    </ng-container>
                                                    <tr mat-header-row
                                                        *matHeaderRowDef="displayedColumnsForGradeLevels"></tr>
                                                    <tr mat-row
                                                        *matRowDef="let row; columns: displayedColumnsForGradeLevels;">
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="categories-save-btn">
                                                <button style="background-color: #04c0be; color: white;"
                                                    mat-raised-button
                                                    (click)="UpdateGradeLevelNotifications(gradeLevelsForNotification)">Save</button>
                                            </div>
                                        </mat-tab>
                                        <mat-tab label="Subjects">
                                            <div class="col-md-8 heading-div">
                                                <p>
                                                    <b> Select Subjects for which you want to get notifications.</b>
                                                </p>
                                            </div>
                                            <div class="col-md-8"
                                                style="overflow-y: scroll; height:400px; width: 100%; margin-top: 10px;">
                                                <table mat-table style="width: 100%"
                                                    [dataSource]="subjectsForNotification">

                                                    <ng-container matColumnDef="subject">
                                                        <th mat-header-cell *matHeaderCellDef> Subject </th>
                                                        <td mat-cell *matCellDef="let row"> {{row.subjectName}} </td>
                                                    </ng-container>

                                                    <ng-container matColumnDef="notification">
                                                        <th style="padding-left: 220px;" mat-header-cell
                                                            *matHeaderCellDef>Get
                                                            Notification</th>
                                                        <td mat-cell style="padding-left: 250px;"
                                                            *matCellDef="let row ;let i = index;">
                                                            <mat-checkbox color="primary"
                                                                (change)="onChangeSubject(row)"
                                                                [checked]="row.subjectNotification">
                                                            </mat-checkbox>
                                                        </td>
                                                    </ng-container>
                                                    <tr mat-header-row *matHeaderRowDef="displayedColumnsForSubjects">
                                                    </tr>
                                                    <tr mat-row
                                                        *matRowDef="let row; columns: displayedColumnsForSubjects;">
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="categories-save-btn">
                                                <button style="background-color: #04c0be; color: white;"
                                                    mat-raised-button
                                                    (click)="UpdateSubjectNotifications(subjectsForNotification)">Save</button>
                                            </div>
                                        </mat-tab>
                                    </mat-tab-group>

                                </div>

                            </div>

                        </mat-tab>
                        <mat-tab label="Notification Settings">
                            <div class="row col-md-8 col-md-offset-2 mat-elevation-z8 notification-div">
                                <div class="col-md-8 heading-div">
                                    <p>
                                        <b> Select event against which you want to get notifications.</b>
                                    </p>
                                </div>
                                <div class="col-md-8" style="width: 100%; margin-top: 10px;">
                                    <table mat-table style="width: 100%" [dataSource]="notificationEvents">

                                        <ng-container matColumnDef="event">
                                            <th mat-header-cell *matHeaderCellDef> Event </th>
                                            <td mat-cell *matCellDef="let row"> {{row.eventName}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="email">
                                            <th style="padding-left: 70px;" mat-header-cell *matHeaderCellDef>
                                                <span class="HeaderAlignment">
                                                    <i class="material-icons">
                                                        email
                                                    </i>
                                                    <span style="padding-top:5px ">Email Alert</span>
                                                </span>
                                            </th>
                                            <td mat-cell style="padding-left: 100px;"
                                                *matCellDef="let row ;let i = index;">
                                                <mat-checkbox color="primary" (change)="onChangeEmail(row)"
                                                    [checked]="row.emailAlert">
                                                </mat-checkbox>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="text">
                                            <th mat-header-cell style="padding-left: 70px;" *matHeaderCellDef>
                                                <span class="HeaderAlignment">
                                                    <i class="material-icons">
                                                        message
                                                    </i>
                                                    <span style="padding-top:5px ">Text Message Alert</span>
                                                </span>
                                            </th>
                                            <td mat-cell style="padding-left: 100px;" *matCellDef="let row">
                                                <mat-checkbox color="primary" (change)="onChangeText(row)"
                                                    [checked]="row.textAlert">
                                                </mat-checkbox>
                                            </td>
                                        </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-8 notification-save-btn">
                                <button color="primary" style="background-color: #04c0be; color: white;"
                                    mat-raised-button
                                    (click)="UpdateNotificationEvents(notificationEvents)">Save</button>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>