<div class="demo-tab-content">
    <h4>Employee Leave Balance</h4>
    <div class="row col-md-12 col-lg-12">
        <div class="row">
            <div>
                <mat-form-field class="col-md-2">
                    <mat-select placeholder="Year" [ngModel]="year">
                        <mat-option *ngFor="let year of years" [value]="year.value">
                            {{year.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="col-md-2 col-lg-2">
                    <input #inputva type="text" placeholder="Search Employee Name" aria-label="Number" (input)="SearchEmployees($event.target.value)"
                        matInput [(ngModel)]="employee" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayName">
                        <mat-option *ngFor="let employee of employees | async" [value]="employee">
                            {{employee.firstName}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="col-md-2 col-lg-2">
                <button mat-raised-button type="button" style="background-color: #04c0be; color: white;" (click)="applyFilter(inputva)">Search</button>
            </div>
            <div class="col-md-2 col-lg-2">
                <button mat-raised-button printSectionId="htmlForPrint" ngxPrint style="background:#F0F1F3; color:#A1A1A3; margin-left:5px"
                    type="button">
                    <i class="material-icons">
                        print
                    </i>
                    Print
                </button>
            </div>
        </div>
        <div class="example-container mat-elevation-z8">
            <mat-table #table [dataSource]="employeeLeaveBalance" matSort>
                <ng-container matColumnDef="Year">
                    <mat-header-cell *matHeaderCellDef> Year </mat-header-cell>
                    <mat-cell *matCellDef="let LeaveType"> 2019 </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Name">
                    <mat-header-cell *matHeaderCellDef> Employee Name </mat-header-cell>
                    <mat-cell *matCellDef="let LeaveType">
                        {{LeaveType.userName}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Personal">
                    <mat-header-cell *matHeaderCellDef> Personal Leave </mat-header-cell>
                    <mat-cell *matCellDef="let LeaveType">
                            {{LeaveType.personal ? LeaveType.personal: 'Not Created any Leave'}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Sick">
                    <mat-header-cell *matHeaderCellDef> Sick Leave </mat-header-cell>
                    <mat-cell *matCellDef="let LeaveType">
                            {{LeaveType.sick ? LeaveType.sick: 'Not Created any Leave'}}
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="Vacation">
                    <mat-header-cell *matHeaderCellDef> Vacation Leave </mat-header-cell>
                    <mat-cell *matCellDef="let LeaveType">
                            {{LeaveType.vacation ? LeaveType.vacation: 'Not Created any Leave'}}
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumnsForLeaveRequests"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnsForLeaveRequests;"></mat-row>
            </mat-table>
            <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[1, 10, 20]" [showFirstLastButtons]="true">
            </mat-paginator>
        </div>
    </div>
</div>