<div class="reset-content">
    <mat-card>
        <mat-card-content>
            <form (ngSubmit)="submitResetPassForm(resetPasswordForm)" [formGroup]="resetPasswordForm">
                <div class="col-md-12">
                    <div>
                        <b> Please note that when changing your password, we ask you to set yourself a secure password that contains
                            both uppercase and lowercase letters as well as numbers. This is for your own safety.
                        </b>
                    </div>
                    <table>
                        <tr>
                            <td class="col-md-2">New Password</td>
                            <td>
                                <mat-form-field class="col-md-8">
                                    <input autocomplete="off" type="password" matInput placeholder="New Password" formControlName="password">
                                    <mat-error *ngIf="resetPasswordForm.controls['password'].hasError('required')">
                                        Password is required.
                                    </mat-error>
                                </mat-form-field>
                                <div *ngIf="resetPassAttempt && resetPasswordForm.controls['password'].hasError('minlength') 
                                    && !resetPasswordForm.controls['password'].hasError('required')" class="col-md-4" style="color: red">
                                    Minimum 8 characters.
                                </div>
                                <div *ngIf="resetPassAttempt && !resetPasswordForm.controls['password'].hasError('minlength') 
                                && !resetPasswordForm.controls['password'].hasError('required') && resetPasswordForm.controls['password'].hasError('pattern')"
                                    class="col-md-4" style="color: red">
                                    Not a valid pattern for password.
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-2">Confirm Password</td>
                            <mat-form-field class="col-md-8">
                                <input autocomplete="off" type="password" matInput placeholder="Confirm Password" formControlName="confirmPassword">
                                <mat-error *ngIf="resetPasswordForm.controls['confirmPassword'].hasError('required')">
                                    Confirm Password is required.
                                </mat-error>
                            </mat-form-field>
                            <div *ngIf="resetPassAttempt && resetPasswordForm.errors?.mismatch && !resetPasswordForm.controls['confirmPassword'].hasError('required')"
                                class="col-md-4" style="color: red">
                                Passwords do not match.
                            </div>
                        </tr>
                    </table>
                </div>
                <div class="row col-md-offset-1" style="padding-top: 30px">
                    <button mat-raised-button style="background-color: #04c0be; color: white; margin-left: 5px" type="submit">Change Password</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>