<div class="col-md-12 col-lg-12">
    <div class="col-lg-12 col-md-12 mat-elevation-z8">
        <div class="row vertical-center">
            <div class="col-md-5 col-lg-5">
                Role
            </div>
            <div class="col-md-3 col-lg-3">
                Payments
            </div>
            <div class="col-md-4 col-lg-3" style="margin-left: 13px">
                <button mat-raised-button (click)="addNewPayRate()" type="button">
                    Add
                    <i class="material-icons">add</i>
                </button>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row vertical-center" *ngFor="let payRate of payRates">
            <div class="col-md-5 col-lg-5">
                <div class="row col-md-6 col-lg-6">
                    <mat-form-field>
                        <mat-select placeholder="Position">
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let position of positions" [value]="position.id">
                                {{position.title}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-1 col-lg-1">
                Daily:
            </div>
            <div class="col-md-1 col-lg-1">
                <mat-form-field>
                    <input matInput type="number" placeholder="rate">
                </mat-form-field>
            </div>
            <div class="col-md-1 col-lg-1">
                <mat-select placeholder="period">
                    <mat-option value="1">Daily</mat-option>
                    <mat-option value="2">Hourly</mat-option>
                </mat-select>
            </div>
            <div class="col-md-3 col-lg-3">
                <div class="col-md-12 col-lg-12" style="text-align: left;">
                    <button mat-raised-button type="submit" style="background-color: #04C0BF; color: white">Save</button>
                    <button mat-raised-button type="button" (click)="onEditHourLimit()" style="margin-left:3px;background-color: #C3DEF1">Edit</button>
                </div>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="row vertical-center">
        </div>
    </div>
</div>
<div class="col-md-12 col-lg-12">
    <div class="col-md-12 vertical-center">
        <div class="row">
            <div class="col-md-12">Rules</div>
        </div>
    </div>
    <div class="col-md-5 col-lg-5 mat-elevation-z8">
        <div class="row vertical-center">
            <div class="col-md-12">Payrate</div>
        </div>
        <mat-divider></mat-divider>
        <div class="row vertical-center">
            <div class="col-md-3">
                <mat-form-field>
                    <mat-select placeholder="Position">
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let position of positions" [value]="position.id">
                            {{position.title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field>
                    <input matInput type="number" placeholder="Increase After">
                    <span matSuffix>Days</span>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field>
                    <input matInput type="number" placeholder="Payment">
                    <span matPrefix>$&nbsp;</span>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <button mat-raised-button type="submit" style="background-color: #04C0BF;color: white">
                    <mat-icon style="font-size: 20px">check</mat-icon>OK</button>
            </div>
            <div class="col-md-2">
                <button mat-raised-button type="button" style="background-color: #F1F1F3">
                    <mat-icon style="color:#d20e0f;font-size:15px;font-weight: bold;">close</mat-icon>
                </button>
            </div>
        </div>
        <div class="row vertical-center">
            <div class="col-md-3">
                <mat-form-field>
                    <mat-select placeholder="Position">
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let position of positions" [value]="position.id">
                            {{position.title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field>
                    <input matInput type="number" placeholder="Increase After">
                    <span matSuffix>Days</span>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field>
                    <input matInput type="number" placeholder="Payment">
                    <span matPrefix>$&nbsp;</span>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <button mat-raised-button type="submit" style="background-color: #04C0BF;color: white">
                    <mat-icon style="font-size: 20px">check</mat-icon>OK</button>
            </div>
            <div class="col-md-2">
                <button mat-raised-button type="button" style="background-color: #F1F1F3">
                    <mat-icon style="color:#d20e0f;font-size:15px;font-weight: bold;">close</mat-icon>
                </button>
            </div>
        </div>
        <div class="row vertical-center">
            <div class="col-md-3">
                <mat-form-field>
                    <mat-select placeholder="Position">
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let position of positions" [value]="position.id">
                            {{position.title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field>
                    <input matInput type="number" placeholder="Increase After">
                    <span matSuffix>Days</span>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field>
                    <input matInput type="number" placeholder="Payment">
                    <span matPrefix>$&nbsp;</span>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <button mat-raised-button type="submit" style="background-color: #04C0BF;color: white">
                    <mat-icon style="font-size: 20px">check</mat-icon>OK</button>
            </div>
            <div class="col-md-2">
                <button mat-raised-button type="button" style="background-color: #F1F1F3">
                    <mat-icon style="color:#d20e0f;font-size:15px;font-weight: bold;">close</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>