// .vertical-center {  
//     min-height: 7vh;
//     display: flex;
//     align-items: center;
//   }

  .vertical-center {  
    padding-top: 10px;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }