<div class="row">
    <div class="col-md-12">
        <div class="row">
            <mat-card>
                <mat-card-title>
                    Account Settings
                </mat-card-title>
                <mat-card-content>
                    <mat-tab-group class="demo-tab-group" (selectedTabChange)="onChangeTab($event)">
                        <mat-tab *ngIf='UserRole === 9' label="Lists">
                            <div style="padding-top:10px ">
                                <div class="row col-md-12">
                                    <div class="col-md-6" style="text-align:right">
                                        <mat-form-field *ngIf='showDetail'>
                                            <input matInput type="text" placeholder="List Name">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6" style="text-align:right">
                                        <button mat-raised-button class="btn btn-success" style="background: #3CCCD1;color: white" type="button" (click)="showDetail = !showDetail">Create List</button>
                                    </div>
                                </div>
                                <div *ngIf='showDetail' class="row col-md-12">
                                    <div class="row" *ngFor="let sub of substituteList">
                                        <mat-form-field class="col-md-3">
                                            <input matInput type="text" [(ngModel)]="sub.firstName" placeholder="first name">
                                        </mat-form-field>
                                        <mat-form-field class="col-md-3">
                                            <input matInput disabled type="text" [(ngModel)]="sub.lastName" placeholder="last name">
                                        </mat-form-field>
                                        <mat-form-field class="col-md-3">
                                            <input matInput disabled type="text" [(ngModel)]="sub.phoneNumber" placeholder="phone">
                                        </mat-form-field>
                                        <mat-form-field class="col-md-3">
                                            <input matInput type="text" [(ngModel)]="sub.tag" placeholder="tags">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div *ngIf='showDetail' style="text-align: right" class="row col-md-12">
                                    <button mat-raised-button class="btn btn-success" style="background: #3CCCD1;color: white" type="button" (click)="saveSubstituteList(substituteList)">Save</button>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab *ngIf='UserRole === 9' label="Payroll Settings">
                            <div class="row col-md-8 col-md-offset-2">
                                <div class="row">
                                    <div class="col-md-12" style="margin-top:10px;text-align: center">
                                        <b>
                                            These subs will have
                                            <mat-form-field style="width:75px">
                                                <mat-select [(value)]="TimeCustomDelay" placeholder="hours">
                                                    <mat-option value="1">12 hours</mat-option>
                                                    <mat-option value="2">6 hours</mat-option>
                                                    <mat-option value="3">2 hours</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            to accept the request before we notify the rest of your sub.
                                        </b>
                                    </div>
                                    <div class="col-md-12">
                                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                                            <ng-container matColumnDef="event">
                                                <th mat-header-cell *matHeaderCellDef> Event </th>
                                                <td mat-cell *matCellDef="let row"> {{row.Event}} </td>
                                            </ng-container>

                                            <!-- Weight Column -->
                                            <ng-container matColumnDef="email">
                                                <th mat-header-cell *matHeaderCellDef>
                                                    <span class="HeaderAlignment">
                                                        <i class="material-icons">
                                                            email
                                                        </i>
                                                        <span style="padding-top:5px ">Email Alert</span>
                                                    </span>
                                                </th>
                                                <td mat-cell *matCellDef="let row ;let i = index;">
                                                    <mat-checkbox color="primary" (click)="$event.stopPropagation()" (change)="$event ? ChangeNotificationPreference(row, 'Email') : null"
                                                        [checked]="row.Email">
                                                    </mat-checkbox>
                                                    {{row.Email}}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="text">
                                                <th mat-header-cell *matHeaderCellDef>
                                                    <span class="HeaderAlignment">
                                                        <i class="material-icons">
                                                            message
                                                        </i>
                                                        <span style="padding-top:5px ">Text Message Alert</span>
                                                    </span>
                                                </th>
                                                <td mat-cell *matCellDef="let row">
                                                    <mat-checkbox color="primary" (click)="$event.stopPropagation()" (change)="$event ? ChangeNotificationPreference(row, 'Text') : null"
                                                        [checked]="row.Text">
                                                    </mat-checkbox>
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="voice">
                                                <th mat-header-cell *matHeaderCellDef>
                                                    <span class="HeaderAlignment">
                                                        <i class="material-icons">
                                                            record_voice_over
                                                        </i>
                                                        <span style="padding-top:5px ">Voice Alert</span>
                                                    </span>
                                                </th>
                                                <td mat-cell *matCellDef="let row">
                                                    <mat-checkbox color="primary" (click)="$event.stopPropagation()" (change)="$event ? ChangeNotificationPreference(row,'voice') : null"
                                                        [checked]="row.voice">
                                                    </mat-checkbox>
                                                </td>
                                            </ng-container>
                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                        </table>

                                    </div>
                                </div>
                                <div class="row" style="padding-top: 20px">
                                    <div class="col-md-12" style="text-align: center">
                                        <button color="primary" mat-raised-button (click)="SaveCustomSettings()">Save</button>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab *ngIf='UserRole === 9' label="Calendar Settings">

                        </mat-tab>
                        <mat-tab *ngIf='isSubstitute' label="Categories Settings">
                            <div class="row col-md-8 col-md-offset-2">
                                <div class="col-md-12" style="margin-top: 6px;height: 26px;background-color: rgba(209,196,233,.3);">
                                    <p>
                                        <b> Select Categories against which you want to get notifications.</b>
                                    </p>
                                </div>
                                <div class="col-md-12" style="overflow-y: scroll; height:400px;">
                                    <mat-selection-list #Category>
                                        <mat-list-option *ngFor="let category of Categories" [value]="category.id" [selected]="category.isNotificationSend">
                                            {{category.title}}
                                        </mat-list-option>
                                    </mat-selection-list>
                                </div>
                                <div class="col-md-12" style="text-align: center">
                                    <button color="primary" mat-raised-button (click)="SaveCategories(Category)">Save</button>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab *ngIf='isSubstitute' label="School Settings">
                            <div class="row col-md-8 col-md-offset-2">
                                <div class="col-md-12" style="margin-top: 6px;height: 26px;background-color: rgba(209,196,233,.3);">
                                    <p>
                                        <b> Select Schools against which you want to get notifications.</b>
                                    </p>
                                </div>
                                <div class="col-md-12" style="overflow-y: scroll; height:400px;">
                                    <mat-selection-list #EnabledSchools>
                                        <mat-list-option *ngFor="let school of PreferredSchools" [value]="school.organizationId" [selected]="school.isEnabled">
                                            {{school.organizationName}}
                                        </mat-list-option>
                                    </mat-selection-list>
                                </div>
                                <div class="col-md-12" style="text-align: center">
                                    <button color="primary" mat-raised-button (click)="SavePreferredSchoolSettings(EnabledSchools)">Save</button>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab *ngIf='!isSubstitute && UserRole != 3' label="General">
                            <div class="row col-md-12" style="text-align: center">
                                <mat-form-field class="col-md-3 col-lg-3">
                                    <mat-select placeholder="School" (selectionChange)="onchangeOrganization()" [disabled]="accessibilityOfOrganizationDropdown"
                                        [(ngModel)]="OrganizationId">
                                        <mat-option>--</mat-option>
                                        <mat-option *ngFor="let organization of organizations" [value]="organization.schoolId">
                                            {{organization.schoolName}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <form [formGroup]="schoolSettings" (ngSubmit)="submitGeneralSettings(schoolSettings)">
                                <div class="row col-md-12">
                                    <b>School Times</b>
                                    <br>
                                    <mat-form-field class="col-md-2" form>
                                        <input matInput type="time" formControlName="schoolStartTime" placeholder="Start Time">
                                    </mat-form-field>
                                    <mat-form-field class="col-md-2">
                                        <input matInput type="time" formControlName="schoolEndTime" placeholder="End Time">
                                    </mat-form-field>
                                    <mat-form-field class="col-md-2">
                                        <input matInput type="time" formControlName="school1stHalfEnd" placeholder="First Half End Time">
                                    </mat-form-field>
                                    <mat-form-field class="col-md-2">
                                        <input matInput type="time" formControlName="school2ndHalfStart" placeholder="Second Half Start Time">
                                    </mat-form-field>
                                </div>
                                <mat-divider></mat-divider>
                                <div class="row col-md-12">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <b> Daily Absence Limits </b>
                                        </div>
                                        <div class="col-md-4">
                                            <b>Maximum Daily Absences</b>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4" style="padding-top: 20px">
                                            Current Daily Limit: {{schoolSettings.value.isAbsenceLimit ? 'There is no Limit': schoolSettings.value.dailyAbenceLimit +
                                            ' Absences'}}
                                        </div>
                                        <div class="col-md-4">
                                            <mat-form-field>
                                                <input matInput formControlName="dailyAbenceLimit" type="number" placeholder="time">
                                            </mat-form-field>
                                            <br>
                                            <mat-checkbox class="col-md-12" formControlName="isAbsenceLimit" style="padding: 0px !important" color="primary">
                                                No Daily Limit
                                            </mat-checkbox>
                                        </div>
                                    </div>
                                </div>
                                <mat-divider></mat-divider>
                                <div class="row col-md-12">
                                    <b>Job Release</b>
                                    <br> Subs can release jobs
                                    <mat-form-field style="width:75px">
                                        <mat-select placeholder="Time" formControlName="releaseJobTime">
                                            <mat-option value="12">12 hours</mat-option>
                                            <mat-option value="6">6 hours</mat-option>
                                            <mat-option value="2">2 hours</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    before we notify the rest of your sub.
                                </div>
                                <mat-divider></mat-divider>
                                <div class="row col-md-12">
                                    <b>Notification Settings</b>
                                    <br> Preferred subs will have
                                    <mat-form-field style="width:75px">
                                        <mat-select placeholder="Time" formControlName="notifyOthersTime">
                                            <mat-option value="12">12 hours</mat-option>
                                            <mat-option value="6">6 hours</mat-option>
                                            <mat-option value="2">2 hours</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    to accept the request before we notify the rest of your sub.
                                </div>
                                <mat-divider></mat-divider>
                                <div class="row col-md-12">
                                    <button mat-raised-button type="submit" style="background-color: #74a4a7; color: white;">Save</button>
                                </div>
                            </form>
                        </mat-tab>
                    </mat-tab-group>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>