<div class="row">
  <div class="col-md-12 col-lg-12" style="text-align: right">
    <a>
      <button mat-raised-button (click)="onOpenPositionPopup()" style="background: #3CCCD1; color: white;" [hideIfUnauthorized]="'ADD_EDIT_SUBSTITUTE_POSITIONS'">Add position</button>
    </a>
  </div>
  <div class="col-md-12 col-lg-12">
    <div class="mat-elevation-z8">
      <!-- <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div> -->
      <mat-table #table [dataSource]="positionsDataSource" matSort>
        <!-- Position Column -->
        <ng-container matColumnDef="Title">
          <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
          <mat-cell *matCellDef="let postion"> {{postion.title}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Visibility">
          <mat-header-cell *matHeaderCellDef> Visibility </mat-header-cell>
          <mat-cell *matCellDef="let postion">
            <i class="material-icons">
              {{postion.isVisible ? 'check' : 'close' }}
            </i>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <i class="material-icons" style="cursor: pointer; color: #448ac9" #tooltip="matTooltip" matTooltip="Delete Position" matTooltipPosition="below" (click)="deletePosition(row.id)" [hideIfUnauthorized]="'ADD_EDIT_SUBSTITUTE_POSITIONS'">delete_sweep</i>
            <i class="material-icons" style="cursor: pointer;margin-left: 10px; color: #f19f4d" #tooltip="matTooltip" matTooltip="Edit Position" matTooltipPosition="below" (click)="editPosition(row)" [hideIfUnauthorized]="'ADD_EDIT_SUBSTITUTE_POSITIONS'">edit</i>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[1, 10, 20]" [showFirstLastButtons]="true">
      </mat-paginator>
    </div>
  </div>
</div>