<div class="container">
    <div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
        <Subzz-app-SideNav></Subzz-app-SideNav>
        <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
            <mat-sidenav class="col-md-2" opened="{{isOpen}}" (keydown.escape)="toggle()" [mode]="mobileQuery.matches ? 'over' : 'side'"
                [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
                <mat-nav-list *ngIf='userTemplate && userTemplate.length'>
                    <a mat-list-item [routerLinkActive]="['active']" routerLink="/{{userTempplateObj.stateMachine}}" *ngFor="let userTempplateObj of userTemplate">{{userTempplateObj.name}}</a>
                </mat-nav-list>
            </mat-sidenav>
            <mat-sidenav-content class="col-md-10">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="ibox">
                            <div class="ibox-title" style="background-color: #018c9c;">
                                <span class="stat-percent" style="font-size: 20px;margin-right:10px;color: white">{{dashboardCounter.totalCount}}</span>
                                <h5 class="label label-success" style="line-height:2px!important;font-size: 92%!important; background-color: #1F99A8">Total Absences</h5>
                            </div>
                            <div class="ibox-content" style="background-color: #0ea2b3;">
                                <div class="stat-percent font-bold text-success" style="color: white">{{dashboardCounter.totalPrevious !==0 ? (dashboardCounter.totalCount - dashboardCounter.totalPrevious)
                                    /dashboardCounter.totalPrevious * 100 : dashboardCounter.totalCount === dashboardCounter.totalPrevious ? 0 : 100}}%
                                    <i class="fa fa-level-up"></i>
                                </div>
                                <small style="color: white">Previous Day</small>
                                <div style="color: white">{{dashboardCounter.totalPrevious}}</div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="ibox">
                            <div class="ibox-title" style="background-color: #4cb278;">
                                <span class="stat-percent" style="font-size: 20px;margin-right:10px;color: white">{{dashboardCounter.filled}}</span>
                                <h5 class="label label-info" style="line-height:2px!important;font-size: 92%!important; background-color: #5FBB88">Filled</h5>
                            </div>
                            <div class="ibox-content" style="background-color:#75c598;">
                                <div class="stat-percent font-bold text-info" style="color: white">{{dashboardCounter.filledPrevious !==0 ? (dashboardCounter.filled - dashboardCounter.filledPrevious)
                                    /dashboardCounter.filledPrevious * 100 : dashboardCounter.filled === dashboardCounter.filledPrevious ? 0 : 100}}%
                                    <i class="fa fa-level-up"></i>
                                </div>
                                <small style="color: white">Previous Day</small>
                                <div style="color: white">{{dashboardCounter.filledPrevious}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="ibox ">
                            <div class="ibox-title" style="background-color:#11c0c9;">
                                <span class="stat-percent" style="font-size: 20px;margin-right:10px;color: white">{{dashboardCounter.unfilled}}</span>
                                <h5 class="label label-primary" style="line-height:2px!important;font-size: 92%!important;background-color: #2FC6D1">Unfilled</h5>
                            </div>
                            <div class="ibox-content" style="background-color:#57d3d9;">
                                <div class="stat-percent font-bold text-navy" style="color: white">{{dashboardCounter.unfilledPrevious !==0 ? (dashboardCounter.unfilled - dashboardCounter.unfilledPrevious)
                                    /dashboardCounter.unfilledPrevious * 100 : dashboardCounter.unfilled === dashboardCounter.unfilledPrevious ? 0 : 100}}%
                                    <i class="fa fa-level-up" style="color: white"></i>
                                </div>
                                <small style="color: white">Previous Day</small>
                                <div style="color: white">{{dashboardCounter.unfilledPrevious}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="ibox ">
                            <div class="ibox-title" style="background-color: #548e91;">
                                <span class="stat-percent" style="font-size: 20px;margin-right:10px;color: white">{{dashboardCounter.noSubRequired}}</span>
                                <h5 class="label label-danger" style="line-height:2px!important;font-size: 92%!important;background-color: #6899A0">No Sub Required</h5>
                            </div>
                            <div class="ibox-content" style="background-color:#74A4A7;">
                                <div class="stat-percent font-bold text-danger" style="color: white">{{dashboardCounter.noSubRequiredPrevious !==0 ? (dashboardCounter.noSubRequired - dashboardCounter.noSubRequiredPrevious)
                                    /dashboardCounter.noSubRequiredPrevious * 100 : dashboardCounter.noSubRequired === dashboardCounter.noSubRequiredPrevious ? 0 : 100}}%
                                    <i class="fa fa-level-up"></i>
                                </div>
                                <small style="color: white">Previous Day</small>
                                <div style="color: white">{{dashboardCounter.noSubRequiredPrevious}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="ibox-title">
                            Absence Summary
                        </div>
                        <div>
                            <canvas  id="absenceSummary"></canvas>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="ibox-title">
                            Absence Reason
                        </div>
                        <div>
                            <canvas id="absenceReason"></canvas>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="ibox-title">
                            Pending Time Off Requests ({{submittedLeaveRequests.length}})
                        </div>
                        <div>
                            <div *ngIf="submittedLeaveRequests.length == 0"><h5 style="text-align:center;">There is no Pending leaves.</h5></div>
                            <mat-list>
                                <mat-list-item style="height: 76px;" *ngFor="let leave of submittedLeaveRequests">
                                    <div class="col-md-1">
                                        <img class="img-circle" src="assets/Images/noimage.png" height="30" width="25" />
                                    </div>
                                    <div style="font-size: 10px" class="col-md-4">
                                        <b>{{leave.employeeName}}</b>
                                        <br> {{leave.leaveTypeName}}-{{ leave.totalDays + 1 }} {{ leave.totalDays + 1 > 1 ? 'Days'
                                        : 'Day'}}
                                    </div>
                                    <div style="font-size: 11px" class="col-md-4">
                                        {{ leave.startDate | date:'E, M/d/y' }}
                                        <div *ngIf = "leave.startDate != leave.endDate">{{ leave.endDate | date:'E, M/d/y' }}</div>
                                        
                                    </div>
                                    <div class="col-md-3">
                                        <i class="material-icons" style="cursor: pointer;color:#00B945;font-weight: bold;" #tooltip="matTooltip" matTooltip="Approve"
                                            matTooltipPosition="above" (click)="onApproveClick(leave.leaveRequestId)">check</i>
                                        <i class="material-icons" style="cursor: pointer;color:#D70812;font-weight: bold;" #tooltip="matTooltip" matTooltip="Deny"
                                            matTooltipPosition="above" (click)="onDenyClick(leave.leaveRequestId)">close</i>
                                    </div>
                                    <mat-divider></mat-divider>
                                </mat-list-item>
                            </mat-list>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class=" ibox-title">
                            Filled / Unfilled 10 Day Trend
                        </div>
                        <div>
                            <canvas height="100" id="filledunfilledAbsence">{{ filledunfilledAbsence }}</canvas>
                        </div>
                    </div>
                </div>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</div>