<div class="example-container">
  <Subzz-app-SideNav></Subzz-app-SideNav>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-9">
      <h1>Substitute Availability</h1>
      <div id="calendar"></div>
      <!-- <table cellpadding="10" cellspacing="10">
        <tr>
          <th>Substitute</th>
          <th *ngFor="let tag of tags">{{tag}}</th>
        </tr>
        <tr *ngFor="let item of tagsByTimeStamp">
          <td>{{item.key}}</td>
          <td *ngFor="let tag of tags">
            {{ item.value[tag] }}
          </td>
        </tr>
      </table> -->
    </div>
  </div>
</div>