<mat-card [hideIfUnauthorized]="'VIEW_SUBSTITUTE_AVAILABILITY'">
  <form [formGroup]="userForm">
    <div class="row">
      <div class="col-md-11">
        <mat-card-title>Substitute Availability</mat-card-title>
        <div class="row">
          <div>
            <mat-form-field class="col-md-3">
              <input matInput placeholder="Date Range" [satDatepicker]="picker2" formControlName="date">
              <sat-datepicker #picker2 [rangeMode]="true">
              </sat-datepicker>
              <sat-datepicker-toggle matSuffix [for]="picker2"></sat-datepicker-toggle>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="col-md-3">
              <mat-select placeholder="Status" formControlName="availabilityStatusId">
                <mat-option value="0">Available</mat-option>
                <mat-option value="1">Unavailable</mat-option>
                <mat-option value="2">Vacation</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <ng-select #api placeholder="Search by name" formControlName="userId" [items]="resources"
              [searchable]="false" bindLabel="title" bindValue="id" class="col-md-3">
              <ng-template ng-header-tmp>
                <input style="width: 100%; line-height: 24px" type="text" (input)="api.filter($event.target.value)" />
              </ng-template>
              <ng-template ng-option-tmp let-item="item" let-index="index">
                <div class="media">
                  <div class="media-body">
                    <h5 class="subtitle">
                      <img [src]="getImage(item.profilePicUrl)" width="30"
                        height="30">&nbsp;&nbsp;{{ item.title }}
                    </h5>
                  </div>
                </div>
              </ng-template>
            </ng-select>
          </div>
          <div class="col-md-3">
            <button type="button" mat-raised-button class="btn btn-success"
              (click)="onSubmit(userForm)">Search</button>&nbsp;
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="col-md-1 substitute-is-available"></div>
            <div class="col-md-2" style="padding-top: 15px; padding-left: 0px">Available</div>
            <div class="col-md-1 substitute-is-unavailable"></div>
            <div class="col-md-2" style="padding-top: 15px; padding-left: 0px">Unavailable</div>
            <div class="col-md-1 substitute-is-vacations"></div>
            <div class="col-md-2" style="padding-top: 15px; padding-left: 0px">Vacation</div>
          </div>
        </div>
        <div id="calendar" class="substitute-availability"></div>
      </div>
    </div>
  </form>
</mat-card>