<mat-card>
    <mat-card-content>
        <mat-card-title style="padding-left: 10px">Time Clock</mat-card-title>
        <!-- <subzz-time-clock></subzz-time-clock> -->
        <mat-tab-group class="demo-tab-group">
            <mat-tab *ngIf="userRole != 1 && userRole != 2" label="Time Clock">
                <div class="col-md-4 timeClockTable">
                    <div style="padding:10px;">
                        <h4>{{date}} {{time}}</h4>
                    </div>
                    <hr>
                    <div class="col-lg-10" style="padding: 10px;padding-bottom: 25px;">
                        <div class="col-md-4">
                            <button mat-raised-button class="btn btn-success" style="background: #14A1DA; color: white;"
                                (click)="clockInClick()">Clock In</button>
                        </div>
                        <div class="col-md-4" style="padding-left: 7px;">
                            <button mat-raised-button class="btn btn-success" style="background: #1BB253; color: white;"
                                (click)="breakClick()">Take Break
                            </button>
                        </div>
                        <div class="col-md-4">
                            <button mat-raised-button class="btn btn-success" style="background:#C60B0E; color: white;"
                                (click)="clockOutClick()">Clock Out
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 timeSheetTable">
                    <form *ngIf="timeClockFormGroup" [formGroup]="timeClockFormGroup">
                        <div class="row vertical-center" style="padding:10px;">
                            <div class="col-md-5">
                                <h4>My Timesheets</h4>
                            </div>
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="col-md-10 col-lg-10">
                                    <mat-select formControlName="viewDataBy"
                                        (selectionChange)="OnchangeTimeClockView(timeClockFormGroup.value.viewDataBy)">
                                        <mat-option value="1">All</mat-option>
                                        <mat-option value="2">Last 7 days</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </form>
                    <div class="row col-md-12 col-lg-12">
                        <mat-table #table [dataSource]="timeClockDetail" matSort>
                            <!-- Position Column -->
                            <ng-container matColumnDef="Date">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
                                <mat-cell *matCellDef="let timeClock"> {{timeClock.clockInDate | date:'E, M/d/y' }}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="Clockin">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Clock In </mat-header-cell>
                                <mat-cell *matCellDef="let timeClock">
                                    {{timeClock.clockInTime | convertFrom24HourTo12HourFormat}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="Clockout">
                                <mat-header-cell *matHeaderCellDef> Clock Out </mat-header-cell>
                                <mat-cell *matCellDef="let timeClock">
                                    {{timeClock.clockOutTime == "00:00:00" ? "----" : (timeClock.clockOutTime | convertFrom24HourTo12HourFormat)}}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="activity">
                                <mat-header-cell *matHeaderCellDef> Activity </mat-header-cell>
                                <mat-cell *matCellDef="let timeClock"> {{timeClock.activity}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="Length">
                                <mat-header-cell *matHeaderCellDef> Length </mat-header-cell>
                                <mat-cell *matCellDef="let timeClock">
                                    {{ timeClock.totalMinutes < 60 ? timeClock.totalMinutes + ' Min' : ((timeClock.totalMinutes/60 | round) + ' Hr ' + timeClock.totalMinutes%60 + ' Min')}}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="Break">
                                <mat-header-cell *matHeaderCellDef> Break </mat-header-cell>
                                <mat-cell *matCellDef="let timeClock">
                                    <!-- {{ timeClock.status == 0 ? 'No Break' : 'Break' }} -->
                                    <!-- {{ timeClock.totalBreakTime == 0 ? '0 Min' : timeClock.totalBreakTime + ' min' }} -->
                                    <!-- {{timeClock.hoursAndMinutes}} -->
                                    {{timeClock.totalBreakTime < 60 ? timeClock.totalBreakTime + ' Min' : ((timeClock.totalBreakTime/60 | round) + ' Hr ' + timeClock.totalBreakTime%60 + ' Min')}}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="Status">
                                <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                                <mat-cell *matCellDef="let timeClock">
                                    <!-- {{ timeClock.status == 0 ? 'No Break' : 'Break' }} -->
                                    <b style="color: red;">{{ timeClock.status }} </b>
                                </mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                        </mat-table>
                        <div class="row mt-30" *ngIf="noDataMessage">
                            <div class="alert-warning m-20 p-20">No data to display.</div>
                        </div>
                        <mat-paginator #paginator [pageSize]="3" [pageSizeOptions]="[1, 3, 5]"
                            [showFirstLastButtons]="true">
                        </mat-paginator>
                        <div style="margin:25px;">
                            <table class="table">
                                <tr>
                                    <td>
                                        <b>Total:</b>
                                    </td>
                                    <!-- <td>{{totalMinutes + ' min'}}</td> -->
                                    <td>{{ (totalTimeInHours | round) == 0 ? (totalTimeInMinutes + ' Min ') : ((totalTimeInHours | round) + ' Hr ') + ((totalTimeInMinutes) + ' Min ')}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Without Breaks:</b>
                                    </td>
                                    <!-- <td>{{withoutBreakTime + ' min'}}</td> -->
                                    <td>{{(totalWithoutBreakTimeInHours | round) == 0 ? (totalWithoutBreakTimeInMinutes + ' Min ') : ((totalWithoutBreakTimeInHours | round) + ' Hr ') + ((totalWithoutBreakTimeInMinutes) + ' Min ')}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Breaks:</b>
                                    </td>
                                    <!-- <td>{{totalBreaksForTimeSheet + ' min'}}</td> -->
                                    <td>{{ (totalBreakTimeInHours | round) == 0  ? (totalBreakTimeInMinutes + ' Min ') : ((totalBreakTimeInHours | round) + ' Hr ') + ((totalBreakTimeInMinutes) + ' Min ')}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab *ngIf="userRole != 4 && userRole != 3" label="Time Tracker">
                <time-tracker [hideIfUnauthorized]="'VIEW_EDIT_TIME_TRACKER'"></time-tracker>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>