.timeClockTable {
    padding: 5px;
    box-shadow: 0px 0px 25px -5px grey;
    margin: 30px;
    color: rgba(0, 0, 0, 0.61);
}

.timeSheetTable {
    padding: 5px;
    box-shadow: 0px 0px 25px -5px grey;
    margin: 30px;
    color: rgba(0, 0, 0, 0.61);
}

.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    z-index: 2;
  }
  
  h1.example-app-name {
    margin-left: 8px;
  }
  
  .example-sidenav-container {
    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
    flex: 1 0 auto;
  }
  .active{
    background:  rgba(209,196,233,.3);
    border-left: 4px solid #15192F;
  }

  .mat-table {
    overflow: auto;
    max-height: 400px;
  }
  .mat-column-Date {
    flex: 0 0 5% !important;
    min-width: 100px !important;
  }
  
  .mat-column-Clockin {
    flex: 0 0 5% !important;
    min-width: 80px !important;
  }
  
  .mat-column-Clockout {
    flex: 0 0 5% !important;
    min-width: 80px !important;
  }
  
  .mat-column-activity {
    flex: 0 0 5% !important;
    min-width: 80px !important;
  }
  .mat-column-Length {
    flex: 0 0 5% !important;
    min-width: 80px !important;
  }

  .mat-column-Break {
    flex: 0 0 5% !important;
    min-width: 80px !important;
  }
  .mat-column-Status {
    flex: 0 0 5% !important;
    min-width: 100px !important;
  }
 