.report-filters{
  .header-panel {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 8px 20px;
    color: rgba(0,0,0,.54);
    background: rgba(0,0,0,.03);
  }
  .title-bar {
    align-items: center;
    display: flex;
    .title {
      font-weight: 400;
    }
  }
  label{
    margin-top: 16px;
  }
  .w-100 {
    width: 100%;
  }
}