.report-filters{
  label{
    margin-top: 16px;
  }
  .w-100 {
    width: 100%;
  }
}

.filters-panel-header
{
  height: 48px !important;
  background: #d1d1d1;
}
.filter-options-button
{
  background: #3c3c3f;
  padding-left: 20px;
  color: white;
  font-weight: bold;
  margin-right: 30px;
}