<mat-card>
<mat-tab-group>
  <mat-tab label="User Accounts">
    <p class="p-5" style="margin-top: 10px">Edit user permissions under Edit Permissions.</p>
    <hr>
    <!-- <section>
      <button class="btn btn-success" type="button" (click)="addUser()">Create User Account</button>&nbsp;
      <button class="btn btn-danger" type="button" (click)="removeUsers()">Remove</button>
    </section> -->
    <br>
    <section [hideIfUnauthorized]="'MANAGE_PERMISSIONS'">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-sm-4 no-pad-left">
            <div>
              <input type="text" class="form-control" placeholder="Search User" (keyup)="updateUsers($event)" (keydown.enter)="$event.preventDefault()"
              />
            </div>
          </div>
        </div>
        <div class="row col-md-12 col-lg-12">
          <ngx-datatable class="material" [rows]="rowsUsers" [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="0" [rowHeight]="50"
            [selectionType]="'checkbox'" [selected]="selectedUsers" (select)="onUserSelect($event)" [sorts]="[{ prop: 'userName', dir: 'asc' }]">
            <ngx-datatable-column [width]="30" [headerCheckboxable]="true" [checkboxable]="true" cellClass="middle">
            </ngx-datatable-column>
            <ngx-datatable-column name="User name" prop="userName" [flexGrow]="1" cellClass="middle" [draggable]="false">
              <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
                <div class="ellipsis" [title]="value">{{ value }}</div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Email address" prop="email" [flexGrow]="1" cellClass="middle" [draggable]="false">
              <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
                <div class="ellipsis" [title]="value">{{ value }}</div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Role" [width]="50" prop="roleName" [flexGrow]="1" cellClass="middle ellipsis" [draggable]="false">
              <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
                <div class="ellipsis" [title]="value">{{ value }}</div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Actions" [width]="300"  [sortable]="false" [flexGrow]="2" [draggable]="false" [canAutoResize]="false">
              <ng-template let-rowIndex="rowIndex" let-id="value" let-row="row" ngx-datatable-cell-template>
                <div class="btn-group" dropdown container="body" placement="bottom right">
                  <button type="button" class="btn btn-default" [routerLink]="['/role/permissions', row['roleId'], row['userId']]">Edit Permissions</button>
                </div>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable> 
        </div>
      </div>
    </section>
  </mat-tab>
  <mat-tab label="User Roles" *ngIf="userRole == 5">
    <p class="p-5" style="margin-top: 10px">Assign roles to users to give them access to apps and services hosted on your account. There are several predefined user
      roles. You can modify them or create your own custom roles.</p>
    <hr>
    <section>
      <button class="btn btn-success" type="button" [routerLink]="['/role/permissions', 0]">Create User Role</button>&nbsp;
      <button class="btn btn-danger" type="button" (click)="removeRoles()">Remove</button>
    </section>
    <br>
    <section>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-sm-4 no-pad-left">
            <div>
              <input type="text" class="form-control" placeholder="Search Role" (keyup)="updateRoles($event)" (keydown.enter)="$event.preventDefault()"
              />
            </div>
          </div>
        </div>
        <div>
          <ngx-datatable class="material" [rows]="rowsRoles" [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="0" [rowHeight]="50"
            [selectionType]="'checkbox'" [selected]="selectedRoles" (select)="onRoleSelect($event)" [sorts]="[{ prop: 'name', dir: 'asc' }]">
            <ngx-datatable-column [width]="30" [headerCheckboxable]="true" [checkboxable]="true" cellClass="middle">
            </ngx-datatable-column>
            <ngx-datatable-column name="Role name" prop="name" [flexGrow]="2" cellClass="middle" [draggable]="false">
              <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
                <div class="ellipsis" [title]="value">{{ value }}</div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Users" prop="usersCount" [flexGrow]="2" cellClass="middle" [draggable]="false">
              <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
                <div class="ellipsis" [title]="value">{{ value }}</div>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Actions" [width]="250" [sortable]="false" [draggable]="false" [canAutoResize]="false">
              <ng-template let-rowIndex="rowIndex" let-id="value" let-row="row" ngx-datatable-cell-template>
                <div class="btn-group" dropdown container="body" placement="bottom right">
                  <button type="button" class="btn btn-default" [routerLink]="['/role/permissions', row['role_Id'], row['role_d']]">Permissions</button>
                </div>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </section>
  </mat-tab>
</mat-tab-group>
</mat-card>