<mat-card>
    <mat-card-title>
        {{userIdForUpdate ? 'Edit Staff': 'Add Staff'}}
    </mat-card-title>
    <mat-card-content>
        <form (ngSubmit)="onSubmitEmployeeForm(employeeForm)" [formGroup]="employeeForm">
            <div class="row">
                <table class="col-md-6 col-md-offset-1 employeeForm-table">
                    <tr>
                        <td class="col-md-3">First Name</td>
                        <td>
                            <mat-form-field class="col-md-7">
                                <input matInput placeholder="First Name" formControlName="FirstName">
                                <mat-error *ngIf="employeeForm.controls['FirstName'].hasError('required')">
                                    First Name is required.
                                </mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-3">Last Name</td>
                        <td>
                            <mat-form-field class="col-md-7">
                                <input matInput placeholder="Last Name" formControlName="LastName">
                                <mat-error *ngIf="employeeForm.controls['LastName'].hasError('required')">
                                    Last Name is required.
                                </mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-3">District</td>
                        <td>
                            <mat-form-field class="col-md-7">
                                <mat-select placeholder="District" formControlName="District" (selectionChange)="onChangeDistrict($event.value)">
                                    <mat-option>--</mat-option>
                                    <mat-option *ngFor="let district of Districts" [value]="district.districtId">
                                        {{district.districtName}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="employeeForm.controls['District'].hasError('required')">
                                    District is required.
                                </mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-3">Position</td>
                        <td>
                            <mat-form-field class="col-md-7">
                                <mat-select placeholder="Position" (selectionChange)="onChangeEmployeeType($event.value)" formControlName="UserTypeId">
                                    <mat-option>--</mat-option>
                                    <mat-option *ngFor="let userType of userTypes" [value]="userType.id">
                                        {{userType.title}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="employeeForm.controls['UserTypeId'].hasError('required')">
                                    Position is required.
                                </mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr *ngIf="employeeForm.value.UserTypeId == 1">
                        <td class="col-md-3">Grade</td>
                        <td>
                            <mat-form-field class="col-md-7">
                                <mat-select placeholder="Grade" formControlName="TeachingLevel">
                                    <mat-option>--</mat-option>
                                    <mat-option *ngFor="let teachingLevel of TeachingLevels" [value]="teachingLevel.id">
                                        {{teachingLevel.title}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr *ngIf="employeeForm.value.UserTypeId == 1">
                        <td class="col-md-3">Subject</td>
                        <td>
                            <mat-form-field class="col-md-7">
                                <mat-select placeholder="Subject" formControlName="Speciality">
                                    <mat-option>--</mat-option>
                                    <mat-option *ngFor="let subject of teachingSubjects" [value]="subject.id">
                                        {{subject.title}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-3">Work Location</td>
                        <td>
                            <mat-radio-group (change)="OnchangeWorkLocation($event.value)" formControlName="WorkLocaion" class="col-md-7">
                                <mat-radio-button color="primary" value="1" style="margin-right: 22px">District Level
                                </mat-radio-button>
                                <br>
                                <mat-radio-button color="primary" value="2">Campus/Building</mat-radio-button>
                            </mat-radio-group>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-3">Subzz Role</td>
                        <td>
                            <mat-form-field class="col-md-7">
                                <mat-select placeholder="Subzz Role" formControlName="role" required>
                                    <mat-option>--</mat-option>
                                    <mat-option *ngFor="let role of roles" [disabled]="(employeeForm.value.WorkLocaion == 1 && role.roleId == 2) || (employeeForm.value.WorkLocaion == 2 && role.roleId == 1) || (role.roleId == 4 || role.roleId == 5)" [value]="role.roleId">
                                        {{role.roleName}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="employeeForm.controls['role'].hasError('required')">
                                    Subzz Role is required.
                                </mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr *ngIf='employeeForm.getRawValue().WorkLocaion == "2"'>
                        <td class="col-md-3">Primary School</td>
                        <td>
                            <mat-form-field class="col-md-7">
                                <mat-select placeholder="Primary School" formControlName="OrganizationId" required>
                                    <mat-option>--</mat-option>
                                    <mat-option (click)="onSelectPrimarySchool(Organization.schoolId)" *ngFor="let Organization of Organizations" [value]="Organization.schoolId">
                                        {{Organization.schoolName}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="employeeForm.controls['OrganizationId'].hasError('required')">
                                    Primary School is required.
                                </mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr *ngIf='(employeeForm.value.WorkLocaion == "2") && (employeeForm.value.UserTypeId == 2 || employeeForm.value.UserTypeId == 3 || employeeForm.value.UserTypeId == 4)'>
                        <td class="col-md-3">Can also access the schools</td>
                        <td>
                            <mat-form-field class="col-md-7">
                                <mat-select placeholder="Can also access the schools" formControlName="SecondarySchools" multiple>
                                    <mat-option-select-all></mat-option-select-all>
                                    <mat-option *ngFor="let organization of Organizations" [disabled]="employeeForm.value.OrganizationId === organization.schoolId"
                                        [value]="organization.schoolId">
                                        {{organization.schoolName}} {{employeeForm.value.OrganizationId === organization.schoolId ? '(Primary School)': ''}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-3">Mobile Number</td>
                        <td>
                            <mat-form-field hintLabel="Min 7 and Max 11 characters" class="col-md-7">
                                <input matInput #mobile minlength="7" maxlength="11" formControlName="PhoneNumber" placeholder="Mobile Number">
                                <mat-hint align="end">{{mobile.value?.length || 0}}/11</mat-hint>
                                <mat-error *ngIf="employeeForm.controls['PhoneNumber'].hasError('pattern')">
                                    Only numbers allowed.
                                </mat-error>
                                <mat-error *ngIf="employeeForm.controls['PhoneNumber'].hasError('required')">
                                    Mobile Number is required.
                                </mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-3">Work Email Address</td>
                        <td>
                            <mat-form-field class="col-md-7">
                                <input matInput type="email" autocomplete="off" placeholder="Email" formControlName="EmailId">
                                <mat-error *ngIf="employeeForm.controls['EmailId'].hasError('email')">
                                    Not a valid email.
                                </mat-error>
                                <mat-error *ngIf="employeeForm.controls['EmailId'].hasError('required')">
                                    Email is required.
                                </mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-3">Email Alerts</td>
                        <td>
                            <mat-radio-group formControlName="IsSubscribedEmail" #radioGroup="matRadioGroup" class="col-md-7">
                                <mat-radio-button color="primary" value="1" style="margin-right: 10px">Yes
                                </mat-radio-button>
                                <mat-radio-button color="primary" value="0">No
                                </mat-radio-button>
                            </mat-radio-group>
                        </td>
                    </tr>
                    <!-- <tr>
                        <td class="col-md-3">Text Alerts</td>
                        <td>
                            <mat-radio-group formControlName="IsSubscribedSMS" #radioGroup="matRadioGroup" class="col-md-7">
                                <mat-radio-button color="primary" value="1" style="margin-right: 10px">Yes
                                </mat-radio-button>
                                <mat-radio-button color="primary" value="0">No
                                </mat-radio-button>
                            </mat-radio-group>
                        </td>
                    </tr> -->
                </table>
                <div class="col-md-4" style="margin-top: 10px;">
                    <div>
                        <h5>Profile Picture</h5>
                    </div>
                    <div>
                        <img [src]="profilePicture" width="150" height="150">
                    </div>
                    <div style="padding-top: 5px">
                        <input type="file" id="UploadButton" style="display: none;" (change)="onSelectProfileImage($event)">
                        <button mat-button type="button" matTooltip="Upload Image" (click)="uploadClick()" style="color:white; background-color: #04c0be; padding: 0px 7px;">
                            Upload
                            <i class="material-icons">add</i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row col-md-offset-1" style="padding-top: 30px">
                <a routerLink="./../../employees">
                    <button mat-raised-button type="button" style="background-color: #74a4a7; color: white;">Back</button>
                </a>
                <button mat-raised-button style="background-color: #04c0be; color: white; margin-left: 5px" type="submit">{{userIdForUpdate ? 'Update': 'Add Staff to Database'}}</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>