<mat-card>
    <mat-card-title>
        Add Employee
    </mat-card-title>

    <mat-card-content>
        <form (ngSubmit)="onSubmitEmployeeForm(employeeForm)" class="row" [formGroup]="employeeForm">
            <div class="row col-md-12">
                <div class="col-md-10 col-lg-10">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row">
                            <mat-form-field class="col-md-6 col-lg-6">
                                <input matInput placeholder="First Name" formControlName="FirstName">
                            </mat-form-field>
                            <mat-form-field class="col-md-6 col-lg-6">
                                <input matInput placeholder="Last Name" formControlName="LastName">
                            </mat-form-field>

                        </div>
                        <div class="row">
                            <mat-form-field class="col-md-6 col-lg-6">
                                <mat-select placeholder="Role" (selectionChange)="onChangeEmployeeType($event.value)" formControlName="UserTypeId">
                                    <mat-option>--</mat-option>
                                    <mat-option *ngFor="let userType of userTypes" [value]="userType.id">
                                        {{userType.title}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="col-md-6 col-lg-6">
                                <input matInput type="email" placeholder="Email" formControlName="EmailId">
                                <mat-error *ngIf="employeeForm.controls['EmailId'].hasError('email')">Not a valid email</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="row" *ngIf="employeeForm.value.UserTypeId == 1">
                            <mat-form-field class="col-md-6 col-lg-6">
                                <mat-select placeholder="Grade" formControlName="TeachingLevel">
                                    <mat-option>--</mat-option>
                                    <mat-option *ngFor="let teachingLevel of TeachingLevels" [value]="teachingLevel.id">
                                        {{teachingLevel.title}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="col-md-6 col-lg-6">
                                <mat-select placeholder="Subject" formControlName="TeachingLevel">
                                    <mat-option>--</mat-option>
                                    <mat-option *ngFor="let subject of teachingSubjects" [value]="subject.id">
                                        {{subject.title}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-lg-6" style="margin-top: 10px">
                                Work Location
                                <br>
                                <mat-radio-group (change)="OnchangeWorkLocation($event)" formControlName="WorkLocaion" #radioGroupForLocation="matRadioGroup">
                                    <mat-radio-button color="primary" value="1">District Level</mat-radio-button>
                                    <mat-radio-button style="padding-left:10px" color="primary" value="2">Campus/Building</mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <mat-form-field *ngIf='radioGroupForLocation.value == "1"' class="col-md-6 col-lg-6">
                                <mat-select placeholder="District" formControlName="District" required>
                                    <mat-option>--</mat-option>
                                    <mat-option *ngFor="let district of Districts" [value]="district.districtId">
                                        {{district.districtName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field *ngIf='radioGroupForLocation.value == "2"' class="col-md-6 col-lg-6">
                                <mat-select placeholder="Primary School" formControlName="OrganizationId"
                                    required>
                                    <mat-option>--</mat-option>
                                    <mat-option *ngFor="let Organization of Organizations" (click)="onChangeSchool(Organization.schoolId)" [value]="Organization.schoolId">
                                        {{Organization.schoolName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field *ngIf='radioGroupForLocation.value == "2"' class="col-md-6 col-lg-6">
                                <mat-select placeholder="Can also access the schools" formControlName="SecondarySchools" multiple>
                                    <mat-option-select-all></mat-option-select-all>
                                    <mat-option *ngFor="let organization of Organizations" [disabled]="employeeForm.value.OrganizationId === organization.schoolId"
                                        [value]="organization.schoolId">
                                        {{organization.schoolName}} {{employeeForm.value.OrganizationId === organization.schoolId ? '(Primary School)': ''}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <!-- <div class="row">
                            <mat-form-field class="col-md-6 col-lg-6" hintLabel="Max 11 characters">
                                <input matInput #input maxlength="11" formControlName="PhoneNumber" placeholder="Contact Number">
                                <mat-hint align="end">{{input.value?.length || 0}}/11</mat-hint>
                                <mat-error *ngIf="employeeForm.controls['PhoneNumber'].hasError('pattern')">Only numbers allowed</mat-error>
                            </mat-form-field>
                            <div class="col-md-2 col-lg-2">
                                <label class="col-md-6 col-lg-6" for="mat-radio-group" style="margin-top:10px">Certified</label>
                                <mat-radio-group class="col-md-6 col-lg-6" style="margin-top:10px" formControlName="IsCertified" #radioGroup="matRadioGroup">
                                    <mat-radio-button color="primary" class="col-md-6 col-lg-6" value="0">No</mat-radio-button>
                                    <mat-radio-button color="primary" class="col-md-6 col-lg-6" value="1">Yes</mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div class="col-md-2 col-lg-2">
                                <label class="col-md-6 col-lg-6" style="margin-top:10px">Gender</label>
                                <mat-radio-group class="col-md-6 col-lg-6" style="margin-top:10px" formControlName="Gender">
                                    <mat-radio-button color="primary" class="col-md-6 col-lg-6" value="M">Male</mat-radio-button>
                                    <mat-radio-button color="primary" class="col-md-6 col-lg-6" value="F">Female</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div> -->
                        <div class="row">
                            <mat-form-field style="margin-top:10px;" class="col-md-6 col-lg-6" hintLabel="Max 11 characters">
                                <input matInput #input maxlength="11" formControlName="PhoneNumber" placeholder="Contact Number">
                                <mat-hint align="end">{{input.value?.length || 0}}/11</mat-hint>
                                <mat-error *ngIf="employeeForm.controls['PhoneNumber'].hasError('pattern')">Only numbers allowed
                                </mat-error>
                            </mat-form-field>
                            <div class="col-md-3 col-lg-3" style="margin-left:-16px">
                                <label class="col-md-8 col-lg-8" for="mat-radio-group" style="margin-top:10px;font-weight:100;">Email Alerts:
                                </label>
                                <mat-radio-group class="col-md-3 col-lg-3" style="margin-top:10px" formControlName="IsSubscribedEmail" #radioGroup="matRadioGroup">
                                    <mat-radio-button color="primary" class="col-md-6 col-lg-6" value="0">No
                                    </mat-radio-button>
                                    <mat-radio-button color="primary" class="col-md-6 col-lg-6" value="1">Yes
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div class="col-md-3 col-lg-3">
                                <label class="col-md-8 col-lg-8" for="mat-radio-group" style="margin-top:10px;font-weight:100;">Text Alerts:
                                </label>
                                <mat-radio-group class="col-md-3 col-lg-3" style="margin-top:10px" formControlName="IsSubscribedSMS" #radioGroup="matRadioGroup">
                                    <mat-radio-button color="primary" class="col-md-6 col-lg-6" value="0">No
                                    </mat-radio-button>
                                    <mat-radio-button color="primary" class="col-md-6 col-lg-6" value="1">Yes
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2">
                    <div>
                        <h4 style="text-align:center">Profile Picture</h4>
                    </div>
                    <div class="row">
                        <img [src]="profilePicture" width="200" height="200">
                    </div>
                    <div class="row">
                        <input type='file' (change)="onSelectProfileImage($event)">
                    </div>
                </div>
            </div>
            <div class="row col-md-12" style="text-align:right;margin-top: 10px">
                <a routerLink="./../../employees">
                    <button mat-raised-button type="button" style="background-color: #04c0be; color: white; margin-right: 5px;">Back</button>
                </a>
                <button mat-raised-button style="background-color: #74a4a7; color: white;" type="submit">{{userIdForUpdate ? 'Update': 'Save'}}</button>

            </div>
        </form>
    </mat-card-content>
</mat-card>