 <!-- <style>
  /* Structure */

  .example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }

  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .mat-table {
    overflow: auto;
    max-height: 400px;
  }
</style>  -->
<mat-card>
  <mat-card-title>Staff</mat-card-title>
  <div class="row" *ngIf='UserRole == 5'>
    <div class="col-md-2 col-lg-2">
      <mat-select placeholder="Select District" (selectionChange)="onChangeDistrict($event.value)">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let district of Districts" [value]="district.districtId">
            {{district.districtName}}
        </mat-option>
    </mat-select>
    </div>  
    <div class="col-md-10 col-lg-10" style="text-align: right">
        <a routerLink="/manage/employees/addemployee">
          <button mat-raised-button style="background: #3CCCD1; color: white; margin-right: 30px;" [hideIfUnauthorized]="'ADD_EDIT_EMPLOYEE'">Add Staff</button>
        </a>
      </div>
      
  </div>
    <div class="col-md-12 col-lg-12" style="text-align: right" *ngIf='UserRole != 5'>
        <a routerLink="/manage/employees/addemployee">
          <button mat-raised-button style="background: #3CCCD1; color: white; margin-right: 14px;" [hideIfUnauthorized]="'ADD_EDIT_EMPLOYEE'">Add Staff</button>
        </a>
      </div>
    <div class="row col-md-12 col-lg-12">
      <div class="example-container mat-elevation-z8">
        <div class="row example-header">
          <div class="col-md-3">
            <mat-form-field>
                <mat-icon matPrefix >search</mat-icon>
              <input matInput #inputName [(ngModel)]="employeeName" placeholder="Search Employee">
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field>
              <input matInput #inputLoc [(ngModel)]="location" placeholder="Search Location">
            </mat-form-field>
          </div>
          <div>
            <button mat-raised-button class="btn btn-success" style="background: #3CCCD1;color: white" type="submit" (click)="applyFilter(inputName, inputLoc)">Search</button>
          </div>
        </div>
        <mat-table #table [dataSource]="dataSource" matSort>
          <!-- Position Column -->
          <ng-container matColumnDef="firstName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
            <mat-cell *matCellDef="let iEmployee"> {{iEmployee.firstName}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="LastName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
            <mat-cell *matCellDef="let iEmployee"> {{iEmployee.lastName}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Email">
            <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
            <mat-cell *matCellDef="let iEmployee"> {{iEmployee.email}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="PhoneNumber">
            <mat-header-cell *matHeaderCellDef> Phone No </mat-header-cell>
            <mat-cell *matCellDef="let iEmployee"> {{iEmployee.phoneNumber}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="location">
            <mat-header-cell *matHeaderCellDef> Location </mat-header-cell>
            <mat-cell *matCellDef="let iEmployee"> {{iEmployee.organizationName ? iEmployee.organizationName: iEmployee.districtName}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Role">
            <mat-header-cell *matHeaderCellDef> Role </mat-header-cell>
            <mat-cell *matCellDef="let iEmployee"> {{iEmployee.roleName}} </mat-cell>
          </ng-container>
          <!-- <ng-container matColumnDef="Approver">
            <mat-header-cell *matHeaderCellDef> Approver </mat-header-cell>
            <mat-cell *matCellDef="let iEmployee"> </mat-cell>
          </ng-container> -->
          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <!-- <a style="cursor: pointer;" #tooltip="matTooltip" matTooltip="Send Welcome Letter" (click)="sendWelcomeLetter(row)" matTooltipPosition="below">
              Send Welcome
            </a> -->
              <a style="cursor: pointer;" #tooltip="matTooltip" matTooltip="Delete Employee" matTooltipPosition="below">
                <i class="material-icons" (click)="DeleteEmployee(row)" [hideIfUnauthorized]="'ADD_EDIT_EMPLOYEE'">delete_sweep</i>
              </a>
              <a style="cursor: pointer;margin-left: 10px" #tooltip="matTooltip" matTooltip="Edit Employee" matTooltipPosition="below">
                <i class="material-icons" (click)="EditEmployee(row)" [hideIfUnauthorized]="'ADD_EDIT_EMPLOYEE'">edit</i>
              </a>
              <a style="cursor: pointer;margin-left: 10px" #tooltip="matTooltip" matTooltip="View Detail" matTooltipPosition="below">
                <i class="material-icons" (click)="ViewEmployeeDetail(row)">visibility</i>
              </a>
              <a style="cursor: pointer;margin-left: 10px" #tooltip="matTooltip" [hideIfUnauthorized]="'ADD_EDIT_EMPLOYEE'" matTooltip="Reset Password" (click)="resetPassword(row.userId)"
                matTooltipPosition="below">
                <span class="fa-passwd-reset fa-stack">
                  <i class="fa fa-undo fa-stack-2x"></i>
                  <i class="fa fa-lock fa-stack-1x"></i>
                </span>
              </a>
              <a style="cursor: pointer;margin-left: 10px" #tooltip="matTooltip" [hideIfUnauthorized]="'ADD_EDIT_EMPLOYEE'" matTooltip="Resend Welcome Letter" matTooltipPosition="below">
                <i class="material-icons" (click)="ResendWelcomeLetter(row)">send</i>
              </a>
              <mat-slide-toggle #tooltip="matTooltip" style="margin-left:5px" [matTooltip]="row.isActive ? 'Click To Inactivate' : 'Click To Activate'"
                matTooltipPosition="above" [checked]="row.isActive" [hideIfUnauthorized]="'ADD_EDIT_EMPLOYEE'" (change)="UpdateEmployeeStatus(row)" color=""></mat-slide-toggle>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <div class="row mt-30" *ngIf="dataSource.length == 0">
          <div class="alert-warning m-20 p-20">No data to display.</div>
        </div>
        <mat-paginator [length]="resultsLength" [pageSize]="30">
        </mat-paginator>
      </div>
    </div>
  
</mat-card>