<style>
    /* Structure */
  .example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  </style>
  <h3>Employees</h3>
  <div>
      <div class="row">
          <div class="col-md-12 col-lg-12" style="text-align: right">
                  <a routerLink="/manage/employees/addemployee"> <button mat-raised-button color="primary">Add</button></a>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-12 col-lg-12">
          <div class="example-container mat-elevation-z8">
              <div class="example-header">
                  <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                  </mat-form-field>
                </div>
              <mat-table #table [dataSource]="dataSource" matSort>
                <!-- Position Column -->
                <ng-container matColumnDef="FirstName">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
                  <mat-cell *matCellDef="let iEmployee"> {{iEmployee.firstName}} </mat-cell>
                </ng-container> 
            
                <ng-container matColumnDef="LastName" >
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
                  <mat-cell *matCellDef="let iEmployee"> {{iEmployee.lastName}} </mat-cell>
                </ng-container>
            
                <ng-container matColumnDef="Email">
                  <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
                  <mat-cell *matCellDef="let iEmployee"> {{iEmployee.email}} </mat-cell>
                </ng-container>
            
                <ng-container matColumnDef="PhoneNumber">
                  <mat-header-cell *matHeaderCellDef> Phone No </mat-header-cell>
                  <mat-cell *matCellDef="let iEmployee"> {{iEmployee.phoneNumber}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <a style="cursor: pointer;" #tooltip="matTooltip" matTooltip="Delete Employee" matTooltipPosition="below">
                        <i class="material-icons" (click)="DeleteEmployee(row)">delete_sweep</i>
                      </a>
                      <a style="cursor: pointer;margin-left: 10px" #tooltip="matTooltip" matTooltip="Edit Employee" matTooltipPosition="below">
                        <i class="material-icons" (click)="EditEmployee(row)">edit</i>
                      </a>
                      <a style="cursor: pointer;margin-left: 10px" #tooltip="matTooltip" matTooltip="View Detail" matTooltipPosition="below">
                        <i class="material-icons" (click)="ViewEmployeeDetail(row)">visibility</i>
                      </a>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
              <mat-paginator [length]="resultsLength" [pageSize]="30">
              </mat-paginator>
            </div>
      </div>    
  </div>