<style>
    .organizationForm-table {
        text-align: left;
        font-size: 12px;
    }
</style>
<mat-card>
    <mat-card-title>
        Add Organziation
    </mat-card-title>

    <mat-card-content>
        <form (ngSubmit)="onSubmit(organizationForm)" [formGroup]="organizationForm">
            <table class="row col-md-offset-1 organizationForm-table">
                <tr>
                    <td class="col-md-2">Organization’s Name</td>
                    <td>
                        <mat-form-field class="col-md-4">
                            <input matInput placeholder="Organization Name" formControlName="Name">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-2">Country</td>
                    <td>
                        <mat-form-field class="col-md-4">
                            <mat-select placeholder="Country" formControlName="Country"
                                (selectionChange)="onChange($event.value)" required>
                                <mat-option>--</mat-option>
                                <mat-option *ngFor="let country of countries" [value]="country.countryId">
                                    {{country.countryName}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="organizationForm.controls['Country'].hasError('required')">Please choose
                                any country</mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-2">Address</td>
                    <td>
                        <mat-form-field hintLabel="Min 20 and Max 50 characters" class="col-md-4">
                            <textarea matInput #address minlength="20" maxlength="50" placeholder="Address" formControlName="Address" matTextareaAutosize
                                matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-2">City</td>
                    <td>
                        <mat-form-field hintLabel="Min 2 and Max 30 characters" class="col-md-4">
                            <input matInput #city minlength="2" maxlength="30" placeholder="City" formControlName="City">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-2">State</td>
                    <td>
                        <mat-form-field class="col-md-4">
                            <mat-select placeholder="state" formControlName="State">
                                <mat-option>--</mat-option>
                                <mat-option *ngFor="let state of states  | async" [value]="state.stateId">
                                    {{state.stateName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-2">Zip Code</td>
                    <td>
                        <mat-form-field hintLabel="Min 3 and Max 6 characters" class="col-md-4">
                            <input matInput type="number" placeholder="Zip Code" formControlName="ZipCode">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-2">Phone Number</td>
                    <td>
                        <mat-form-field class="col-md-4">
                            <input matInput #zipCode minlength="3" maxlength="6" type="number" placeholder="Phone No" formControlName="PhoneNo">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-2">Time Zone</td>
                    <td>
                        <mat-form-field class="col-md-4">
                            <mat-select placeholder="Select Time Zone" formControlName="TimeZone">
                                <mat-option>-- Select Any --</mat-option>
                                <mat-option value="4">(GMT+09:30) Adelaide</mat-option>
                                <mat-option value="5">(GMT+10:00) Canberra, Melbourne, Sydney</mat-option>
                                <mat-option value="6">(GMT+11:00) Magadan, Solomon Islands, New Caledonien</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-2">Number of Schools</td>
                    <td>
                        <mat-form-field class="col-md-4">
                            <input matInput placeholder="No. Schools" formControlName="NoSchools">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-2">Number of Users</td>
                    <td>
                        <mat-form-field class="col-md-4">
                            <input matInput placeholder="No. Users" formControlName="NoUsers">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="content-center" style="padding-top: 20px">
                        <button mat-raised-button style="background-color: #04c0be; color: white;" type="submit">Save
                            Organization to Database</button>
                        <a routerLink="/manage/districts">
                            <button mat-raised-button type="button"
                                style="background-color: #74a4a7; color: white; margin-left: 5px">Back</button>
                        </a>
                    </td>
                </tr>
            </table>
        </form>
    </mat-card-content>
</mat-card>