<div style="background-color: rgba(209,196,233,.3); padding: 5px; margin: -15px;">
  <mat-card>
    <form [formGroup]="declineAbsenceForm" (submit)="onSubmit(declineAbsenceForm)">
      <div class="row" style="height: 350px; overflow-y: auto;">
        <div class="col-md-12">
          <b>Please tell us why you are decline this job :</b>
        </div>
        <div class="col-md-12">
          <mat-radio-group formControlName="reasonId" (change)="onChangeReason($event.value)">
            <mat-radio-button color="primary" [value]="7">
              Unavailable
            </mat-radio-button>
            <br>
            <mat-radio-button color="primary" [value]="8">
              Not best fit
            </mat-radio-button>
            <br>
            <mat-radio-button color="primary" [value]="4">
              Other
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="col-md-12" style="padding-top: 5px">
          <mat-form-field appearance="outline" style="width: 330px;" hintLabel="Min 7 and Max 100 characters">
            <textarea formControlName="reasonText" matInput #Text maxlength="100"
              style="max-height: 80px; min-height: 80px;">
              </textarea>
            <mat-hint align="end">{{Text.value.length || 0}}/100</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-md-12" style="padding-bottom: 10px; margin-top: 10px">
          <b>Are you sure you want to decline this job ?</b>
        </div>
        <div class="col-md-12">
          <button mat-raised-button style="background-color: #04c0be; color: white; border-style: double" type="submit">
            Yes, decline request
          </button>
          <button mat-raised-button
            style="background-color: white; color: #04c0be; margin-left: 10px; border-style: double"
            (click)="onCloseDialog()">
            No, don't decline
          </button>
        </div>
      </div>
    </form>
  </mat-card>
</div>