<div class="Leave-content">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="LeaveForm" (ngSubmit)="onSubmit(LeaveForm)">
                <h4>Add New Leave</h4>
                <div>
                    <mat-form-field class="col-md-12">
                        <input matInput placeholder="Leave Name" formControlName="leaveTypeName" required>
                    </mat-form-field>
                </div>
                <!-- <div>
                    <mat-form-field class="col-md-12">
                        <input matInput placeholder="Starting Balance" type="number" formControlName="startingBalance">
                    </mat-form-field>
                </div> -->
                <div style="text-align: left">
                    <mat-checkbox class="col-md-12" color="primary" formControlName="isSubtractAllowance">
                        This leave type subtracts days from an allowance (e.g. vacation)
                    </mat-checkbox>
                </div>
                <div style="text-align: left">
                    <mat-checkbox class="col-md-12" color="primary" formControlName="isApprovalRequired">
                        This leave type needs to be approved
                    </mat-checkbox>

                </div>
                <div style="text-align: left">
                    <mat-checkbox class="col-md-12" color="primary" formControlName="isVisible">
                        This leave type is visible to all users scheduling absence
                    </mat-checkbox>

                </div>
                <div>
                    <a routerLink="./../../leave" style="padding-right: 5px">
                        <button mat-raised-button style="background-color: #04c0be; color: white;">Back</button>
                    </a>
                    <button mat-raised-button style="background-color: #74a4a7; color: white;">Save</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>