.vertical-center {  
  min-height: 10vh;
  display: flex;
  align-items: center;
}

.mat-table {
  overflow: auto;
  max-height: 400px;
}
.mat-column-LeaveTypeName {
  flex: 0 0 5% !important;
  min-width: 220px !important;
}

.mat-column-Allowance {
  flex: 0 0 5% !important;
  min-width: 190px !important;
}
.mat-column-Approval {
  flex: 0 0 5% !important;
  min-width: 190px !important;
}
.mat-column-Visible {
  flex: 0 0 5% !important;
  min-width: 190px !important;
}
.mat-column-action {
  flex: 0 0 5% !important;
  min-width: 150px !important;
}