<style>
  .not-empty-select.mat-selected {
    color: #448ac9 !important;
  }

  :host /deep/ .mat-select-value-text {
    color: #448ac9 !important;
  }
</style>
<mat-card>
  <mat-card-content>
    <mat-card-title>Leave</mat-card-title>
    <mat-tab-group class="demo-tab-group" [selectedIndex]="selectedTab" (selectedTabChange)="onTabChange($event.index)">
      <mat-tab  label="Leave">
        <mat-card>
          <div class="row">
            <div class="col-md-12 col-lg-12">
              <h4>Absence Reasons</h4>
              <div style="text-align: right">
                <a routerLink="./AddLeave">
                  <button mat-raised-button style="background-color:#04c0be; color: white;"
                    [hideIfUnauthorized]="'ADD_EDIT_LEAVE_TYPE'">Add Leave</button>
                </a>
              </div>
              <div class="example-container mat-elevation-z8">
                <mat-table #table [dataSource]="dataSourceForLeaveTypes" matSort>
                  <!-- Position Column -->
                  <ng-container matColumnDef="LeaveTypeName">
                    <mat-header-cell *matHeaderCellDef> Leave Type </mat-header-cell>
                    <mat-cell *matCellDef="let LeaveType"> {{LeaveType.leaveTypeName}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="Allowance">
                    <mat-header-cell *matHeaderCellDef> Subtract Allowance </mat-header-cell>
                    <mat-cell *matCellDef="let LeaveType">
                      <i class="material-icons">
                        {{LeaveType.isSubtractAllowance ? 'check' : 'close' }}
                      </i>
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="Approval">
                    <mat-header-cell *matHeaderCellDef> Approval Required </mat-header-cell>
                    <mat-cell *matCellDef="let LeaveType">
                      <i class="material-icons">
                        {{LeaveType.isApprovalRequired ? 'check' : 'close' }}
                      </i>
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="Visible">
                    <mat-header-cell *matHeaderCellDef> Make Visible </mat-header-cell>
                    <mat-cell *matCellDef="let LeaveType">
                      <i class="material-icons">
                        {{LeaveType.isVisible ? 'check' : 'close' }}
                      </i>
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="CreatedDate">
                    <mat-header-cell *matHeaderCellDef> Created Date </mat-header-cell>
                    <mat-cell *matCellDef="let LeaveType"> {{LeaveType.createdDate | date }}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                      <i class="material-icons" *ngIf='!row.isSubtractAllowance' style="cursor: pointer; color: #448ac9"
                        #tooltip="matTooltip" matTooltip="Delete Leave" matTooltipPosition="below"
                        (click)="deleteLeaveType(row.leaveTypeId)"
                        [hideIfUnauthorized]="'ADD_EDIT_LEAVE_TYPE'">delete_sweep</i>
                      <i class="material-icons" style="cursor: pointer;margin-left: 10px; color:  #448ac9"
                        #tooltip="matTooltip" matTooltip="Edit Leave" matTooltipPosition="below"
                        (click)="editLeaveType(row.leaveTypeId)" [hideIfUnauthorized]="'ADD_EDIT_LEAVE_TYPE'">edit</i>
                    </mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedColumnsForLeaveTypes; sticky: true"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumnsForLeaveTypes;"></mat-row>
                </mat-table>
                <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[1, 10, 20]" [showFirstLastButtons]="true">
                </mat-paginator>
              </div>
            </div>
          </div>
        </mat-card>
      </mat-tab>
      <mat-tab [hideIfUnauthorized]="'APPROVE_DENY_REQUESTS'"
        label="Time Off Requests ({{submittedLeaveRequests.length}})">
        <!-- md-dynamic-height md-stretch-tabs -->
        <mat-tab-group *ngIf="selectedTab == 1" [selectedIndex]="0" (selectedTabChange)="tabClick($event)">
          <mat-tab label="Absence Requests">
            <mat-card>
              <div class="row">
                <div class="col-md-12 col-lg-12">
                  <ngx-datatable class="material" [rows]="submittedLeaveRequests" [columnMode]="'standard'"
                    [headerHeight]="40" [footerHeight]="30" [rowHeight]="'auto'" [limit]="5">
                    <ngx-datatable-column [width]="'230'" name="Employee Name" [flexGrow]="2" cellClass="middle"
                      [draggable]="false">
                      <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
                        <div class="ellipsis" [title]="value">
                          <span>
                            <img class="img-circle" [src]="getImage(row['employeeProfilePicUrl'])" height="40"
                              width="40" />
                            {{ row['employeeName'] }}
                          </span>
                        </div>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [width]="'210'" name="Leave" [flexGrow]="2" cellClass="middle"
                      [draggable]="false">
                      <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
                        <div class="ellipsis" [title]="value">
                          <span>
                            {{ row['leaveTypeName'] }} - {{ row['totalDays'] + 1 }}
                            {{ row['totalDays'] + 1 > 1 ? 'Days' : 'Day' }}
                          </span>
                        </div>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [width]="'420'" name="Notes" [flexGrow]="2" cellClass="middle"
                      [draggable]="false">
                      <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
                        <div class="ellipsis">
                          <span>{{ row['payrollNotes'] }}</span>
                        </div>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [width]="'210'" name="Date" [flexGrow]="2" cellClass="middle"
                      [draggable]="false">
                      <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
                        <div class="ellipsis" [title]="value">
                          <span>
                            {{ row['startDate'] | date:'E, M/d/y' }}
                            <br>
                            {{ row['endDate'] | date:'E, M/d/y' }}
                          </span>
                        </div>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [width]="140" name="Actions" [flexGrow]="2" cellClass="middle"
                      [draggable]="false">
                      <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
                        <button mat-icon-button [hideIfUnauthorized]="'APPROVE_DENY_REQUESTS'"
                          (click)="onApproveClick(row.leaveRequestId, row.absenceId, row.confirmationNumber)"
                          #tooltip="matTooltip" matTooltip="Approve" matTooltipPosition="below">
                          <mat-icon style="background-color: #dddddd; color: #04b54a;font-weight: bold;">
                            check
                          </mat-icon>
                        </button>
                        <button mat-icon-button [hideIfUnauthorized]="'APPROVE_DENY_REQUESTS'"
                          (click)="onDenyClick(row.leaveRequestId, row.absenceId, row.confirmationNumber)"
                          #tooltip="matTooltip" matTooltip="Deny" matTooltipPosition="below">
                          <mat-icon style="background-color: #dddddd; color:#d20e0f; font-weight: bold;">
                            close
                          </mat-icon>
                        </button>
                      </ng-template>
                    </ngx-datatable-column>
                  </ngx-datatable>
                  <h4 class="col-lg-12 col-md-12" style="background: #F5F5F5; margin-top: 0px; margin-bottom: 0px"
                    mat-subheader>
                    Approved Requests
                  </h4>
                  <ngx-datatable class="material" [rows]="approvedLeaveRequests" [columnMode]="'standard'"
                    [headerHeight]="40" [footerHeight]="30" [rowHeight]="'auto'" [limit]="5">
                    <ngx-datatable-column [width]="'230'" name="Employee Name" [flexGrow]="2" cellClass="middle"
                      [draggable]="false">
                      <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
                        <div class="ellipsis" [title]="value">
                          <span>
                            <img class="img-circle" [src]="getImage(row['employeeProfilePicUrl'])" height="40"
                              width="40" />
                            {{ row['employeeName'] }}
                          </span>
                        </div>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [width]="'210'" name="Leave" [flexGrow]="2" cellClass="middle"
                      [draggable]="false">
                      <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
                        <div class="ellipsis" [title]="value">
                          <span>
                            {{ row['leaveTypeName'] }} - {{ row['totalDays'] + 1 }}
                            {{ row['totalDays'] + 1 > 1 ? 'Days' : 'Day' }}
                          </span>
                        </div>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [width]="'210'" name="Notes" [flexGrow]="2" cellClass="middle"
                      [draggable]="false">
                      <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
                        <div class="ellipsis">
                          <span>{{ row['payrollNotes'] }}</span>
                        </div>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [width]="'210'" name="Approver" [flexGrow]="2" cellClass="middle"
                      [draggable]="false">
                      <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
                        <div class="ellipsis" [title]="value">
                          <span> {{ row['approvedBy'] }}</span>
                        </div>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [width]="'210'" name="Date" [flexGrow]="2" cellClass="middle"
                      [draggable]="false">
                      <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
                        <div class="ellipsis" [title]="value">
                          <span>
                            {{ row['startDate'] | date:'E, M/d/y' }}
                            <br>
                            {{ row['endDate'] | date:'E, M/d/y' }}
                          </span>
                        </div>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [width]="140" name="Actions" [flexGrow]="2" cellClass="middle"
                      [draggable]="false">
                      <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
                        <button mat-icon-button [hideIfUnauthorized]="'APPROVE_DENY_REQUESTS'"
                          (click)="onDenyClick(row.leaveRequestId, row.absenceId, row.confirmationNumber)"
                          #tooltip="matTooltip" matTooltip="Deny" matTooltipPosition="below">
                          <mat-icon style="background-color: #f0f1f3; color:#d20e0f; font-weight: bold;">
                            close
                          </mat-icon>
                        </button>
                        <button mat-icon-button [hideIfUnauthorized]="'APPROVE_DENY_REQUESTS'"
                          (click)="onArchiveRequest(row.leaveRequestId, row.absenceId, row.confirmationNumber)"
                          #tooltip="matTooltip" matTooltip="Archive" matTooltipPosition="below">
                          <i style="background-color: #f0f1f3; color:#0da8e9; font-size: 20px;"
                            class="fa fa-mail-forward"></i>
                        </button>
                      </ng-template>
                    </ngx-datatable-column>
                  </ngx-datatable>
                  <h4 class="col-lg-12 col-md-12" style="background: #F5F5F5; margin-top: 0px; margin-bottom: 0px"
                    mat-subheader>
                    Denied Requests
                  </h4>
                  <ngx-datatable class="material" [rows]="deniedLeaveRequests" [columnMode]="'standard'"
                    [headerHeight]="40" [footerHeight]="30" [rowHeight]="'auto'" [limit]="5">
                    <ngx-datatable-column [width]="'230'" name="Employee Name" [flexGrow]="2" cellClass="middle"
                      [draggable]="false">
                      <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
                        <div class="ellipsis" [title]="value">
                          <span>
                            <img class="img-circle" [src]="getImage(row['employeeProfilePicUrl'])" height="40"
                              width="40" />
                            {{ row['employeeName'] }}
                          </span>
                        </div>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [width]="'210'" name="Leave" [flexGrow]="2" cellClass="middle"
                      [draggable]="false">
                      <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
                        <div class="ellipsis" [title]="value">
                          <span>
                            {{ row['leaveTypeName'] }} - {{ row['totalDays'] + 1 }}
                            {{ row['totalDays'] + 1 > 1 ? 'Days' : 'Day' }}
                          </span>
                        </div>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [width]="'210'" name="Notes" [flexGrow]="2" cellClass="middle"
                      [draggable]="false">
                      <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
                        <div class="ellipsis">
                          <span>{{ row['payrollNotes'] }}</span>
                        </div>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [width]="'210'" name="Approver" [flexGrow]="2" cellClass="middle"
                      [draggable]="false">
                      <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
                        <div class="ellipsis" [title]="value">
                          <span> {{ row['deniedBy'] }}</span>
                        </div>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [width]="'210'" name="Date" [flexGrow]="2" cellClass="middle"
                      [draggable]="false">
                      <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
                        <div class="ellipsis" [title]="value">
                          <span>
                            {{ row['startDate'] | date:'E, M/d/y' }}
                            <br>
                            {{ row['endDate'] | date:'E, M/d/y' }}
                          </span>
                        </div>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [width]="140" name="Actions" [flexGrow]="2" cellClass="middle"
                      [draggable]="false">
                      <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
                        <button mat-icon-button [hideIfUnauthorized]="'APPROVE_DENY_REQUESTS'"
                          (click)="onApproveClick(row.leaveRequestId, row.absenceId, row.confirmationNumber)"
                          #tooltip="matTooltip" matTooltip="Approve" matTooltipPosition="below">
                          <mat-icon style="background-color: #f0f1f3; color: #04b54a; font-weight: bold;">
                            check
                          </mat-icon>
                        </button>
                        <button mat-icon-button [hideIfUnauthorized]="'APPROVE_DENY_REQUESTS'"
                          (click)="onArchiveRequest(row.leaveRequestId, row.absenceId, row.confirmationNumber)"
                          #tooltip="matTooltip" matTooltip="Archive" matTooltipPosition="below" #tooltip="matTooltip"
                          matTooltip="Archive" matTooltipPosition="below">
                          <i style="background-color: #f0f1f3; color:#0da8e9; font-size: 20px;"
                            class="fa fa-mail-forward"></i>
                        </button>
                      </ng-template>
                    </ngx-datatable-column>
                  </ngx-datatable>
                </div>
              </div>
            </mat-card>
          </mat-tab>
          <mat-tab label="Approved Requests">
            <mat-card>
              <div class="row">
                <div class="col-md-12 col-lg-12">
                  <ngx-datatable class="material" [rows]="archivedApprovedLeaveRequests" [columnMode]="'standard'"
                    [headerHeight]="40" [footerHeight]="30" [rowHeight]="'auto'" [limit]="10">
                    <ngx-datatable-column [width]="'250'" name="Employee Name" [flexGrow]="2" cellClass="middle"
                      [draggable]="false">
                      <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
                        <div class="ellipsis" [title]="value">
                          <span>
                            <img class="img-circle" [src]="getImage(row['employeeProfilePicUrl'])" height="40"
                              width="40" />
                            {{ row['employeeName'] }}
                          </span>
                        </div>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [width]="'240'" name="Leave" [flexGrow]="2" cellClass="middle"
                      [draggable]="false">
                      <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
                        <div class="ellipsis" [title]="value">
                          <span>
                            {{ row['leaveTypeName'] }} - {{ row['totalDays'] + 1 }}
                            {{ row['totalDays'] + 1 > 1 ? 'Days' : 'Day' }}
                          </span>
                        </div>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [width]="'240'" name="Notes" [flexGrow]="2" cellClass="middle"
                      [draggable]="false">
                      <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
                        <div class="ellipsis">
                          <span>{{ row['payrollNotes'] }}</span>
                        </div>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [width]="'240'" name="Approver" [flexGrow]="2" cellClass="middle"
                      [draggable]="false">
                      <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
                        <div class="ellipsis" [title]="value">
                          <span> {{ row['approvedBy'] }}</span>
                        </div>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [width]="'240'" name="Date" [flexGrow]="2" cellClass="middle"
                      [draggable]="false">
                      <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
                        <div class="ellipsis" [title]="value">
                          <span>
                            {{ row['startDate'] | date:'E, M/d/y' }}
                            <br>
                            {{ row['endDate'] | date:'E, M/d/y' }}
                          </span>
                        </div>
                      </ng-template>
                    </ngx-datatable-column>
                  </ngx-datatable>
                </div>
              </div>
            </mat-card>
          </mat-tab>
          <mat-tab label="Denied Requests">
            <mat-card>
              <div class="row">
                <div class="col-md-12 col-lg-12">
                  <ngx-datatable class="material" [rows]="archivedDeniedLeaveRequests" [columnMode]="'standard'"
                    [headerHeight]="40" [footerHeight]="30" [rowHeight]="'auto'" [limit]="10">
                    <ngx-datatable-column [width]="'250'" name="Employee Name" [flexGrow]="2" cellClass="middle"
                      [draggable]="false">
                      <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
                        <div class="ellipsis" [title]="value">
                          <span>
                            <img class="img-circle" [src]="getImage(row['employeeProfilePicUrl'])" height="40"
                              width="40" />
                            {{ row['employeeName'] }}
                          </span>
                        </div>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [width]="'240'" name="Leave" [flexGrow]="2" cellClass="middle"
                      [draggable]="false">
                      <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
                        <div class="ellipsis" [title]="value">
                          <span>
                            {{ row['leaveTypeName'] }} - {{ row['totalDays'] + 1 }}
                            {{ row['totalDays'] + 1 > 1 ? 'Days' : 'Day' }}
                          </span>
                        </div>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [width]="'240'" name="Notes" [flexGrow]="2" cellClass="middle"
                      [draggable]="false">
                      <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
                        <div class="ellipsis">
                          <span>{{ row['payrollNotes'] }}</span>
                        </div>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [width]="'240'" name="Approver" [flexGrow]="2" cellClass="middle"
                      [draggable]="false">
                      <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
                        <div class="ellipsis" [title]="value">
                          <span> {{ row['deniedBy'] }}</span>
                        </div>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [width]="'240'" name="Date" [flexGrow]="2" cellClass="middle"
                      [draggable]="false">
                      <ng-template let-rowIndex="rowIndex" let-value="value" let-row="row" ngx-datatable-cell-template>
                        <div class="ellipsis" [title]="value">
                          <span>
                            {{ row['startDate'] | date:'E, M/d/y' }}
                            <br>
                            {{ row['endDate'] | date:'E, M/d/y' }}
                          </span>
                        </div>
                      </ng-template>
                    </ngx-datatable-column>
                  </ngx-datatable>
                </div>
              </div>
            </mat-card>
          </mat-tab>
        </mat-tab-group>
      </mat-tab>
      <mat-tab *ngIf='UserRole != 2' label="Allowances">
        <mat-card>
          <div class="row">
            <div class="col-md-12 col-lg-12">
              <h4>Allowances</h4>
              <div *ngIf='UserRole == 5'>
                <mat-form-field appearance="outline" class="col-md-3">
                  <mat-label>Select District</mat-label>
                  <mat-select placeholder="Select District" (selectionChange)="onChangeDistrict($event.value)">
                    <mat-option class="not-empty-select" *ngFor="let district of Districts"
                      [value]="district.districtId">
                      {{district.districtName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="example-container mat-elevation-z8">
                <mat-table #table [dataSource]="dataSourceForAllowances" matSort>
                  <!-- Position Column -->
                  <ng-container matColumnDef="AllowanceName">
                    <mat-header-cell *matHeaderCellDef> Allowance Name </mat-header-cell>
                    <mat-cell *matCellDef="let allowance"> {{allowance.title}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="YearlyAllowance">
                    <mat-header-cell *matHeaderCellDef> Yearly Allowance </mat-header-cell>
                    <mat-cell *matCellDef="let allowance">{{allowance.yearlyAllowance}}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="CreatedDate">
                    <mat-header-cell *matHeaderCellDef> Beginning Date </mat-header-cell>
                    <mat-cell *matCellDef="let allowance">{{allowance.createdDate | date}}
                    </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="Action">
                    <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                    <mat-cell *matCellDef="let allowance">
                      <mat-slide-toggle #tooltip="matTooltip"
                        [matTooltip]="allowance.isEnalbled ? 'Click To Disable' : 'Click To Enable'"
                        matTooltipPosition="left" [checked]="allowance.isEnalbled" (change)="updateAllowance(allowance)"
                        color=""></mat-slide-toggle>
                      <i class="material-icons" style="cursor: pointer;margin-left: 10px ; color:#448ac9"
                        #tooltip="matTooltip" matTooltip="Edit Allowance" matTooltipPosition="below"
                        (click)="editAllowance(allowance)" [hideIfUnauthorized]="'ADD_EDIT_ALLOWANCES'">edit</i>
                      <!-- <i class="material-icons" style="cursor: pointer;margin-left: 10px; color:#448ac9" #tooltip="matTooltip"
                            matTooltip="Delete Allowance" matTooltipPosition="below" (click)="deleteAllowance(allowance.id)"
                            [hideIfUnauthorized]="'ADD_EDIT_ALLOWANCES'">delete_sweep</i> -->
                    </mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedColumnsforAllowances; sticky: true"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumnsforAllowances;"></mat-row>
                </mat-table>
                <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[1, 10, 20]" [showFirstLastButtons]="true">
                </mat-paginator>
              </div>
            </div>
          </div>
        </mat-card>
      </mat-tab>
      <mat-tab *ngIf='UserRole != 2' label="Employee Leave Balance">
        <mat-card>
          <leave-balance></leave-balance>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>