<div class="signup-content">
        <mat-card>
            <mat-card-content>
                <form *ngIf="showForgotPassword" [formGroup]="forgotPasswordform" (ngSubmit)="onSubmit(forgotPasswordform)">
                    <h3>Subzz</h3>
                    <p>We'll Help You Reset Your Password</p>
                    <mat-form-field class="full-width-input">
                        <input matInput placeholder="Email" formControlName="email" required>
                        <mat-error *ngIf="isFieldInvalid('email')">
                            Please enter your email
                        </mat-error>    
                    </mat-form-field>
                    <button mat-raised-button color="primary">Reset Password</button>
                </form>
                <div *ngIf="!showForgotPassword">
                        <button mat-raised-button type="button" (click)="gotoLogin()" color="primary">Back to login</button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    