<div style="margin: -4%;">
    <mat-dialog-actions>
        <div class="col-md-8 pr-0">
            <mat-icon class="mr-15 cursor-pointer" title="Close" (click)="onClose()">clear</mat-icon>
        </div>
    </mat-dialog-actions>
    <hr>
    <div>
        <div class="absence-summary-title p-5 mt-5">Absence Detail</div>
        <br>
        <table class="report-details-table" cellpadding="3" cellspacing="3" width="100%">
            <tr>
                <td>Job ID:</td>
                <td>{{data.confirmationNumber}}</td>
            </tr>
            <tr>
                <td>Employee:</td>
                <td>{{data.employeeName}}</td>
            </tr>
            <tr>
                <td>Position:</td>
                <td>{{data.positionDescription}}</td>
            </tr>
            <tr>
                <td>Start Date:</td>
                <td>{{data.startDate | date}}</td>
            </tr>
            <tr>
                <td>End Date:</td>
                <td>{{data.endDate | date}}</td>
            </tr>
            <tr>
                <td>Substitute Required:</td>
                <td>{{data.substituteRequired ? 'Yes' : 'No'}}</td>
            </tr>
            <tr>
                <td>Absence Reason:</td>
                <td>{{data.absenceReasonDescription}}</td>
            </tr>
            <tr>
                <td>Duration Type:</td>
                <td>{{data.durationType == 1 ? 'Full Day' : data.durationType == 2 ? 'First Half' : data.durationType == 3 ?
                    'Second Half' : 'Custom Time'}}</td>
            </tr>
            <tr>
                <td>Start Time:</td>
                <td>{{data.startTime | convertFrom24HourTo12HourFormat }}</td>
            </tr>
            <tr>
                <td>End Time:</td>
                <td>{{data.endTime | convertFrom24HourTo12HourFormat }}</td>
            </tr>
            <tr>
                <td>Status:</td>
                <td>{{data.status === 2 && !data.acceptedVia ? 'Assigned' : data.absenceStatusDescription}}
                </td>
            </tr>
            <tr>
                <td>Notes to Substitute:</td>
                <td>{{data.substituteNotes}}</td>
            </tr>
            <tr>
                <td>PayRoll Notes:</td>
                <td>{{data.payrollNotes}}</td>
            </tr>
            <tr>
                <td>Attachment:</td>
                <td *ngIf='data.anyAttachment'>
                    <button mat-button type="button" color="warn" (click)="DownloadFile()" matTooltip="View Attachment">
                        <i class="material-icons">visibility</i>
                        {{data.originalFileName}}
                    </button>
                </td>
                <td *ngIf="!data.anyAttachment">No Attachment</td>
            </tr>
        </table>
    </div>
</div>