<div *ngIf="userRole != 3">
    <router-outlet></router-outlet>
</div>
<div *ngIf="userRole == 3">
    <mat-card>
        <mat-card-content>
            <h2 class="example-h2">Absences</h2>
            <mat-tab-group class="demo-tab-group" (selectedTabChange)="onTabChange($event)">
                <mat-tab label="New">
                    <create-absence (refreshBalance)="getEmployeeBalance()"></create-absence>
                </mat-tab>
                <mat-tab label="Upcoming">
                    <upcoming-absences></upcoming-absences>
                </mat-tab>
                <mat-tab label="Past">
                    <past-absences></past-absences>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
</div>