<mat-card>
    <mat-card-title *ngIf="loginedUserRole != 3">
        Create Absence
    </mat-card-title>
    <mat-card-content>
        <mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">
            <mat-step [stepControl]="absenceFirstFormGroup">
                <form [formGroup]="absenceFirstFormGroup">
                    <ng-template matStepLabel>Create Absence</ng-template>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="row" style="height:56.56px;" *ngIf='loginedUserRole != 3'>
                                <div class="col-md-12">
                                    <div class="col-md-6 col-lg-6" style="margin-top:16px">
                                        <mat-radio-group formControlName="selfEmployeeVacancy"
                                            (change)="onChangeAbsenceFor(absenceFirstFormGroup.value.selfEmployeeVacancy)"
                                            style="padding-left: 13px;">
                                            <mat-radio-button color="primary" value="1" checked>Self</mat-radio-button>
                                            <mat-radio-button style="padding-left: 10px;" color="primary" value="2">
                                                Employee</mat-radio-button>
                                            <mat-radio-button style="padding-left: 10px;" color="primary" value="3">Find
                                                a Sub</mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <mat-form-field class="col-md-10 col-lg-10"
                                            *ngIf='absenceFirstFormGroup.value.selfEmployeeVacancy == "2"'>
                                            <input type="text" placeholder="Search Employee Name" aria-label="Number"
                                                (input)="SearchEmployees($event.target.value)" matInput
                                                formControlName="EmployeeId" [matAutocomplete]="auto">
                                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayName">
                                                <mat-option (onSelectionChange)="employeeSelection(employee)"
                                                    *ngFor="let employee of Employees | async" [value]="employee">
                                                    {{employee.firstName}}
                                                </mat-option>
                                            </mat-autocomplete>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6 col-lg-6">
                                        <mat-form-field class="col-md-10 col-lg-10">
                                            <input matInput [max]="absenceFirstFormGroup.value.AbsenceEndDate"
                                                [matDatepickerFilter]="SelectionFilterForAlreadyCreatedAbsences"
                                                [matDatepicker]="AbsenceStartDatePicker" placeholder="Start Date"
                                                formControlName="AbsenceStartDate" 
                                                (dateChange)="SetEndDateValue(absenceFirstFormGroup.value.AbsenceStartDate,absenceFirstFormGroup.value.AbsenceEndDate);SearchAvailableSubstitutes('a')">
                                            <mat-datepicker-toggle matSuffix [for]="AbsenceStartDatePicker">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker [dateClass]="dateClass" #AbsenceStartDatePicker>
                                            </mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <mat-form-field class="col-md-10 col-lg-10">
                                            <input matInput [min]="absenceFirstFormGroup.value.AbsenceStartDate"
                                                [matDatepickerFilter]="SelectionFilterForAlreadyCreatedAbsences"
                                                [matDatepicker]="AbsenceEndDatePicker" placeholder="End Date"
                                                formControlName="AbsenceEndDate"
                                                (dateChange)="SetEndDateValue(absenceFirstFormGroup.value.AbsenceStartDate,absenceFirstFormGroup.value.AbsenceEndDate)"
                                                (dateInput)="SearchAvailableSubstitutes('a')">
                                            <mat-datepicker-toggle matSuffix [for]="AbsenceEndDatePicker">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker [dateClass]="dateClass" #AbsenceEndDatePicker>
                                            </mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6 col-lg-6">
                                        <mat-form-field class="col-md-10 col-lg-10">
                                            <mat-select placeholder="Reason"
                                                (selectionChange)="onChangeReason($event.value)"
                                                formControlName="Reason">
                                                <mat-option *ngFor="let Leave of Leaves" [value]="Leave">
                                                    {{Leave.leaveTypeName}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-hint style="color: red"
                                                *ngIf='isApprovalNeeded && loginedUserRole === 3' align="start">This
                                                Reason Requires Approval From Admin</mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-2 col-lg-2">
                                        <mat-form-field class="col-md-12 col-lg-12">
                                            <mat-select placeholder="Duration" formControlName="Duration"
                                                (selectionChange)="onChangeDurationForAbsence($event.value)">
                                                <mat-option value="1">Full Day</mat-option>
                                                <mat-option value="2">Half Day AM</mat-option>
                                                <mat-option value="3">Half Day PM</mat-option>
                                                <mat-option value="4">Enter Time Manually</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div *ngIf='absenceFirstFormGroup.value.Duration != "5"' class="col-md-4 col-lg-4">
                                        <mat-form-field class="col-md-5 col-lg-5">
                                            <input matInput type="time" placeholder="Start Time" (keyup)="SearchAvailableSubstitutes(a)"
                                                formControlName="StartTime">
                                        </mat-form-field>
                                        <mat-form-field class="col-md-5 col-lg-5">
                                            <input matInput type="time" placeholder="End Time" (keyup)="SearchAvailableSubstitutes(a)"
                                                formControlName="EndTime">
                                        </mat-form-field>
                                    </div>
                                    <div *ngIf='absenceFirstFormGroup.value.Duration == "5"' class="col-md-4 col-lg-4">
                                        <mat-form-field class="col-md-10 col-lg-10">
                                            <mat-select placeholder="Select Schedule" formControlName="ScheduleType">
                                                <mat-option value="1">Schedule A</mat-option>
                                                <mat-option value="2">Schedule B</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div *ngIf='(((AbsenceForUserLevel === 1) && loginedUserRole === 5) && NeedASub)'
                                        class="col-md-6 col-lg-6">
                                        <mat-form-field class="col-md-10 col-lg-10">
                                            <mat-select placeholder="District"
                                                (selectionChange)="OnChangeDistrict(absenceFirstFormGroup.value.Location)"
                                                formControlName="Location">
                                                <mat-option *ngFor="let district of Districts"
                                                    [value]="district.districtId">
                                                    {{district.districtName}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div *ngIf='NeedASub' class="col-md-6 col-lg-6">
                                        <mat-form-field class="col-md-10 col-lg-10">
                                            <mat-select placeholder="School Location"
                                                (selectionChange)="OnchangeOrganization(absenceFirstFormGroup.value.OrganizationId)"
                                                formControlName="OrganizationId">
                                                <mat-option>--</mat-option>
                                                <mat-option *ngFor="let organization of Organizations"
                                                    [value]="organization.schoolId">
                                                    {{organization.schoolName}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div *ngIf='NeedASub' class="col-md-6 col-lg-6">
                                        <mat-form-field class="col-md-10 col-lg-10">
                                            <mat-select placeholder="Position" formControlName="PositionId">
                                                <mat-option>--</mat-option>
                                                <mat-option *ngFor="let position of positions" [value]="position.id">
                                                    {{position.title}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="height: 56.56px;">
                                <div class="col-md-12">
                                    <div class="col-md-6 col-lg-6"></div>
                                    <div class="col-md-6 col-lg-6">
                                        <mat-form-field class="col-md-10 col-lg-10">
                                            <mat-select placeholder="Substitute Option"
                                                (selectionChange)="OnchangeAbsenceScope(absenceFirstFormGroup.value.AbsenceType)"
                                                formControlName="AbsenceType">
                                                <mat-option *ngFor="let type of absenceTypes" [value]="type.absenceType"
                                                    [disabled]="(type.absenceType == 5 || type.absenceType == 1 
                                                    || type.absenceType == 2 || type.absenceType == 3) && (NeedASub)">
                                                    {{type.title}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6 col-lg-6"></div>
                                    <div class="col-md-6 col-lg-6"
                                        *ngIf='absenceFirstFormGroup.value.AbsenceType === 1 || absenceFirstFormGroup.value.AbsenceType === 2'>
                                        <div style="border-radius: 19px !important"
                                            class="col-md-10 col-lg-10 mat-elevation-z8">
                                            <tag-input [placeholder]="''" [identifyBy]="'userId'"
                                                [displayBy]="'firstName'" [secondaryPlaceholder]="'Search substitute'"
                                                (input)="SearchAvailableSubstitutes($event.target.value)"
                                                formControlName="Substitutes">
                                            </tag-input>
                                            <mat-option *ngFor="let substitute of availableSubstitutes | async"
                                                (click)="SelectSubstituteForDirectAssign(substitute)"
                                                style="padding: 0px !important;">
                                                <div class="col-md-6 col-lg-6">
                                                    <img class="img-circle" [src]="getImage(substitute.profilePicture)"
                                                        width="25" height="25"> {{substitute.firstName}}
                                                </div>
                                                <div style="color: darkblue" class="col-md-2 col-lg-2">
                                                    <b>Select</b>
                                                </div>
                                                <div class="col-md-4 col-lg-4">
                                                    <button mat-raised-button type="button"
                                                        style="background-color:lightgreen; color:white">{{substitute.isActive ? 'Available' : 'Inactivated'}}</button>
                                                </div>
                                            </mat-option>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" [hidden]='checkAbsenceScope()'>
                                <div class="col-md-12">
                                    <div class="col-md-6 col-lg-6" *ngIf="!preferredSubPanel.expanded">
                                    </div>
                                    <div
                                        [ngClass]="{'col-md-6': !preferredSubPanel.expanded , 'col-md-12': preferredSubPanel.expanded}">
                                        <mat-accordion [ngClass]="{'col-md-10': !preferredSubPanel.expanded }">
                                            <mat-expansion-panel #preferredSubPanel [disabled]="true">
                                                <mat-expansion-panel-header>
                                                    <mat-panel-description>
                                                        <div class="col-md-12">
                                                            <div class="col-md-10" style="padding-top: 10px;">
                                                                View Preferred Substitute
                                                            </div>
                                                            <div class="col-md-2">
                                                                <button mat-icon-button color="primary"
                                                                    (click)="expandPannel()" [disableRipple]="true">
                                                                    <mat-icon>{{matIcon}}</mat-icon>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </mat-panel-description>
                                                </mat-expansion-panel-header>
                                                <div class="row">
                                                    <div class="col-md-2" *ngFor="let Sub of PreferredSubstitutes">
                                                        <span>{{Sub.firstName}}</span>
                                                    </div>
                                                </div>
                                                <div class="row" style="padding-top:10px">
                                                    <mat-form-field class="col-md-4">
                                                        <mat-select [(value)]="ContactSub"
                                                            (selectionChange)="OnchangeContactSubOption()"
                                                            placeholder="Contact Substitutes">
                                                            <mat-option value="1">All At Once</mat-option>
                                                            <mat-option value="2">One By One</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                    <mat-form-field class="col-md-4">
                                                        <input matInput type="number" min="0"
                                                            [disabled]="DisableContactSubTimeAccess"
                                                            placeholder="Wait Time" [(value)]="ContactSubTime">
                                                        <span matSuffix>min</span>
                                                    </mat-form-field>
                                                </div>
                                            </mat-expansion-panel>
                                        </mat-accordion>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="text-align: right">
                        <button mat-raised-button type="button" color="primary" style="background-color:#04c0be"
                            (click)="goToNextForm(stepper)">Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="absenceSecondFormGroup">
                <form [formGroup]="absenceSecondFormGroup">
                    <ng-template matStepLabel>Additional Information</ng-template>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-6 col-lg-6">
                                        <mat-form-field class="col-md-10 col-lg-10" hintLabel="Max 50 characters">
                                            <textarea matInput #inputPayRoll maxlength="50" placeholder="Payroll Notes"
                                                formControlName="PayRollNotes" matTextareaAutosize
                                                matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
                                            <mat-hint align="end">{{inputPayRoll.value?.length || 0}}/50</mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <mat-form-field class="col-md-10 col-lg-10" hintLabel="Max 50 characters">
                                            <textarea matInput #inputNotes maxlength="50"
                                                placeholder="Notes to substitute" formControlName="NotesToSubstitute"
                                                matTextareaAutosize matAutosizeMinRows="2"
                                                matAutosizeMaxRows="5"></textarea>
                                            <mat-hint align="end">{{inputNotes.value?.length || 0}}/50</mat-hint>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="col-md-6 col-lg-6" style="padding-left: 30px;">
                                        Add Attachment
                                        <button mat-button type="button" color="warn" (click)="uploadClick()">
                                            <mat-icon style="color: #8fc903;">file_upload</mat-icon>
                                            {{OriginalFileNameForDisplay}}
                                        </button>
                                        <i *ngIf='OriginalFileName' style="cursor: pointer;" class="material-icons"
                                            #tooltip="matTooltip" matTooltip="Remove Attachment"
                                            matTooltipPosition="right" (click)="removeAttachedFile()">
                                            cancel
                                        </i>
                                        <input type="file" id="UploadButton" (change)="upload($event.target.files)"
                                            style="display: none" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="text-align: right">
                        <button mat-button type="button" style="background-color:#dfdede;margin-right: 10px"
                            (click)="goBackToPreviousForm(stepper)">Back</button>
                        <button mat-raised-button type="button" color="primary" style="background-color:#04c0be"
                            (click)="goToNextForm(stepper)">Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                <div class="row" *ngIf='absenceFirstFormGroup.valid && absenceSecondFormGroup.valid'>
                    <div class="col-md-12" style="font-size: 15px; text-align: center;">
                        <b> Please verify details before submitting absence.</b>
                    </div>
                    <div class="row col-md-8 col-md-offset-4" style="padding-top:20px; color: #ababab;">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <b>Employee:</b>
                                </div>
                                <div class="col-md-6">{{NeedASub ? 'Need-A-Sub' : EmployeeNameForAbsence}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <b>Date:</b>
                                </div>
                                <div class="col-md-6">
                                    {{absenceFirstFormGroup.value.AbsenceStartDate | date:'mediumDate'}} - <br> 
                                    {{absenceFirstFormGroup.value.AbsenceEndDate | date:'mediumDate'}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <b>Time:</b>
                                </div>
                                <div class="col-md-6">
                                    {{absenceFirstFormGroup.getRawValue().StartTime | convertFrom24HourTo12HourFormat}} - 
                                    {{absenceFirstFormGroup.getRawValue().EndTime | convertFrom24HourTo12HourFormat}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <b>Reason:</b>
                                </div>
                                <div class="col-md-6">{{absenceFirstFormGroup.value.Reason.leaveTypeName}}</div>
                            </div>
                            <div class="row"
                                *ngIf="absenceFirstFormGroup.value.AbsenceType === 2 && absenceFirstFormGroup.value.Substitutes.length > 0">
                                <div class="col-md-6">
                                    <b>Substitute:</b>
                                </div>
                                <div class="col-md-6">{{absenceFirstFormGroup.value.Substitutes[0].firstName}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <b>Notes to Substitute:</b>
                                </div>
                                <div class="col-md-6">
                                    {{absenceSecondFormGroup.value.NotesToSubstitute ? absenceSecondFormGroup.value.NotesToSubstitute : 'N/A'}}
                                </div>
                                <br>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <b>Payroll Notes:</b>
                                </div>
                                <div class="col-md-6">
                                    {{absenceSecondFormGroup.value.PayRollNotes ? absenceSecondFormGroup.value.PayRollNotes : 'N/A'}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <b>Attachment:</b>
                                </div>
                                <div class="col-md-6" *ngIf="OriginalFileName">
                                    <button mat-button type="button" color="warn" (click)="downloadAttachment()"
                                        matTooltip="Download Attachment">
                                        <i class="material-icons">get_app</i>
                                        {{OriginalFileNameForDisplay}}
                                    </button>
                                </div>
                                <div class="col-md-6" *ngIf="!OriginalFileName">
                                    No Attachment
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="text-align: right">
                    <button mat-button type="button" style="background-color:#dfdede;margin-right: 10px"
                        (click)="goBackToPreviousForm(stepper)">Back</button>
                    <button type="button" style="padding-left: 10px; background-color: #04c0be;" mat-raised-button
                        color="primary"
                        (click)="createAbsenceSubmission(absenceFirstFormGroup,absenceSecondFormGroup,stepper)">{{ absenceFirstFormGroup.value.AbsenceType == '2' ? 'Create And Assign' : absenceSecondFormGroup.value.AbsenceType
                        == '3' ? 'Post to Preferred' : 'Create Absence' }}</button>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </mat-card-content>
</mat-card>