<mat-card>
    <mat-card-title>
        Add Substitute
    </mat-card-title>
    <mat-card-content>
        <form (ngSubmit)="onSubmitSubstituteForm(substituteForm)" class="row" [formGroup]="substituteForm">
            <div class="row col-md-12">
                <div class="col-md-10 col-lg-10">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row">
                            <mat-form-field class="col-md-6 col-lg-6">
                                <input matInput placeholder="First Name" formControlName="FirstName">
                            </mat-form-field>
                            <mat-form-field class="col-md-6 col-lg-6">
                                <input matInput placeholder="Last Name" formControlName="LastName">
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field class="col-md-6 col-lg-6">
                                <mat-select placeholder="Role" (selectionChange)="onChangeEmployeeType($event.value)" formControlName="UserTypeId">
                                    <mat-option>--</mat-option>
                                    <mat-option *ngFor="let userType of userTypes" [disabled]="userType.id == 2" [value]="userType.id">
                                        {{userType.title}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="col-md-6 col-lg-6">
                                <input matInput placeholder="Email" type="email" formControlName="Email">
                                <mat-error *ngIf="substituteForm.controls['Email'].hasError('email')">Not a valid email</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="row" *ngIf="substituteForm.value.UserTypeId == 1">
                            <mat-form-field class="col-md-6 col-lg-6">
                                <mat-select placeholder="Teaching Level" formControlName="TeachingLevel">
                                    <mat-option>--</mat-option>
                                    <mat-option *ngFor="let teachingLevel of TeachingLevels" [value]="teachingLevel.id">
                                        {{teachingLevel.title}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="col-md-6 col-lg-6">
                                <input matInput placeholder="Speciality" formControlName="Speciality">
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field class="col-md-6 col-lg-6">
                                <mat-select placeholder="District" formControlName="District" required>
                                    <mat-option>--</mat-option>
                                    <mat-option *ngFor="let district of Districts" [value]="district.districtId">
                                        {{district.districtName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="col-md-6 col-lg-6" hintLabel="Max 11 characters">
                                <input matInput #input maxlength="11" formControlName="PhoneNumber" placeholder="Contact Number">
                                <mat-hint align="end">{{input.value?.length || 0}}/11</mat-hint>
                                <mat-error *ngIf="substituteForm.controls['PhoneNumber'].hasError('pattern')">Only numbers allowed</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="row">
                                <label class="col-md-1 col-lg-2" for="mat-radio-group" style="margin-top:10px">Certified</label>
                                <mat-radio-group class="col-md-4 col-lg-4" style="margin-top:10px" formControlName="IsCertified" #radioGroup="matRadioGroup">
                                    <mat-radio-button color="primary" class="col-md-5 col-lg-5" value="1">Yes</mat-radio-button>
                                    <mat-radio-button color="primary" class="col-md-7 col-lg-7" value="0">No</mat-radio-button>
                                </mat-radio-group>
                            <mat-form-field class="col-md-2 col-lg-2">
                                <input matInput placeholder="Payrate" type="number" formControlName="PayRate">
                                <span matPrefix>$&nbsp;</span>
                                <span matSuffix>/ hour</span>
                            </mat-form-field>
                            <mat-form-field class="col-md-4 col-lg-4">
                                <mat-select placeholder="Weekily Time Limit" formControlName="HourLimit">
                                    <mat-option value="1">39 hour per week</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="row">
                                <label class="col-md-2 col-lg-2">Gender</label>
                                <mat-radio-group class="col-md-4 col-lg-4"  formControlName="Gender">
                                    <mat-radio-button color="primary" class="col-md-5 col-lg-5" value="M">Male</mat-radio-button>
                                    <mat-radio-button color="primary" class="col-md-7 col-lg-7" value="F">Female</mat-radio-button>
                                </mat-radio-group>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-lg-2">
                    <div class="row">
                        <img [src]="profilePicture" width="200" height="200">
                    </div>
                    <div class="row">
                        <input type='file' (change)="onSelectProfileImage($event)">
                    </div>
                </div>
            </div>
            <div class="row col-md-12" style="text-align: right">
                <button mat-raised-button color="primary" type="submit">{{userIdForUpdate ? 'Update': 'Save'}}</button>
                <a routerLink="./../../substitutes">
                    <button mat-raised-button type="button" color="primary">Back</button>
                </a>
            </div>
        </form>
    </mat-card-content>
</mat-card>