<style>
    .substituteForm-table td {
        text-align: left;
        font-size: 12px;
    }
</style>
<mat-card>
    <mat-card-title>
        Add Substitute
    </mat-card-title>
    <mat-card-content>
        <form (ngSubmit)="onSubmitSubstituteForm(substituteForm)" [formGroup]="substituteForm">
            <div class="row">
                <table class="col-md-6 col-md-offset-1 substituteForm-table">
                    <tr>
                        <td class="col-md-3">First Name</td>
                        <td>
                            <mat-form-field class="col-md-7">
                                <input matInput placeholder="First Name" formControlName="FirstName">
                                <mat-error *ngIf="substituteForm.controls['FirstName'].hasError('required')">
                                    First Name is required.
                                </mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-3">Last Name</td>
                        <td>
                            <mat-form-field class="col-md-7">
                                <input matInput placeholder="Last Name" formControlName="LastName">
                                <mat-error *ngIf="substituteForm.controls['LastName'].hasError('required')">
                                    Last Name is required.
                                </mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-3">District</td>
                        <td>
                            <mat-form-field class="col-md-7">
                                <mat-select placeholder="District" formControlName="District">
                                    <mat-option>--</mat-option>
                                    <mat-option *ngFor="let district of Districts" [value]="district.districtId">
                                        {{district.districtName}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="substituteForm.controls['District'].hasError('required')">
                                    District is required.
                                </mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-3">Position Type</td>
                        <td>
                            <mat-form-field class="col-md-7">
                                <mat-select placeholder="Position Type"
                                    (selectionChange)="onChangeEmployeeType($event.value)" formControlName="UserTypeId">
                                    <mat-option>--</mat-option>
                                    <mat-option *ngFor="let position of positions" [value]="position.id">
                                        {{position.title}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="substituteForm.controls['UserTypeId'].hasError('required')">
                                    Position Type is required.
                                </mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr *ngIf="substituteForm.value.UserTypeId == 1">
                        <td class="col-md-3">Subject</td>
                        <td>
                            <mat-form-field class="col-md-7">
                                <mat-select placeholder="Subject" formControlName="TeachingLevel">
                                    <mat-option>--</mat-option>
                                    <mat-option *ngFor="let teachingLevel of TeachingLevels" [value]="teachingLevel.id">
                                        {{teachingLevel.title}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr *ngIf="substituteForm.value.UserTypeId == 1">
                        <td class="col-md-3">Subject</td>
                        <td>
                            <mat-form-field class="col-md-7">
                                <input matInput placeholder="Subject" formControlName="Speciality">
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-3">Mobile Number</td>
                        <td>
                            <mat-form-field hintLabel="Min 7 and Max 11 characters" class="col-md-7">
                                <input matInput #mobile minlength="7" maxlength="11" formControlName="PhoneNumber"
                                    placeholder="Mobile Number">
                                <mat-hint align="end">{{mobile.value?.length || 0}}/11</mat-hint>
                                <mat-error *ngIf="substituteForm.controls['PhoneNumber'].hasError('pattern')">
                                    Only numbers allowed
                                </mat-error>
                                <mat-error *ngIf="substituteForm.controls['PhoneNumber'].hasError('required')">
                                    Mobile Number is required.
                                </mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-3">Password</td>
                        <td>
                            <mat-form-field hintLabel="Min 8 and Max 20 characters" class="col-md-7">
                                <input matInput #password [type]="password" autocomplete="off" #password minlength="8"
                                    maxlength="20" formControlName="Password" placeholder="Password">
                                <mat-hint align="end">{{password.value?.length || 0}}/20</mat-hint>
                                <mat-error *ngIf="substituteForm.controls['Password'].hasError('required')">
                                    Password is required.
                                </mat-error>
                                <mat-error *ngIf="substituteForm.controls['Password'].hasError('pattern')">
                                    Please use both uppercase and lowercase letters as well as numbers.
                                </mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-3">Work Email Address</td>
                        <td>
                            <mat-form-field class="col-md-7">
                                <input matInput placeholder="Email" type="email" formControlName="Email">
                                <mat-error *ngIf="substituteForm.controls['Email'].hasError('email')">
                                    Not a valid email
                                </mat-error>
                                <mat-error *ngIf="substituteForm.controls['Email'].hasError('required')">
                                    Email is required.
                                </mat-error>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-3">Payrate</td>
                        <td>
                            <mat-form-field class="col-md-7">
                                <input matInput placeholder="Payrate" type="number" formControlName="PayRate">
                                <span matPrefix>$&nbsp;</span>
                                <span matSuffix>/ hour</span>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-3">Weekly Time Limits</td>
                        <td>
                            <mat-form-field class="col-md-7">
                                <mat-select placeholder="Weekly Time Limits" formControlName="HourLimit">
                                    <mat-option value="1">39 hour per week</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-3">Email Alerts</td>
                        <td>
                            <mat-radio-group formControlName="IsSubscribedEmail" #radioGroup="matRadioGroup"
                                class="col-md-7">
                                <mat-radio-button color="primary" value="1" style="margin-right: 10px">Yes
                                </mat-radio-button>
                                <mat-radio-button color="primary" value="0">No
                                </mat-radio-button>
                            </mat-radio-group>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-3">Text Alerts</td>
                        <td>
                            <mat-radio-group formControlName="IsSubscribedSMS" #radioGroup="matRadioGroup"
                                class="col-md-7">
                                <mat-radio-button color="primary" value="1" style="margin-right: 10px">Yes
                                </mat-radio-button>
                                <mat-radio-button color="primary" value="0">No
                                </mat-radio-button>
                            </mat-radio-group>
                        </td>
                    </tr>
                </table>
                <div class="col-md-4" style="margin-top: 10px;">
                    <div>
                        <h4>Profile Picture</h4>
                    </div>
                    <div>
                        <img [src]="profilePicture" width="150" height="150">
                    </div>
                    <div style="padding-top: 5px">
                        <input type="file" id="UploadButton" style="display: none;"
                            (change)="onSelectProfileImage($event)">
                        <button mat-button type="button" matTooltip="Upload Image" (click)="uploadClick()"
                            style="color:white; background-color: #04c0be; padding: 0px 7px;">
                            Upload
                            <i class="material-icons">add</i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row col-md-offset-1" style="padding-top: 30px">
                <a routerLink="./../../substitutes">
                    <button mat-raised-button type="button"
                        style="background-color: #74a4a7; color: white;">Back</button>
                </a>
                <button mat-raised-button style="background-color: #04c0be; color: white; margin-left: 5px"
                    type="submit">{{userIdForUpdate ? 'Update': 'Add Substitute to Database'}}</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>