<mat-card>
    <mat-card-title>
        Add Substitute
    </mat-card-title>
    <mat-card-content>
        <form (ngSubmit)="onSubmitSubstituteForm(substituteForm)" class="row" [formGroup]="substituteForm">
            <div class="row col-md-12">
                <div class="col-md-10 col-lg-10">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row">
                            <mat-form-field class="col-md-6 col-lg-6">
                                <input matInput placeholder="First Name" formControlName="FirstName">
                            </mat-form-field>
                            <mat-form-field class="col-md-6 col-lg-6">
                                <input matInput placeholder="Last Name" formControlName="LastName">
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field class="col-md-6 col-lg-6">
                                <mat-select placeholder="Position Type" (selectionChange)="onChangeEmployeeType($event.value)" formControlName="UserTypeId">
                                    <mat-option>--</mat-option>
                                    <mat-option *ngFor="let userType of userTypes" [disabled]="userType.id == 2" [value]="userType.id">
                                        {{userType.title}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="col-md-6 col-lg-6">
                                <input matInput placeholder="Email" type="email" formControlName="Email">
                                <mat-error *ngIf="substituteForm.controls['Email'].hasError('email')">Not a valid email
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="row" *ngIf="substituteForm.value.UserTypeId == 1">
                            <mat-form-field class="col-md-6 col-lg-6">
                                <mat-select placeholder="Teaching Level" formControlName="TeachingLevel">
                                    <mat-option>--</mat-option>
                                    <mat-option *ngFor="let teachingLevel of TeachingLevels" [value]="teachingLevel.id">
                                        {{teachingLevel.title}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="col-md-6 col-lg-6">
                                <input matInput placeholder="Speciality" formControlName="Speciality">
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field class="col-md-6 col-lg-6">
                                <mat-select placeholder="District" formControlName="District" required>
                                    <mat-option>--</mat-option>
                                    <mat-option *ngFor="let district of Districts" [value]="district.districtId">
                                        {{district.districtName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="col-md-6 col-lg-6" hintLabel="Max 11 characters">
                                <input matInput #input maxlength="11" formControlName="PhoneNumber" placeholder="Contact Number">
                                <mat-hint align="end">{{input.value?.length || 0}}/11</mat-hint>
                                <mat-error *ngIf="substituteForm.controls['PhoneNumber'].hasError('pattern')">Only numbers allowed</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <!-- <div class="col-md-2"><label for="mat-radio-group"
                                            style="margin-top:10px; font-weight:100;">Certified:</label></div> -->
                            <div class="col-md-3">
                                <label for="mat-radio-group" style="margin-top:10px; font-weight:100;">Email Alerts:
                                </label>
                            </div>
                            <div class="col-md-3">
                                <label for="mat-radio-group" style="margin-top:10px; font-weight:100;">Text Alerts:
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <!-- <div class="col-md-2">
                                        <mat-radio-group style="margin-top:10px" formControlName="IsCertified"
                                            #radioGroup="matRadioGroup">
                                            <mat-radio-button color="primary" value="0">No
                                            </mat-radio-button><br>
                                            <mat-radio-button color="primary" value="1">Yes
                                            </mat-radio-button>
                                        </mat-radio-group>
                                    </div> -->
                            <div class="col-md-3">
                                <mat-radio-group style="margin-top:10px" formControlName="IsSubscribedEmail" #radioGroup="matRadioGroup">
                                    <mat-radio-button color="primary" value="0">No
                                    </mat-radio-button>
                                    <br>
                                    <mat-radio-button color="primary" value="1">Yes
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div class="col-md-3">
                                <mat-radio-group style="margin-top:10px" formControlName="IsSubscribedSMS" #radioGroup="matRadioGroup">
                                    <mat-radio-button color="primary" value="0">No
                                    </mat-radio-button>
                                    <br>
                                    <mat-radio-button color="primary" value="1">Yes
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div class="row">
                                <mat-form-field class="col-md-2 col-lg-2">
                                    <input matInput placeholder="Payrate" type="number" formControlName="PayRate">
                                    <span matPrefix>$&nbsp;</span>
                                    <span matSuffix>/ hour</span>
                                </mat-form-field>
                                <mat-form-field class="col-md-4 col-lg-4">
                                    <mat-select placeholder="Weekly Time Limits" formControlName="HourLimit">
                                        <mat-option value="1">39 hour per week</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>



                        </div>
                        <!-- <div class="row">
                                <div class="col-md-3 col-lg-3" style="margin-left:-16px">
                                    <label class="col-md-8 col-lg-8" for="mat-radio-group" style="margin-top:10px">Certified:</label>
                                    <mat-radio-group class="col-md-3 col-lg-3" style="margin-top:10px"
                                        formControlName="IsCertified" #radioGroup="matRadioGroup">
                                        <mat-radio-button color="primary" class="col-md-6 col-lg-6" value="0">No
                                        </mat-radio-button>
                                        <mat-radio-button color="primary" class="col-md-6 col-lg-6" value="1">Yes
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <div class="col-md-3 col-lg-3" style="margin-left:-16px">
                                    <label class="col-md-8 col-lg-8" for="mat-radio-group" style="margin-top:10px">Email
                                        Alerts:</label>
                                    <mat-radio-group class="col-md-3 col-lg-3" style="margin-top:10px"
                                        formControlName="IsSubscribedEmail" #radioGroup="matRadioGroup">
                                        <mat-radio-button color="primary" class="col-md-6 col-lg-6" value="0">No
                                        </mat-radio-button>
                                        <mat-radio-button color="primary" class="col-md-6 col-lg-6" value="1">Yes
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <label class="col-md-8 col-lg-8" for="mat-radio-group" style="margin-top:10px">Text
                                        Alerts:</label>
                                    <mat-radio-group class="col-md-3 col-lg-3" style="margin-top:10px"
                                        formControlName="IsSubscribedSMS" #radioGroup="matRadioGroup">
                                        <mat-radio-button color="primary" class="col-md-6 col-lg-6" value="0">No
                                        </mat-radio-button>
                                        <mat-radio-button color="primary" class="col-md-6 col-lg-6" value="1">Yes
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div> -->
                        <!-- <div class="row">
                                    <label class="col-md-2 col-lg-2">Gender</label>
                                    <mat-radio-group class="col-md-4 col-lg-4"  formControlName="Gender">
                                        <mat-radio-button color="primary" class="col-md-5 col-lg-5" value="M">Male</mat-radio-button>
                                        <mat-radio-button color="primary" class="col-md-7 col-lg-7" value="F">Female</mat-radio-button>
                                    </mat-radio-group>
                            </div> -->
                    </div>
                </div>
                <div class="col-md-2 col-lg-2">
                    <div>
                        <h4 style="text-align:center">Profile Picture</h4>
                    </div>
                    <div class="row">
                        <img [src]="profilePicture" width="200" height="200">
                    </div>
                    <div class="row">
                        <input type='file' (change)="onSelectProfileImage($event)">
                    </div>
                </div>
            </div>
            <div class="row col-md-12" style="text-align: right">
                <button mat-raised-button style="background-color: #04c0be; color: white; margin-right: 5px;" type="submit">{{userIdForUpdate ? 'Update': 'Save'}}</button>
                <a routerLink="./../../substitutes">
                    <button mat-raised-button type="button" style="background-color: #74a4a7; color: white;">Back</button>
                </a>
            </div>
        </form>
    </mat-card-content>
</mat-card>