.employeeForm-table {
  text-align: left;
  font-size: 12px;
}

::ng-deep .mat-column-action {
  flex: 0 0 15% !important;
  min-width: 300px !important;
}

  .example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    
  }

  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

   .mat-table {
    overflow: auto;
    max-height: 400px;
  }

  .vertical-center {  
    min-height: 5vh;
    display: flex;
    align-items: center;
  }

  .mat-column-Active {
    flex: 0 0 5% !important;
    min-width: 150px !important;
}

.mat-column-PhoneNumber {
  flex: 0 0 5% !important;
  min-width: 150px !important;
}

.mat-column-FirstName {
  flex: 0 0 5% !important;
  min-width: 150px !important;
}

.mat-column-LastName {
  flex: 0 0 5% !important;
  min-width: 150px !important;
}

.mat-column-Position {
  flex: 0 0 5% !important;
  min-width: 150px !important;
}
.mat-column-Email {
  flex: 0 0 10% !important;
  min-width: 200px !important;
}