<mat-card>
  <mat-card-content>
    <h2>Substitutes</h2>
    <mat-tab-group (selectedTabChange)="onTabChanged($event)">
      <mat-tab label="Substitutes">
        <div class="row col-md-12 col-lg-12" style="text-align: right">
          <a routerLink="/manage/substitutes/addSubstitute">
            <button mat-raised-button style="background: #3CCCD1; color: white;">Add Substitute</button>
          </a>
        </div>
        <div class="row col-md-12 col-lg-12">
          <div class="mat-elevation-z8">
            <div class="example-header">
              <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Substitutes">
              </mat-form-field>
            </div>
            <mat-table #table [dataSource]="substituteDataSource" matSort>
              <!-- Position Column -->
              <ng-container matColumnDef="FirstName">
                <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
                <mat-cell *matCellDef="let Substitute"> {{Substitute.firstName}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="LastName">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
                <mat-cell *matCellDef="let Substitute"> {{Substitute.lastName}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="Position">
                <mat-header-cell *matHeaderCellDef> Position </mat-header-cell>
                <mat-cell *matCellDef="let Substitute"> {{Substitute.userTypeDescription}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="Email">
                <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
                <mat-cell *matCellDef="let Substitute"> {{Substitute.email}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="PhoneNumber">
                <mat-header-cell *matHeaderCellDef> Phone No </mat-header-cell>
                <mat-cell *matCellDef="let Substitute"> {{Substitute.phoneNumber}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="Active">
                <mat-header-cell *matHeaderCellDef> Active </mat-header-cell>
                <mat-cell *matCellDef="let Substitute"> {{Substitute.lastActive == '0' ? 'Today' : Substitute.lastActive == null ? 'Not Yet Login' : Substitute.lastActive + ' days ago'  }}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <a style="cursor: pointer;" #tooltip="matTooltip" matTooltip="Delete Substitute" matTooltipPosition="below">
                    <i class="material-icons" (click)="DeleteSubstitute(row)">delete_sweep</i>
                  </a>
                  <a style="cursor: pointer;margin-left: 10px" #tooltip="matTooltip" matTooltip="Edit Substitute" matTooltipPosition="below">
                    <i class="material-icons" (click)="EditSubstitute(row)">edit</i>
                  </a>
                  <a style="cursor: pointer;margin-left: 10px" #tooltip="matTooltip" matTooltip="View Detail" matTooltipPosition="below">
                    <i class="material-icons" (click)="ViewSubstituteDetail(row)">visibility</i>
                  </a>
                  <mat-slide-toggle #tooltip="matTooltip" style="margin-left:5px" [matTooltip]="row.isActive ? 'click to Inactivate' : 'click to Activate'" matTooltipPosition="above"
                  [checked]="row.isActive" (change)="updateSubstitute(row)" color=""></mat-slide-toggle>
                </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[1, 10, 20]" [showFirstLastButtons]="true">
            </mat-paginator>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Positions">
        <position-table></position-table>
      </mat-tab>
      <mat-tab label="School Sub List">
        <school-sub-list></school-sub-list>
        </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>