<mat-card>
  <mat-card-content>
    <h2>Substitutes</h2>
    <mat-tab-group (selectedTabChange)="onTabChanged($event)">
      <mat-tab label="Substitutes">
        <div class="row col-md-12 col-lg-12" style="text-align: right">
          <a routerLink="/manage/substitutes/addSubstitute">
            <button mat-raised-button color="primary">Add</button>
          </a>
        </div>
        <div class="row col-md-12 col-lg-12">
          <div class="mat-elevation-z8">
            <div class="example-header">
              <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
              </mat-form-field>
            </div>
            <mat-table #table [dataSource]="substituteDataSource" matSort>
              <!-- Position Column -->
              <ng-container matColumnDef="FirstName">
                <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
                <mat-cell *matCellDef="let Substitute"> {{Substitute.firstName}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="LastName">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
                <mat-cell *matCellDef="let Substitute"> {{Substitute.lastName}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="Email">
                <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
                <mat-cell *matCellDef="let Substitute"> {{Substitute.email}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="PhoneNumber">
                <mat-header-cell *matHeaderCellDef> Phone No </mat-header-cell>
                <mat-cell *matCellDef="let Substitute"> {{Substitute.phoneNumber}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <a style="cursor: pointer;" #tooltip="matTooltip" matTooltip="Delete Substitute" matTooltipPosition="below">
                    <i class="material-icons" (click)="DeleteSubstitute(row)">delete_sweep</i>
                  </a>
                  <a style="cursor: pointer;margin-left: 10px" #tooltip="matTooltip" matTooltip="Edit Substitute" matTooltipPosition="below">
                    <i class="material-icons" (click)="EditSubstitute(row)">edit</i>
                  </a>
                  <a style="cursor: pointer;margin-left: 10px" #tooltip="matTooltip" matTooltip="View Detail" matTooltipPosition="below">
                    <i class="material-icons" (click)="ViewSubstituteDetail(row)">visibility</i>
                  </a>
                </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[1, 10, 20]" [showFirstLastButtons]="true">
            </mat-paginator>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Weekly Time Limits">
        <div class="col-md-12 col-lg-12">
          <div class="row vertical-center">
            <div class="col-md-5 col-lg-5">
              Weekly Time Limits
            </div>
            <div class="col-md-7 col-lg-7">
              Recurring Weekly Limits
            </div>
          </div>
          <mat-divider></mat-divider>
          <form (ngSubmit)="onUpdateweeklyLimitSetting(weeklyLimitSettings)" [formGroup]="weeklyLimitSettings">
            <div class="row vertical-center" style="min-height: 10vh !important;">
              <div class="col-md-5 col-lg-5">
                Current Weekly Limit: {{weeklyLimitSettings.value.WeeklyHourLimit}} hours per week
              </div>
              <div class="col-md-2 col-lg-2">
                <mat-form-field>
                  <input matInput formControlName="WeeklyHourLimit" type="number" placeholder="Hours per week">
                </mat-form-field>
                <br>
                <mat-checkbox formControlName="IsWeeklyLimitApplicable">No weekly limit</mat-checkbox>
              </div>
              <div class="col-md-5 col-lg-5" style="text-align: right;">
                <button mat-raised-button type="submit" style="background-color: #04C0BF">Save</button>
                <button mat-raised-button type="button" (click)="onEditHourLimit()" style="margin-left:3px;background-color: #C3DEF1">Edit</button>
                <button mat-raised-button type="button" style="margin-left:3px;background-color: #FFCB97">Remove</button>
              </div>
            </div>
          </form>
        </div>
      </mat-tab>
      <mat-tab label="Payrates">
        <div class="col-md-12 col-lg-12">
          <div class="col-lg-12 col-md-12 mat-elevation-z8">
            <div class="row vertical-center">
              <div class="col-md-5 col-lg-5">
                Role
              </div>
              <div class="col-md-7 col-lg-7">
                Payments
              </div>
            </div>
            <mat-divider></mat-divider>
            <div class="row vertical-center">
              <div class="col-md-5 col-lg-5">
                <div class="row col-md-6 col-lg-6">
                  <mat-form-field>
                    <mat-select placeholder="Position">
                      <mat-option>--</mat-option>
                      <mat-option *ngFor="let position of positions" [value]="position.id">
                        {{position.title}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-1 col-lg-1">
                Daily:
              </div>
              <div class="col-md-1 col-lg-1">
                <mat-form-field>
                  <input matInput type="number" placeholder="rate">
                </mat-form-field>
              </div>
              <div class="col-md-1 col-lg-1">
                <mat-select placeholder="period">
                  <mat-option value="1">Daily</mat-option>
                  <mat-option value="2">Hourly</mat-option>
                </mat-select>
              </div>
              <div class="col-md-3 col-lg-3">
                <div class="col-md-12 col-lg-12" style="text-align: left;">
                  <button mat-raised-button type="submit" style="background-color: #04C0BF; color: white">Save</button>
                  <button mat-raised-button type="button" (click)="onEditHourLimit()" style="margin-left:3px;background-color: #C3DEF1">Edit</button>
                </div>
              </div>
            </div>
            <mat-divider></mat-divider>
            <div class="row vertical-center">
              <div class="col-md-5 col-lg-5">
                <div class="row col-md-6 col-lg-6">
                  <mat-form-field>
                    <mat-select placeholder="Position">
                      <mat-option>--</mat-option>
                      <mat-option *ngFor="let position of positions" [value]="position.id">
                        {{position.title}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-1 col-lg-1">
                Daily:
              </div>
              <div class="col-md-1 col-lg-1">
                <mat-form-field>
                  <input matInput type="number" placeholder="rate">
                </mat-form-field>
              </div>
              <div class="col-md-1 col-lg-1">
                <mat-select placeholder="period">
                  <mat-option value="1">Daily</mat-option>
                  <mat-option value="2">Hourly</mat-option>
                </mat-select>
              </div>
              <div class="col-md-3 col-lg-3">
                <div class="col-md-12 col-lg-12" style="text-align: left;">
                  <button mat-raised-button type="submit" style="background-color: #04C0BF; color:white">Save</button>
                  <button mat-raised-button type="button" (click)="onEditHourLimit()" style="margin-left:3px;background-color: #C3DEF1">Edit</button>
                </div>
              </div>
            </div>
            <mat-divider></mat-divider>
            <div class="row vertical-center">
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-12">
          <div class="col-md-12 vertical-center">
            <div class="row">
              <div class="col-md-12">Rules</div>
            </div>
          </div>
          <div class="col-md-5 col-lg-5 mat-elevation-z8">
            <div class="row vertical-center">
              <div class="col-md-12">Payrate</div>
            </div>
            <mat-divider></mat-divider>
            <div class="row vertical-center">
              <div class="col-md-3">
                <mat-form-field>
                  <mat-select placeholder="Position">
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let position of positions" [value]="position.id">
                      {{position.title}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field>
                  <input matInput type="number" placeholder="Increase After">
                  <span matSuffix>Days</span>
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-form-field>
                  <input matInput type="number" placeholder="Payment">
                  <span matPrefix>$&nbsp;</span>
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <button mat-raised-button type="submit" style="background-color: #04C0BF;color: white">
                  <mat-icon style="font-size: 20px">check</mat-icon>OK</button>
              </div>
              <div class="col-md-2">
                <button mat-raised-button type="button" style="background-color: #F1F1F3">
                  <mat-icon style="color:#d20e0f;font-size:15px;font-weight: bold;">close</mat-icon>
                </button>
              </div>
            </div>
            <div class="row vertical-center">
              <div class="col-md-3">
                <mat-form-field>
                  <mat-select placeholder="Position">
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let position of positions" [value]="position.id">
                      {{position.title}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field>
                  <input matInput type="number" placeholder="Increase After">
                  <span matSuffix>Days</span>
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-form-field>
                  <input matInput type="number" placeholder="Payment">
                  <span matPrefix>$&nbsp;</span>
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <button mat-raised-button type="submit" style="background-color: #04C0BF;color: white">
                  <mat-icon style="font-size: 20px">check</mat-icon>OK</button>
              </div>
              <div class="col-md-2">
                <button mat-raised-button type="button" style="background-color: #F1F1F3">
                  <mat-icon style="color:#d20e0f;font-size:15px;font-weight: bold;">close</mat-icon>
                </button>
              </div>
            </div>
            <div class="row vertical-center">
              <div class="col-md-3">
                <mat-form-field>
                  <mat-select placeholder="Position">
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let position of positions" [value]="position.id">
                      {{position.title}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field>
                  <input matInput type="number" placeholder="Increase After">
                  <span matSuffix>Days</span>
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-form-field>
                  <input matInput type="number" placeholder="Payment">
                  <span matPrefix>$&nbsp;</span>
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <button mat-raised-button type="submit" style="background-color: #04C0BF;color: white">
                  <mat-icon style="font-size: 20px">check</mat-icon>OK</button>
              </div>
              <div class="col-md-2">
                <button mat-raised-button type="button" style="background-color: #F1F1F3">
                  <mat-icon style="color:#d20e0f;font-size:15px;font-weight: bold;">close</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>