<style>
::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: #76C598;;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background {
  background-color: #3CCCD1 !important;
}
</style>
<div class="col-md-12">
    <div style="font-size: 16px; margin-bottom: 20px;
    margin-top: 20px;" class="row col-md-offset-4 vertical-center">
        <b> Time Tracker {{TimeTrackerFilter.value.dateRange.begin | date:'mediumDate'}}-{{TimeTrackerFilter.value.dateRange.end | date:'mediumDate'}}
        </b>
    </div>
    <mat-divider></mat-divider>
    <form *ngIf = "TimeTrackerFilter" [formGroup]="TimeTrackerFilter" (ngSubmit)="submitForm(TimeTrackerFilter)">
        <div style="margin-top: 35px;
        margin-bottom: 20px;" class="row vertical-center">
            <div class="col-md-2">
                <mat-form-field>
                    <input matInput placeholder="Date Range" [satDatepicker]="picker2" formControlName="dateRange">
                    <sat-datepicker #picker2 [rangeMode]="true">
                    </sat-datepicker>
                    <sat-datepicker-toggle matSuffix [for]="picker2"></sat-datepicker-toggle>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field>
                    <mat-select placeholder="Search by" formControlName="searchBy">
                        <mat-option value="1">Search by Employee</mat-option>
                        <mat-option value="2">Search by Location</mat-option>
                        <mat-option value="3">Search by Substitute</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field>
                    <input matInput placeholder="Enter name here" formControlName="searchByName">
                </mat-form-field>
            </div>
            <div class="col-md-1">
                <button mat-raised-button class="btn btn-success"
                    style="background: #3CCCD1; color: white;" type="submit">Search</button>
            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-4" style="text-align: right">
                <button mat-raised-button (click)="onEditPayrollReport()" style="background:#76C598; color: white;"
                    type="button">Edit</button>
                <!-- <button mat-raised-button
                    style="background: #5E9ECC; color: white; margin-left:5px"
                    type="button">Save</button> -->
                <button mat-raised-button printSectionId="htmlForPrint" ngxPrint
                    style="background:#F0F1F3; color:#A1A1A3; margin-left:5px"
                    type="button">
                    <i class="material-icons">
                        print
                    </i>
                    Print</button>
                <button mat-raised-button (click)="onExportingToCSV()"
                    style="background:#F0F1F3; color:#A1A1A3; margin-left:5px"
                    type="button">
                    <i class="material-icons">
                        description
                    </i>
                    Export CSV</button>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="example-container mat-elevation-z8">
            <div class="example-header">
                    <mat-table id="htmlForPrint" #table [dataSource]="timeTrackerDetail" matSort>
                            <!-- Position Column -->
                            <ng-container matColumnDef="Date">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
                              <mat-cell *matCellDef="let timeTracker"> {{timeTracker.clockInDate | date:'E, M/d/y' }} </mat-cell>
                            </ng-container>
              
                            <ng-container matColumnDef="Employee">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Employee </mat-header-cell>
                              <mat-cell *matCellDef="let timeTracker"> {{timeTracker.employeeName}} </mat-cell>
                            </ng-container>
              
                            <ng-container matColumnDef="Location">
                              <mat-header-cell *matHeaderCellDef> Location </mat-header-cell>
                              <mat-cell *matCellDef="let timeTracker"> Subzz </mat-cell>
                            </ng-container>
              
                            <ng-container matColumnDef="Clockin">
                              <mat-header-cell *matHeaderCellDef> Clock In </mat-header-cell>
                              <mat-cell *matCellDef="let timeTracker"> {{timeTracker.clockInTime | convertFrom24HourTo12HourFormat}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="Clockout">
                                    <mat-header-cell *matHeaderCellDef> Clock Out </mat-header-cell>
                                    <mat-cell *matCellDef="let timeTracker"> {{timeTracker.clockOutTime | convertFrom24HourTo12HourFormat}} </mat-cell>
                                  </ng-container>
                                  
                                  <ng-container matColumnDef="Duration">
                                        <mat-header-cell *matHeaderCellDef> Duration </mat-header-cell>
                                        <mat-cell *matCellDef="let timeTracker"> {{timeTracker.totalMinutes + ' min'}} </mat-cell>
                                      </ng-container>

                                      <ng-container matColumnDef="Break">
                                            <mat-header-cell *matHeaderCellDef> Break </mat-header-cell>
                                            <mat-cell *matCellDef="let timeTracker"> {{ timeTracker.status == 0 ? 'No Break' : 'Break' }} </mat-cell>
                                          </ng-container>

                                          <ng-container matColumnDef="Action">
                                            <mat-header-cell *matHeaderCellDef>
                                                <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()"
                                                    [aria-label]="checkboxLabel()">
                                                </mat-checkbox>
                                                <span style="margin-left:5px;">Edit</span>
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row">
                                                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                                                    [aria-label]="checkboxLabel(row)">
                                                </mat-checkbox>
                                            </mat-cell>
                                              </ng-container>
              
                            
                            <mat-header-row *matHeaderRowDef="displayedColumnsForTimeTracker"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumnsForTimeTracker;"></mat-row>
                          </mat-table>
                          <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[1, 10, 20]" [showFirstLastButtons]="true">
                          </mat-paginator>
            </div>
        </div>
    </div>
</div>