::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color: #76C598;
    ;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background {
    background-color: #3CCCD1 !important; 
}

.mat-table {
    overflow: auto;
    max-height: 400px;
  }
  .mat-column-Date {
    flex: 0 0 5% !important;
    min-width: 150px !important;
  }
  
  .mat-column-Employee {
    flex: 0 0 5% !important;
    min-width: 150px !important;
  }
  
  .mat-column-Location {
    flex: 0 0 5% !important;
    min-width: 150px !important;
  }
  
  .mat-column-Clockin {
    flex: 0 0 5% !important;
    min-width: 150px !important;
  }
  .mat-column-Clockout {
    flex: 0 0 5% !important;
    min-width: 150px !important;
  }

  .mat-column-Duration {
    flex: 0 0 5% !important;
    min-width: 150px !important;
  }
  
  .mat-column-Break {
    flex: 0 0 5% !important;
    min-width: 150px !important;
  }
  .mat-column-Action {
    flex: 0 0 5% !important;
    min-width: 150px !important;
  }