<form [formGroup]="form" (ngSubmit)="onSubmit(form)" novalidate>
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ id > 0 ? "Edit" : "Create" }} User Permissions</mat-card-title>
      <mat-card-subtitle style="margin-top: 10px">
        {{ id > 0 ? "Please edit the user permissions and click save" : "Please define all permissions and access for all users with this role" }}. If you grant a user a permissions, they will
        have access to it in their panel.
      </mat-card-subtitle>
    </mat-card-header>
    <div class="row p-15">
      <div class="form-group col-md-6">
        <label class="required">Role Title</label>
        <input type="text" class="form-control" autocomplete="off" formControlName="name" [ngClass]="{'has-error': !form.get('name').valid && submitted}"/>
        <div class="form-inline form-error-content" *ngIf="submitted">
          <span *ngIf="submitted && form.get('name').errors?.required">Role Title is required</span>
          <span *ngIf="submitted && form.get('name').errors?.pattern">Role Title is invalid</span>
        </div>
      </div>
      <div class="form-group col-md-6" style="margin-top: 20px">
        <button mat-raised-button type="submit" class="btn btn-success">Save</button>&nbsp;
        <button mat-raised-button type="button" class="btn-default" [routerLink]="['/permissions']">Cancel</button>
      </div>
    </div>
    <mat-card-content>
      <mat-list *ngFor="let category of permissions">
        <h3 mat-subheader>{{category.description}}</h3>
        <mat-list-item *ngFor="let permission of category.permissions">
          <div class="col-xs-6">
            <h5 mat-line>{{permission.displayName}}</h5>
          </div>
          <div class="col-xs-4">
            <mat-radio-group>
              <mat-radio-button [value]="'true'" [checked]="permission.isChecked" (change)="permissionCheckedChanged(permission, $event)">Granted</mat-radio-button>&nbsp;
              <mat-radio-button [value]="'false'" [checked]="!permission.isChecked" (change)="permissionCheckedChanged(permission, $event)">Denied</mat-radio-button>
            </mat-radio-group>
          </div>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="submit" class="btn btn-success">Save</button>&nbsp;
      <button mat-raised-button type="button" class="btn-default" [routerLink]="['/permissions']" style="margin-left: 0px">Cancel</button>
    </mat-card-actions>
  </mat-card>
</form>