<div class="row">
  <div class="col-md-12">
    <mat-card style="min-height: 600px">
      <mat-card-content>
        <mat-card-title>School Files</mat-card-title>
        <mat-divider></mat-divider>
        <div class="row" style="padding-top:20px"></div>
        <div class="demo-tab-content">
          <div class="col-md-12 vertical-center">
            <div class="row">
              <div class="col-md-6">
              </div>
              <div class="col-md-6 col-lg-6" style="margin-top: 10px; text-align: right">
                <button mat-button type="button" color="warn" (click)="uploadClick()">
                  <mat-icon>file_upload</mat-icon>
                  {{OriginalFileNameForDisplay}}
                  <span *ngIf='!OriginalFileNameForDisplay'>Upload</span>
                </button>
                <i *ngIf='OriginalFileName' style="cursor: pointer;" class="material-icons" #tooltip="matTooltip"
                  matTooltip="Remove File" matTooltipPosition="right" (click)="removeAttachedFile()">
                  cancel
                </i>
                <input type="file" id="UploadButton" (change)="upload($event.target.files)" style="display: none" />
                <button mat-raised-button (click)="AddFile()" type="button" mat-raised-button
                  style="color:white; background-color: #04c0be; margin-left: 10px"
                  style="color:white; background-color: #04c0be; margin-left: 10px">
                  Add
                  <i class="material-icons" matTooltip="Add File">add</i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="demo-tab-content">
          <div class="col-md-12 vertical-center">
            <div class="col-lg-12 col-md-12 mat-elevation-z8">
              <mat-list class="row">
                <div>
                  <h3 class="col-lg-12 col-md-12" style="background: #F5F5F5;" mat-subheader>Files</h3>
                  <div class="row" style="margin-left: 5px" *ngFor="let file of Files">
                    <div style="margin-top: 10px;">
                      <mat-form-field class="col-md-3 col-lg-3">
                        <input disabled="true" matInput [(ngModel)]="file.originalFileName" placeholder="File Name">
                      </mat-form-field>
                    </div>
                    <div style="margin-top: 10px">
                      <mat-form-field class="col-md-3 col-lg-3">
                        <input type="datetime-local" disabled="true" matInput [(ngModel)]="file.date"
                          placeholder="Date">
                      </mat-form-field>
                    </div>
                    <div class="col-md-2 col-lg-2" style="margin-top: 10px; text-align: right">
                      <a style="cursor: pointer;margin-left: 10px" #tooltip="matTooltip" matTooltip="View File"
                        matTooltipPosition="below">
                        <i class="material-icons" (click)="ViewFile(file)">visibility</i>
                      </a>
                      <a style="cursor: pointer;margin-left: 10px" #tooltip="matTooltip" matTooltip="Download File"
                        matTooltipPosition="below">
                        <i class="material-icons" (click)="DownloadFile(file)">get_app</i>
                      </a>
                      <a style="cursor: pointer;margin-left: 10px" #tooltip="matTooltip" matTooltip="Delete File"
                        matTooltipPosition="below">
                        <i class="material-icons" (click)="DeleteFile(file)">delete_sweep</i>
                      </a>
                    </div>
                  </div>
                </div>
              </mat-list>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>