<div class="example-container">
  <div [class.example-is-mobile]="mobileQuery.matches">
    <Subzz-app-SideNav></Subzz-app-SideNav>
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav [ngClass]="{'col-md-2': isOpen , '': !isOpen}" opened="{{isOpen}}" (keydown.escape)="toggle()"
        [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list *ngIf='userTemplate && userTemplate.length' (click)="UpdateTab()">
          <a mat-list-item [routerLinkActive]="['active']" routerLink="/{{userTempplateObj.stateMachine}}"
            *ngFor="let userTempplateObj of userTemplate">{{userTempplateObj.name}}</a>
        </mat-nav-list>
        <ng-container *ngIf="(userRole == 1 || userRole == 2 || userRole == 3) && componentname == 'absence'">
          <div class="leave-balance-content">
            <h4>Leave Balance</h4>
            <div class="row">
              <mat-divider></mat-divider>
              <div *ngFor="let empLeave of employeeLeaveBalance">
                <div class="col-md-8" style="text-align:left">
                  <h5>{{empLeave.allowanceTitle}}</h5>
                </div>
                <div class="col-md-4">
                  <h5 style="text-align:center">{{empLeave.allowanceBalance? empLeave.allowanceBalance: 'N/A'}}</h5>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </mat-sidenav>
      <mat-sidenav-content style="min-height: 450px"
        [ngClass]="{'col-md-10': isOpen , 'col-md-10 col-md-offset-1': !isOpen}" class="right-content">
        <router-outlet (activate)="onActivate($event)"></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>