<style>
  h5 {
    font-size: 17px;
  }
</style>
<div class="example-container">
  <div [class.example-is-mobile]="mobileQuery.matches">
    <Subzz-app-SideNav></Subzz-app-SideNav>
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav [ngClass]="{'col-md-2': isOpen , '': !isOpen}" opened="{{isOpen}}" (keydown.escape)="toggle()"
        [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list *ngIf='userTemplate && userTemplate.length' (click)="UpdateTab()">
          <a mat-list-item [routerLinkActive]="['active']" routerLink="/{{userTempplateObj.stateMachine}}"
            *ngFor="let userTempplateObj of userTemplate">{{userTempplateObj.name}}</a>
        </mat-nav-list>
        <ng-container *ngIf="userRole == 3 && componentname == 'absence'">
          <div *ngFor="let empLeave of employeeLeaveBalance" class="leave-balance-content">
            <h4 style="font-size: 20px">Leave Balance</h4>
            <div class="row">
              <mat-divider></mat-divider>
              <div class="col-md-6" style="text-align:left">
                <h5>Personal</h5>
              </div>
              <div class="col-md-6">
                <h5 style="text-align:center">{{empLeave.personal? empLeave.personal: 'N/A'}}</h5>
              </div>
              <div class="col-md-6" style="text-align:left">
                <h5>Sick</h5>
              </div>
              <div class="col-md-6">
                <h5 style="text-align:center">{{empLeave.sick? empLeave.sick: 'N/A'}}</h5>
              </div>
              <div class="col-md-6" style="text-align:left">
                <h5>Vacation</h5>
              </div>
              <div class="col-md-6">
                <h5 style="text-align:center">{{empLeave.vacation? empLeave.vacation: 'N/A'}}</h5>
              </div>
            </div>
          </div>
        </ng-container>
      </mat-sidenav>
      <mat-sidenav-content style="min-height: 450px"
        [ngClass]="{'col-md-10': isOpen , 'col-md-10 col-md-offset-1': !isOpen}" class="right-content">
        <router-outlet (activate)="onActivate($event)"></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>