<mat-card>
    <mat-card-title>{{districtIdForUpdate ? 'Edit District': 'Add District'}}</mat-card-title>
    <hr>
    <mat-card-content>
        <form (ngSubmit)="onSubmit(districtForm)" [formGroup]="districtForm">
            <table class="row col-md-offset-1 districtForm-table">
                <tr>
                    <td class="col-md-2">District’s Name</td>
                    <td>
                        <mat-form-field class="col-md-4">
                            <input matInput placeholder="Name" formControlName="Name">
                            <mat-error *ngIf="districtForm.controls['Name'].hasError('required')">
                                First Name is required.
                            </mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-2">Country</td>
                    <td>
                        <mat-form-field class="col-md-4">
                            <mat-select placeholder="Country" formControlName="Country" (selectionChange)="onChange($event.value)">
                                <mat-option>--</mat-option>
                                <mat-option *ngFor="let country of countries" (click)="setCountryCode(country.country_Code)" [value]="country.countryId">
                                    {{country.countryName}} ({{country.country_Code}})
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="districtForm.controls['Country'].hasError('required')">
                                Please select any country.
                            </mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-2">Address</td>
                    <td>
                        <mat-form-field hintLabel="Min 7 and Max 50 characters." class="col-md-4">
                            <textarea matInput #address minlength="7" maxlength="50" placeholder="Address" formControlName="Address" matTextareaAutosize
                                matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
                            <mat-hint align="end">{{address.value?.length || 0}}/50</mat-hint>
                            <mat-error *ngIf="districtForm.controls['Address'].hasError('required')">
                                Address is required.
                            </mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-2">City</td>
                    <td>
                        <mat-form-field hintLabel="Min 2 and Max 30 characters." class="col-md-4">
                            <input matInput #city minlength="2" maxlength="30" placeholder="City" formControlName="City">
                            <mat-hint align="end">{{city.value?.length || 0}}/30</mat-hint>
                            <mat-error *ngIf="districtForm.controls['City'].hasError('required')">
                                City is required.
                            </mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-2">State/Province</td>
                    <td>
                        <mat-form-field class="col-md-4">
                            <mat-select placeholder="State/Province" formControlName="State">
                                <mat-option>--</mat-option>
                                <mat-option *ngFor="let state of states | async" [value]="state.stateId">
                                    {{state.stateName}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="districtForm.controls['State'].hasError('required')">
                                Please select any state/province.
                            </mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-2">Zip Code</td>
                    <td>
                        <mat-form-field hintLabel="Min 3 and Max 6 characters." class="col-md-4">
                            <input matInput #zipCode minlength="3" maxlength="6" placeholder="Zip Code" formControlName="ZipCode">
                            <mat-hint align="end">{{zipCode.value?.length || 0}}/6</mat-hint>
                            <mat-error *ngIf="districtForm.controls['ZipCode'].hasError('pattern')">
                                Only numbers allowed
                            </mat-error>
                            <mat-error *ngIf="districtForm.controls['ZipCode'].hasError('required')">
                                Zip Code is required.
                            </mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-2">Phone Number</td>
                    <td>
                        <mat-form-field hintLabel="Min 7 and Max 11 characters." class="col-md-4">
                            <span matPrefix>{{countryCode}} &nbsp;</span>
                            <input matInput #input minlength="7" maxlength="15" placeholder="Phone No" formControlName="PhoneNo">
                            <!-- <span matPrefix>{{countryCode}}</span> -->
                            <mat-hint align="end">{{input.value?.length || 0}}/15</mat-hint>
                            <mat-error *ngIf="districtForm.controls['PhoneNo'].hasError('pattern')">
                                Only numbers allowed
                            </mat-error>
                            <mat-error *ngIf="districtForm.controls['PhoneNo'].hasError('required')">
                                Phone Number is required.
                            </mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-2">Time Zone</td>
                    <td>
                        <mat-form-field class="col-md-4">
                            <mat-select placeholder="Select Time Zone" formControlName="TimeZone">
                                <mat-option>--</mat-option>
                                <mat-option *ngFor="let timezone of timezones" [value]="timezone.id">
                                    {{timezone.timeZone_Title}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="districtForm.controls['TimeZone'].hasError('required')">
                                Time Zone is required.
                            </mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-2">Time</td>
                    <td>
                        <mat-form-field class="col-md-2">
                            <input matInput type="time" placeholder="Start Time" formControlName="StartTime">
                        </mat-form-field>
                        <mat-form-field class="col-md-2">
                            <input matInput type="time" placeholder="1st Half Day EndTime" formControlName="firstHalfEndTime">
                        </mat-form-field>
                        <mat-form-field class="col-md-2">
                            <input matInput type="time" placeholder="2nt Half Day StartTime" formControlName="SecondHaifStartTime">
                        </mat-form-field>
                        <mat-form-field class="col-md-2">
                            <input matInput type="time" placeholder="End Time" formControlName="EndTime">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="content-center" style="padding-top: 20px">
                        <button mat-raised-button type="submit"
                            style="background-color: #04c0be; color: white; margin-left: 10px;">
                            {{districtIdForUpdate ? 'Update': 'Add District to Database'}}
                        </button>
                        <a routerLink="/manage/districts">
                            <button mat-raised-button type="button" style="background-color: #74a4a7; color: white; margin-left: 5px">Back</button>
                        </a>
                    </td>
                </tr>
            </table>
        </form>
    </mat-card-content>
</mat-card>