.districtForm-table {
    text-align: left;
    font-size: 12px;
}

.absence-summary-title {
    color: #5e5e5e;
    background: #f3f3f3;
    padding: 10px !important;
    border-top: solid 1px #e8e6e7;
    border-bottom: solid 1px #e8e6e7;
    font-size: 1.2em;
    padding-left: 30px !important;
  }
  
  .report-details-table tr {
    td:first-child  {
    vertical-align: middle;
    text-align: left;
    color: #ababab;
    width: 30%;
    font-size: 12px;
    padding-left: 50px;
    }
    td:last-child  {
      vertical-align: middle;
      text-align: left;
      color: #868686;
      font-size: 12px;
      }
  }

   /* Structure */
   .example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }

  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }

  // .mat-form-field {
  //   font-size: 14px;
  
  // }

  .mat-table {
    overflow: auto;
    max-height: 400px;
  }

  .mat-column-DistrictName {
    flex: 0 0 5% !important;
    min-width: 200px !important;
  }
  
  .mat-column-DistrictAddress {
    flex: 0 0 5% !important;
    min-width: 200px !important;
  }
  
  .mat-column-City {
    flex: 0 0 5% !important;
    min-width: 200px !important;
  }

  .mat-column-DistrictZipCode {
    flex: 0 0 5% !important;
    min-width: 200px !important;
  }
  
  .mat-column-action {
    flex: 0 0 5% !important;
    min-width: 200px !important;
  }