<div>
    <mat-dialog-actions style="margin-bottom:0px!important">
        <div class="col-md-11 pr-0">
            Absence
        </div>
        <div class="col-md-1">
            <mat-icon class="mr-15 cursor-pointer" title="Close" (click)="onCloseDialog()" mat-dialog-close>clear</mat-icon>
        </div>
    </mat-dialog-actions>
    <mat-divider></mat-divider>
    <mat-dialog-content class="mat-typography" style="padding-top: 10px">
        <div>
            <div class="row col-md-10 col-md-offset-1 mat-elevation-z8" style="margin-bottom: 15px;">
                <table cellpadding="3" cellspacing="3" width="100%">
                    <tr>
                        <th>
                            Start Date
                        </th>
                        <th>
                            End Date
                        </th>
                        <th>
                            Start Time
                        </th>
                        <th>
                            End Time
                        </th>
                    </tr>
                    <mat-divider></mat-divider>
                    <tr *ngFor="let absence of reportDetail">
                        <td>
                            <mat-form-field>
                                <input matInput [matDatepicker]="StartDatePicker" placeholder="Start Date" [(ngModel)]="absence.startDate">
                                <mat-datepicker-toggle matSuffix [for]="StartDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #StartDatePicker></mat-datepicker>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <input matInput [min]="absence.startDate" [matDatepicker]="EndDatePicker" placeholder="End Date" [(ngModel)]="absence.endDate">
                                <mat-datepicker-toggle matSuffix [for]="EndDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #EndDatePicker></mat-datepicker>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <input matInput type="time" placeholder="Start Time" [(ngModel)]="absence.startTime">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <input matInput type="time" placeholder="End Time" [(ngModel)]="absence.endTime">
                            </mat-form-field>
                        </td>
                        <td>
                                <button mat-raised-button type="button" (click)="onUpdateAbsence(absence)" style="background-color: #04C0BF; color: white">Save</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </mat-dialog-content>
</div>