<div style="margin: -4%;">
    <mat-dialog-actions>
        <div class="col-md-8 pr-0">
            <mat-icon class="mr-15 cursor-pointer" title="Close" (click)="onClose()">clear</mat-icon>
        </div>
    </mat-dialog-actions>
    <hr>
    <div *ngIf='data.isShowAttachment == false'>
        <div class="avatar-wrapper">
            <img class="profile-pic" [src]="getImage(data.profilePicture)" />
        </div>
        <div class="text-center">
            <h4>{{data.employeeName}}</h4>
        </div>
        <div class="absence-summary-title p-5 mt-5">Absence Summary</div>
        <br>
        <table class="report-details-table" cellpadding="3" cellspacing="3" width="100%">
            <tr>
                <td>ID:</td>
                <td>{{data.absenceId}}</td>
            </tr>
            <tr>
                <td>Employee:</td>
                <td>{{data.employeeName}}, {{data.organizationName ? data.organizationName : data.absenceLocation }}
                </td>
            </tr>
            <tr>
            <tr>
                <td>Position:</td>
                <td>{{data.positionDescription}}</td>
            </tr>
            <tr>
                <td>From:</td>
                <td>{{data.startDate | date:'E, M/d/y'}}</td>
            </tr>
            <tr>
                <td>To:</td>
                <td>{{data.endDate | date:'E, M/d/y'}}</td>
            </tr>
            <tr>
                <td>Duration:</td>
                <td>{{data.durationType == 1 ? 'Full Day' : data.durationType == 2 ? 'First Half' : data.durationType == 3 ?
                    'Second Half' : 'Custom Time'}}</td>
            </tr>
            <tr>
                <td>Employee:</td>
                <td>{{data.employeeName}}, {{data.organizationName ? data.organizationName : data.absenceLocation }}
                </td>
            </tr>
            <tr>
                <td>Attachment:</td>
                <td>
                    <div *ngIf='data.anyAttachment'>
                        <button mat-button type="button" color="warn" (click)="DownloadFile()">
                            Download Attachment
                            <mat-icon>download</mat-icon>
                            {{data.fileName}}
                        </button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="row" *ngIf='data.isShowAttachment == true'>
        <div class="col-md-12" style="text-align:right;padding-right: 28px; padding-bottom: 5px;"><button mat-button
                type="button" color="warn" (click)="DownloadFile()">
                <i class="material-icons">
                    get_app
                </i>Download</button></div>
        <div class="col-md-12"><iframe [src]='attachFileUrl'
                style="height: 560px; width:730px;margin-left: 15px;"></iframe></div>
    </div>
</div>