<div style="margin: -4%;">
    <mat-dialog-actions>
        <div class="col-md-8 pr-0">
            <mat-icon class="mr-15 cursor-pointer" title="Close" (click)="onClose()">clear</mat-icon>
        </div>
    </mat-dialog-actions>
    <hr>
    <div class="row" *ngFor="let running of RunningLate">
        <div class="col-md-10"><h5>{{running.runningLateTitle}}</h5><br></div>
        <div class="col-md-2"><a style="cursor: pointer; color: #52b57c" #tooltip="matTooltip" matTooltip="Send Message" matTooltipPosition="below"><i class="material-icons">send</i></a></div>
        
    </div>   
</div>