<div class="main-container">
    <Subzz-app-SideNav></Subzz-app-SideNav>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <mat-card style="min-height: 600px">
                <mat-card-content>
                    <h2 class="example-h2">Profile Settings</h2>
                    <mat-tab-group class="demo-tab-group">
                        <mat-tab label="Personal Information">
                            <div class="demo-tab-content">
                                <form (ngSubmit)="onSubmitPersonalForm(personalFormGroup)" [formGroup]="personalFormGroup">
                                    <table class="col-md-12 col-lg-12">
                                        <tr>
                                            <td>
                                                <mat-form-field class="demo-full-width">
                                                    <input matInput placeholder="First Name" formControlName="FirstName">
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field class="demo-full-width">
                                                    <input matInput placeholder="Last Name" formControlName="LastName">
                                                </mat-form-field>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <mat-form-field class="demo-full-width">
                                                    <input matInput placeholder="Email ID" formControlName="Email">
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field class="demo-full-width">
                                                    <input matInput placeholder="Contact No" formControlName="PhoneNumber">
                                                </mat-form-field>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img [src]="ProfilePicture" width="200" height="200">
                                                <br/>
                                                <input type='file' (change)="onSelectFile($event)">
                                            </td>
                                        </tr>
                                        <tr style="text-align: right">
                                            <td colspan="2" class="content-center">
                                                <button mat-raised-button color="primary" type="submit">Save</button>
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </div>
                        </mat-tab>
                        <mat-tab label="Official Information">
                            <div class="demo-tab-content">
                                <form (ngSubmit)="onFromSubmit(officialFormGroup)" [formGroup]="officialFormGroup">
                                    <table class="col-md-12 col-lg-12">
                                        <tr>
                                            <td>
                                                <mat-form-field class="demo-full-width">
                                                    <input matInput placeholder="Employee ID" formControlName="EmployeeID">
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field class="demo-full-width">
                                                    <input matInput placeholder="Employee Type" formControlName="EmployeeType">
                                                </mat-form-field>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <mat-form-field class="demo-full-width">
                                                    <input matInput placeholder="Certified" formControlName="Certified">
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field class="demo-full-width">
                                                    <input matInput placeholder="Organization" formControlName="Organization">
                                                </mat-form-field>
                                            </td>
                                        </tr>
                                        <tr style="text-align: right">
                                            <td colspan="2" class="content-center">
                                                <button disabled mat-raised-button color="primary" type="submit">Save</button>
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </div>
                        </mat-tab>
                        <mat-tab *ngIf='UserRole != 4' label="Substitute Preferences">
                            <form (ngSubmit)="SaveSubstitutePreference()" [formGroup]="PreferencesFormGroup">
                                <div style="padding-top: 10px; min-height:500px" class=" col-md-10 col-md-offset-1 shadow">
                                    <div style="font-size: 15px" class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <b> Favorite Substitutes </b>
                                                <br> Remaining choices: {{5 - FavoriteSubstututes.length}}
                                            </div>
                                            <div class="col-md-7">
                                                <mat-form-field class="col-md-5 col-lg-5">
                                                    <input type="text" placeholder="Search Substitute here" aria-label="Number" (input)="SearchSubstitutes($event.target.value)"
                                                        matInput [matAutocomplete]="autoCom">
                                                    <mat-autocomplete #autoCom="matAutocomplete">
                                                        <mat-option (onSelectionChange)="SelectToAddInPreferredSubstitute(user)" *ngFor="let user of SubstituteList | async" [value]="">
                                                            {{user.firstName}}
                                                        </mat-option>
                                                    </mat-autocomplete>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div style="height:175px" class="col-md-12">
                                        <div *ngIf='FavoriteSubstututes && FavoriteSubstututes.length'>
                                            <a *ngFor="let Substitute of FavoriteSubstututes">
                                                <mat-icon style="cursor: pointer;" #tooltip="matTooltip" (click)="FavoriteSubstututes.splice($index,1)" matTooltip="Remove Substitute"
                                                    matTooltipPosition="left">cancel</mat-icon>{{Substitute.firstName}}
                                                <br>
                                            </a>
                                        </div>
                                    </div>
                                    <div style="font-size: 15px" class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <b> Blocked Substitutes </b>
                                                <br> Remaining choices: {{5 - BlockedSubstitutes.length}}
                                            </div>
                                            <div class="col-md-7">
                                                <mat-form-field class="col-md-10 col-lg-10">
                                                    <input type="text" placeholder="Search Substitute here" aria-label="Number" (input)="SearchSubstitutes($event.target.value)"
                                                        matInput [matAutocomplete]="auto">
                                                    <mat-autocomplete #auto="matAutocomplete">
                                                        <mat-option (onSelectionChange)="SelectToBlockSubstitite(user)" *ngFor="let user of SubstituteList | async" [value]="">
                                                            {{user.firstName}}
                                                        </mat-option>
                                                    </mat-autocomplete>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div style="height:175px;" class="col-md-12">
                                        <div *ngIf='BlockedSubstitutes && BlockedSubstitutes.length'>
                                            <a *ngFor="let Substitute of BlockedSubstitutes">
                                                <mat-icon style="cursor: pointer;" #tooltip="matTooltip" (click)="BlockedSubstitutes.splice($index,1)" matTooltip="Remove Substitute"
                                                    matTooltipPosition="left">cancel</mat-icon>{{Substitute.firstName}}
                                                <br>
                                            </a>

                                        </div>
                                    </div>
                                    <div style="text-align: center" class="col-md-12">
                                        <button mat-raised-button color="primary" type="submit">Save</button>
                                    </div>
                                </div>
                            </form>
                        </mat-tab>
                        <!-- <mat-tab label="Add Schedule">
                            <div class="row col-md-12" style="padding-top:10px">
                                <div class="col-md-2">
                                    <mat-form-field>
                                        <input matInput placeholder="Name">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field >
                                        <input matInput type="number" placeholder="Period">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field>
                                        <input matInput type="time" placeholder="Start Time">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field>
                                        <input matInput type="time" placeholder="End Time">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field>
                                        <input matInput type="text" placeholder="Subject">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field>
                                        <input matInput type="text" placeholder="Grade">
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-tab> -->
                    </mat-tab-group>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>