.main-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  table {
    width: 100%;
  }
.shadow {
      border: solid rgba(0,0,0,.1);
}
.profileForm-table {
  text-align: left;
  font-size: 12px;
  width: 50%;
  margin-top: 10px;
}