<div class="row">
    <div class="col-md-12">
        <mat-card style="min-height: 600px">
            <mat-card-content>
                <mat-card-title>Profile</mat-card-title>
                <mat-tab-group class="demo-tab-group">
                    <mat-tab label="Personal Info">
                        <div class="demo-tab-content">
                            <form (ngSubmit)="onSubmitPersonalForm(personalFormGroup)" [formGroup]="personalFormGroup">
                                <table class="col-md-6 col-lg-6 col-md-offset-1 profileForm-table">
                                    <tr>
                                        <td>First Name</td>
                                        <td>
                                            <mat-form-field>
                                                <input matInput placeholder="First Name" formControlName="FirstName">
                                                <mat-error
                                                    *ngIf="personalFormGroup.controls['FirstName'].hasError('required')">
                                                    First Name is required.
                                                </mat-error>
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Last Name</td>
                                        <td>
                                            <mat-form-field>
                                                <input matInput placeholder="Last Name" formControlName="LastName">
                                                <mat-error
                                                    *ngIf="personalFormGroup.controls['LastName'].hasError('required')">
                                                    Last Name is required.
                                                </mat-error>
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Mobile Number</td>
                                        <td>
                                            <mat-form-field hintLabel="Min 7 and Max 11 characters">
                                                <input matInput #mobile minlength="7" maxlength="11"
                                                    formControlName="PhoneNumber" placeholder="Mobile Number">
                                                <mat-hint align="end">{{mobile.value?.length || 0}}/11</mat-hint>
                                                <mat-error
                                                    *ngIf="personalFormGroup.controls['PhoneNumber'].hasError('pattern')">
                                                    Only numbers allowed.
                                                </mat-error>
                                                <mat-error
                                                    *ngIf="personalFormGroup.controls['PhoneNumber'].hasError('required')">
                                                    Mobile Number is required.
                                                </mat-error>
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Work Email</td>
                                        <td>
                                            <mat-form-field>
                                                <input matInput type="email" placeholder="Work Email"
                                                    formControlName="Email">
                                                <mat-error
                                                    *ngIf="personalFormGroup.controls['Email'].hasError('email')">
                                                    Not a valid email.
                                                </mat-error>
                                                <mat-error
                                                    *ngIf="personalFormGroup.controls['Email'].hasError('required')">
                                                    Email is required.
                                                </mat-error>
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                </table>
                                <div class="col-md-4">
                                    <div>
                                        <h5>Profile Picture</h5>
                                    </div>
                                    <div>
                                        <img [src]="ProfilePicture" width="150" height="150">
                                    </div>
                                    <div style="padding-top: 5px">
                                        <input type="file" id="UploadButton" style="display: none;"
                                            (change)="onSelectProfileImage($event)">
                                        <button mat-button type="button" matTooltip="Upload Image"
                                            (click)="uploadClick()"
                                            style="color:white; background-color: #04c0be; padding: 0px 7px;">
                                            Upload
                                            <i class="material-icons">add</i>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-md-offset-1"
                                    style="padding-top: 10px; padding-left: 0px">
                                    <button mat-raised-button style="color:white; background-color: #04c0be;"
                                        type="submit">Save</button>
                                </div>
                            </form>
                        </div>
                    </mat-tab>
                    <mat-tab label="Change Password">
                        <form (ngSubmit)="submitResetPassForm(resetPasswordForm)" [formGroup]="resetPasswordForm">
                            <div class="col-md-12">
                                <div class="col-md-10 col-md-offset-1" style="padding-top: 10px">
                                    <b> Please note that when changing your password, we ask you to set yourself a
                                        secure password
                                        that contains both uppercase and lowercase letters as well as numbers. This is
                                        for
                                        your own safety.
                                    </b>
                                </div>
                                <table class="col-md-6 col-md-offset-1">
                                    <tr>
                                        <td class="col-md-2">Current Password</td>
                                        <td>
                                            <mat-form-field class="col-md-4">
                                                <input autocomplete="off" type="password" matInput
                                                    placeholder="Current Password" formControlName="currentPassword">
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-2">New Password</td>
                                        <td>
                                            <mat-form-field class="col-md-4">
                                                <input autocomplete="off" type="password" matInput
                                                    placeholder="New Password" formControlName="password">
                                                <mat-error
                                                    *ngIf="resetPasswordForm.controls['password'].hasError('required')">
                                                    Password is required.
                                                </mat-error>
                                            </mat-form-field>
                                            <div *ngIf="resetPassAttempt && resetPasswordForm.controls['password'].hasError('minlength') 
                                                        && !resetPasswordForm.controls['password'].hasError('required')"
                                                class="col-md-4" style="color: red">
                                                Minimum 8 characters.
                                            </div>
                                            <div *ngIf="resetPassAttempt && !resetPasswordForm.controls['password'].hasError('minlength') 
                                                        && !resetPasswordForm.controls['password'].hasError('required') && resetPasswordForm.controls['password'].hasError('pattern')"
                                                class="col-md-4" style="color: red">
                                                Not a valid pattern for password.
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-2">Confirm Password</td>
                                        <mat-form-field class="col-md-4">
                                            <input autocomplete="off" type="password" matInput
                                                placeholder="Confirm Password" formControlName="confirmPassword">
                                            <mat-error
                                                *ngIf="resetPasswordForm.controls['confirmPassword'].hasError('required')">
                                                Confirm Password is required.
                                            </mat-error>
                                        </mat-form-field>
                                        <div *ngIf="resetPassAttempt && resetPasswordForm.errors?.mismatch && !resetPasswordForm.controls['confirmPassword'].hasError('required')"
                                            class="col-md-4" style="color: red">
                                            Passwords do not match.
                                        </div>
                                    </tr>
                                </table>
                            </div>
                            <div class="row col-md-offset-1" style="padding-top: 30px">
                                <button mat-raised-button
                                    style="background-color: #04c0be; color: white; margin-left: 25px"
                                    type="submit">Change Password</button>
                            </div>
                        </form>
                    </mat-tab>
                    <mat-tab *ngIf='UserRole == 4' label="Files">
                        <div class="demo-tab-content">
                            <div class="col-md-12 vertical-center">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h3>Files</h3>
                                    </div>
                                    <div class="col-md-6 col-lg-6" style="margin-top: 10px; text-align: right">
                                        <button mat-button type="button" color="warn" (click)="uploadClick()">
                                            <mat-icon>file_upload</mat-icon>
                                            {{OriginalFileNameForDisplay}}
                                            <span *ngIf='!OriginalFileNameForDisplay'>Upload</span>
                                        </button>
                                        <i *ngIf='OriginalFileName' style="cursor: pointer;" class="material-icons"
                                            #tooltip="matTooltip" matTooltip="Remove File" matTooltipPosition="right"
                                            (click)="removeAttachedFile()">
                                            cancel
                                        </i>
                                        <input type="file" id="UploadButton" (change)="upload($event.target.files)"
                                            style="display: none" />
                                        <button mat-raised-button (click)="AddFile()" type="button" mat-raised-button
                                            style="color:white; background-color: #04c0be;">
                                            Add
                                            <i class="material-icons" matTooltip="Add File">add</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12" *ngIf="SubstituteFiles">
                                <div class="col-lg-12 col-md-12 mat-elevation-z8">
                                    <div class="row" *ngFor="let file of SubstituteFiles">
                                        <div style="margin-top: 10px">
                                            <mat-form-field class="col-md-3 col-lg-3">
                                                <input disabled="true" matInput [(ngModel)]="file.originalFileName"
                                                    placeholder="File Name">
                                            </mat-form-field>
                                        </div>
                                        <div style="margin-top: 10px">
                                            <mat-form-field class="col-md-3 col-lg-3">
                                                <input type="datetime-local" disabled="true" matInput
                                                    [(ngModel)]="file.date" placeholder="Date">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-2 col-lg-2" style="margin-top: 10px; text-align: right">
                                            <a style="cursor: pointer;margin-left: 10px" #tooltip="matTooltip"
                                                matTooltip="View File" matTooltipPosition="below">
                                                <i class="material-icons" (click)="ViewFile(file)">visibility</i>
                                            </a>
                                            <a style="cursor: pointer;margin-left: 10px" #tooltip="matTooltip"
                                                matTooltip="Download File" matTooltipPosition="below">
                                                <i class="material-icons" (click)="DownloadFile(file)">get_app</i>
                                            </a>
                                            <a style="cursor: pointer;margin-left: 10px" #tooltip="matTooltip"
                                                matTooltip="Delete File" matTooltipPosition="below">
                                                <i class="material-icons" (click)="DeleteFile(file)">delete_sweep</i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab *ngIf='UserRole != 4' label="Official Information">
                        <div class="demo-tab-content">
                            <form (ngSubmit)="onFromSubmit(officialFormGroup)" [formGroup]="officialFormGroup">
                                <table class="col-md-12 col-lg-12">
                                    <tr>
                                        <td>
                                            <mat-form-field class="demo-full-width">
                                                <input matInput placeholder="Employee ID" formControlName="EmployeeID">
                                            </mat-form-field>
                                        </td>
                                        <td>
                                            <mat-form-field class="demo-full-width">
                                                <input matInput placeholder="Employee Type"
                                                    formControlName="EmployeeType">
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <mat-form-field class="demo-full-width">
                                                <input matInput placeholder="Certified" formControlName="Certified">
                                            </mat-form-field>
                                        </td>
                                        <td>
                                            <mat-form-field class="demo-full-width">
                                                <input matInput placeholder="Organization"
                                                    formControlName="Organization">
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                    <tr style="text-align: right">
                                        <td colspan="2" class="content-center">
                                            <button disabled mat-raised-button color="primary"
                                                type="submit">Save</button>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </mat-tab>
                    <!-- <mat-tab *ngIf='UserRole != 4' label="Substitute Preferences">
                            <form (ngSubmit)="SaveSubstitutePreference()" [formGroup]="PreferencesFormGroup">
                                <div style="padding-top: 10px; min-height:500px" class=" col-md-10 col-md-offset-1 shadow">
                                    <div style="font-size: 15px" class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <b> Favorite Substitutes </b>
                                                <br> Remaining choices: {{5 - FavoriteSubstututes.length}}
                                            </div>
                                            <div class="col-md-7">
                                                <mat-form-field class="col-md-5 col-lg-5">
                                                    <input type="text" placeholder="Search Substitute here" aria-label="Number" (input)="SearchSubstitutes($event.target.value)"
                                                        matInput [matAutocomplete]="autoCom">
                                                    <mat-autocomplete #autoCom="matAutocomplete">
                                                        <mat-option (onSelectionChange)="SelectToAddInPreferredSubstitute(user)" *ngFor="let user of SubstituteList | async" [value]="">
                                                            {{user.firstName}}
                                                        </mat-option>
                                                    </mat-autocomplete>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div style="height:175px" class="col-md-12">
                                        <div *ngIf='FavoriteSubstututes && FavoriteSubstututes.length'>
                                            <a *ngFor="let Substitute of FavoriteSubstututes">
                                                <mat-icon style="cursor: pointer;" #tooltip="matTooltip" (click)="FavoriteSubstututes.splice($index,1)" matTooltip="Remove Substitute"
                                                    matTooltipPosition="left">cancel</mat-icon>{{Substitute.firstName}}
                                                <br>
                                            </a>
                                        </div>
                                    </div>
                                    <div style="font-size: 15px" class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <b> Blocked Substitutes </b>
                                                <br> Remaining choices: {{5 - BlockedSubstitutes.length}}
                                            </div>
                                            <div class="col-md-7">
                                                <mat-form-field class="col-md-10 col-lg-10">
                                                    <input type="text" placeholder="Search Substitute here" aria-label="Number" (input)="SearchSubstitutes($event.target.value)"
                                                        matInput [matAutocomplete]="auto">
                                                    <mat-autocomplete #auto="matAutocomplete">
                                                        <mat-option (onSelectionChange)="SelectToBlockSubstitite(user)" *ngFor="let user of SubstituteList | async" [value]="">
                                                            {{user.firstName}}
                                                        </mat-option>
                                                    </mat-autocomplete>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div style="height:175px;" class="col-md-12">
                                        <div *ngIf='BlockedSubstitutes && BlockedSubstitutes.length'>
                                            <a *ngFor="let Substitute of BlockedSubstitutes">
                                                <mat-icon style="cursor: pointer;" #tooltip="matTooltip" (click)="BlockedSubstitutes.splice($index,1)" matTooltip="Remove Substitute"
                                                    matTooltipPosition="left">cancel</mat-icon>{{Substitute.firstName}}
                                                <br>
                                            </a>

                                        </div>
                                    </div>
                                    <div style="text-align: center" class="col-md-12">
                                        <button mat-raised-button color="primary" type="submit">Save</button>
                                    </div>
                                </div>
                            </form>
                        </mat-tab> -->
                    <!-- <mat-tab label="Add Schedule">
                            <div class="row col-md-12" style="padding-top:10px">
                                <div class="col-md-2">
                                    <mat-form-field>
                                        <input matInput placeholder="Name">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field >
                                        <input matInput type="number" placeholder="Period">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field>
                                        <input matInput type="time" placeholder="Start Time">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field>
                                        <input matInput type="time" placeholder="End Time">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field>
                                        <input matInput type="text" placeholder="Subject">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <mat-form-field>
                                        <input matInput type="text" placeholder="Grade">
                                    </mat-form-field>
                                </div>
                            </div>
                        </mat-tab> -->
                </mat-tab-group>
            </mat-card-content>
        </mat-card>
    </div>
</div>