<mat-card>
    <mat-card-content>
        <mat-card-title>Jobs</mat-card-title>
        <mat-tab-group class="demo-tab-group" (selectedTabChange)="onTabChange($event)">
            <mat-tab label="Open({{available}})">
                <available-jobs (AvailableCountEvent)="AvailableJobCounter($event)"></available-jobs>
            </mat-tab>
            <mat-tab label="My Jobs({{upcoming}})">
                <my-jobs (UpcomingCountEvent)="UpcomingJobCounter($event)"></my-jobs>
            </mat-tab>
            <mat-tab label="Past({{past}})">
                <past-jobs (PastCountEvent)="PastJobCounter($event)"></past-jobs>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>