::ng-deep .mat-column-Action {
  flex: 0 0 0% !important;
  min-width: 120px !important;
}
  .example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }

  .mat-table {
    overflow: auto;
    max-height: 400px;
  }

  .vertical-center {  
    min-height: 5vh;
    display: flex;
    align-items: center;
  }

.mat-column-AbsenceDate {
    flex: 0 0 5% !important;
    min-width: 180px !important;
}

.mat-column-JobId {
  flex: 0 0 5% !important;
  min-width: 100px !important;
}

.mat-column-Posted {
    flex: 0 0 5% !important;
    min-width: 200px !important;
}

.mat-column-Location {
  flex: 0 0 5% !important;
  min-width: 200px !important;
}

.mat-column-Employee {
    flex: 0 0 5% !important;
    min-width: 180px !important;
}

.mat-column-Status {
  flex: 0 0 5% !important;
  min-width: 180px !important;
}