.mat-column-Attachment {
    flex: 0 0 5% !important;
    min-width: 120px !important;
}

.mat-column-Posted {
    flex: 0 0 5% !important;
    min-width: 120px !important;
}

.mat-column-JobId {
    flex: 0 0 5% !important;
    min-width: 100px !important;
}