<!-- <block-ui>
    
</block-ui>  -->
<style>
    .schoolForm-table {
        text-align: left;
        font-size: 12px;
    }
</style>
<mat-card>
    <mat-card-title>{{SchoolIdForUpdate ? 'Edit School': 'Add School'}}</mat-card-title>
    <hr>
    <mat-card-content>
        <form (ngSubmit)="onSubmit(schoolForm)" [formGroup]="schoolForm">
            <table class="row col-md-offset-1 schoolForm-table">
                <tr>
                    <td class="col-md-2">School’s Name</td>
                    <td>
                        <mat-form-field class="col-md-4">
                            <input matInput placeholder="Name" formControlName="Name" required>
                            <mat-error *ngIf="schoolForm.controls['Name'].hasError('required')">
                                School’s Name is required.
                            </mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-2">District</td>
                    <td>
                        <mat-form-field class="col-md-4">
                            <mat-select placeholder="District" formControlName="district" required>
                                <mat-option>--</mat-option>
                                <mat-option *ngFor="let district of Districts" (click)="setCountryCode(district.counrtyCode)" [value]="district.districtId">
                                    {{district.districtName}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="schoolForm.controls['district'].hasError('required')">
                                Please select any district.
                            </mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-2">Address</td>
                    <td>
                        <mat-form-field hintLabel="Min 7 and Max 50 characters." class="col-md-4">
                            <textarea matInput #address minlength="7" maxlength="50" placeholder="Address" formControlName="Address" matTextareaAutosize
                                matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
                            <mat-hint align="end">{{address.value?.length || 0}}/50</mat-hint>
                            <mat-error *ngIf="schoolForm.controls['Address'].hasError('required')">
                                Address is required.
                            </mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-2">City</td>
                    <td>
                        <mat-form-field hintLabel="Min 2 and Max 30 characters." class="col-md-4">
                            <input matInput #city minlength="2" maxlength="30" placeholder="City" formControlName="City">
                            <mat-hint align="end">{{city.value?.length || 0}}/30</mat-hint>
                            <mat-error *ngIf="schoolForm.controls['City'].hasError('required')">
                                City is required.
                            </mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-2">Zip Code</td>
                    <td>
                        <mat-form-field hintLabel="Min 3 and Max 6 characters." class="col-md-4">
                            <input matInput #zipCode minlength="3" maxlength="6" placeholder="Zip Code" formControlName="ZipCode">
                            <mat-hint align="end">{{zipCode.value?.length || 0}}/6</mat-hint>
                            <mat-error *ngIf="schoolForm.controls['ZipCode'].hasError('pattern')">
                                Only numbers allowed
                            </mat-error>
                            <mat-error *ngIf="schoolForm.controls['ZipCode'].hasError('required')">
                                Zip Code is required.
                            </mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-2">Phone Number</td>
                    <td>
                        <mat-form-field hintLabel="Min 7 and Max 15 characters." class="col-md-4">
                            <span matPrefix>{{countryCode}} &nbsp;</span>
                            <input matInput #phone minlength="7" maxlength="15" placeholder="Phone No" formControlName="PhoneNo">
                            <mat-hint align="end">{{phone.value?.length || 0}}/15</mat-hint>
                            <mat-error *ngIf="schoolForm.controls['PhoneNo'].hasError('pattern')">
                                Only numbers allowed
                            </mat-error>
                            <mat-error *ngIf="schoolForm.controls['PhoneNo'].hasError('required')">
                                Phone Number is required.
                            </mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-2">Time Zone</td>
                    <td>
                        <mat-form-field class="col-md-4">
                            <mat-select placeholder="Select Time Zone" formControlName="TimeZone">
                                <mat-option>-- Select Any --</mat-option>
                                <mat-option *ngFor="let timezone of timezones" [value]="timezone.id">
                                    {{timezone.timeZone_Title}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="schoolForm.controls['TimeZone'].hasError('required')">
                                Time Zone is required.
                            </mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-2">Time</td>
                    <td>
                        <mat-form-field class="col-md-2">
                            <input matInput type="time" placeholder="Start Time" formControlName="StartTime">
                        </mat-form-field>
                        <mat-form-field class="col-md-2">
                            <input matInput type="time" placeholder="1st Half Day EndTime" formControlName="firstHalfEndTime">
                        </mat-form-field>
                        <mat-form-field class="col-md-2">
                            <input matInput type="time" placeholder="2nt Half Day StartTime" formControlName="SecondHalfStartTime">
                        </mat-form-field>
                        <mat-form-field class="col-md-2">
                            <input matInput type="time" placeholder="End Time" formControlName="EndTime">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="content-center" style="padding-top: 20px">
                        <button mat-raised-button style="background-color: #04c0be; color: white; margin-left: 10px;" type="submit">{{SchoolIdForUpdate ? 'Update': 'Add School to Database'}}</button>
                        <a routerLink="../../schools">
                            <button mat-raised-button type="button" style="background-color: #74a4a7; color: white; margin-left: 5px">Back</button>
                        </a>
                    </td>
                </tr>
            </table>
        </form>
    </mat-card-content>
</mat-card>