<mat-card>
  <mat-card-title>Schools</mat-card-title>
  <div>
    <div class="row">
      <div class="col-md-12 col-lg-12" style="text-align: right">
        <a routerLink="./AddSchool" [hideIfUnauthorized]="'ADD_SCHOOL'">
          <button mat-raised-button style="background: #3CCCD1; color: white;">Add Schools</button></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="example-container mat-elevation-z8">
        <div class="example-header">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
        </div>
        <mat-table #table [dataSource]="dataSource" matSort>
          <!-- Position Column -->
          <ng-container matColumnDef="SchoolName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name. </mat-header-cell>
            <mat-cell *matCellDef="let iSchool"> {{iSchool.schoolName}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="SchoolAddress">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Address </mat-header-cell>
            <mat-cell *matCellDef="let iSchool"> {{iSchool.schoolAddress}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="ZipCode">
            <mat-header-cell *matHeaderCellDef> Zip Code </mat-header-cell>
            <mat-cell *matCellDef="let iSchool"> {{iSchool.schoolZipCode}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="DistrictName">
            <mat-header-cell *matHeaderCellDef> District </mat-header-cell>
            <mat-cell *matCellDef="let iSchool"> {{iSchool.districtName}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <a style="cursor: pointer;" #tooltip="matTooltip" matTooltip="Delete School" matTooltipPosition="below">
                <i class="material-icons" (click)="deleteSchool(row)">delete_sweep</i>
              </a>
              <a style="cursor: pointer;margin-left: 10px" #tooltip="matTooltip" matTooltip="Edit School"
                matTooltipPosition="below">
                <i class="material-icons" (click)="EditSchool(row)">edit</i>
              </a>
              <a style="cursor: pointer;margin-left: 10px" #tooltip="matTooltip" matTooltip="View Detail"
                matTooltipPosition="below">
                <i class="material-icons" (click)="ViewSchoolDetail(row)">visibility</i>
              </a>
              <mat-slide-toggle #tooltip="matTooltip" style="margin-left:5px"
                [matTooltip]="row.isActive ? 'click to Inactivate' : 'click to Activate'" matTooltipPosition="above"
                [checked]="row.isActive" (change)="updateSchool(row)" color=""></mat-slide-toggle>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[1, 10, 20]" [showFirstLastButtons]="true">
        </mat-paginator>
      </div>
    </div>
  </div>
</mat-card>