.heading {
    font-weight: bold
}

.absence-summary-title {
    color: #5e5e5e;
    background: #f3f3f3;
    padding: 10px !important;
    border-top: solid 1px #e8e6e7;
    border-bottom: solid 1px #e8e6e7;
    font-size: 1.2em;
    padding-left: 30px !important;
  }
  
  .report-details-table tr {
    td:first-child  {
    vertical-align: middle;
    text-align: left;
    color: #ababab;
    width: 30%;
    font-size: 12px;
    padding-left: 50px;
    }
    td:last-child  {
      vertical-align: middle;
      text-align: left;
      color: #868686;
      font-size: 12px;
      }
  }