table {
    width: 100%;
  }

.mat-column-Date {
    flex: 0 0 25% !important;
    min-width: 104px !important;
}

.mat-column-Employee {
    flex: 0 0 25% !important;
    min-width: 104px !important;
}

  .mat-column-Location {
    flex: 0 0 25% !important;
    min-width: 104px !important;
}

.mat-column-Reason {
    flex: 0 0 25% !important;
    min-width: 104px !important;
}

.mat-column-Time {
    flex: 0 0 25% !important;
    min-width: 104px !important;
}

.mat-column-Hours {
    flex: 0 0 25% !important;
    min-width: 104px !important;
}

.mat-column-Notes {
    flex: 0 0 25% !important;
    min-width: 104px !important;
}

.mat-column-Substitute {
    flex: 0 0 25% !important;
    min-width: 104px !important;
}

.mat-column-Rate {
    flex: 0 0 25% !important;
    min-width: 104px !important;
}

.mat-column-Additional {
    flex: 0 0 25% !important;
    min-width: 104px !important;
}

.mat-column-Gross {
    flex: 0 0 25% !important;
    min-width: 104px !important;
}

.mat-column-action {
    flex: 0 0 25% !important;
    min-width: 110px !important;
}

.vertical-center {  
    min-height: 7vh;
    display: flex;
    align-items: center;
}