::ng-deep .mat-column-Action {
    flex: 0 0 5% !important;
    min-width: 100px !important;
  }

.mat-column-AbsenceDate {
  flex: 0 0 5% !important;
  min-width: 200px !important;
}

.mat-column-JobId {
  flex: 0 0 5% !important;
  min-width: 110px !important;
}

.mat-column-Posted {
    flex: 0 0 5% !important;
    min-width: 210px !important;
}

.mat-column-Location {
  flex: 0 0 5% !important;
  min-width: 210px !important;
}

.mat-column-Status {
  flex: 0 0 5% !important;
  min-width: 160px !important;
}

.mat-column-Substitute {
    flex: 0 0 5% !important;
    min-width: 180px !important;
}
